/**
* Base template
*
*/
html {
	font-size: 62.5%;
	overflow-x: hidden;
}

body {
	padding: 0;
	margin: 0;
	overflow-x: hidden;
}

header {	
	width: 100%;
	float: left;
}

.section{
	width: 100%;
	float: left;
}

.section.page-one{
	width: 100%;
	height: 100%;
	float: left;
}

main {
	float: left;
	width: 100%;
}

a{text-decoration: none;}

footer { 
	width: 100%;
	float: left;
}

.background{
	background: -moz-linear-gradient(top,  rgba(255,255,255,0.34) 0%, rgba(138,201,52,0.77) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.34)), color-stop(100%,rgba(138,201,52,0.77))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0.34) 0%,rgba(138,201,52,0.77) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,0.34) 0%,rgba(138,201,52,0.77) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,0.34) 0%,rgba(138,201,52,0.77) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,0.34) 0%,rgba(138,201,52,0.77) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#57ffffff', endColorstr='#c48ac934',GradientType=0 ); /* IE6-9 */
}

.background-2{
	background: -moz-linear-gradient(top,  rgba(255,255,255,0.34) 0%, rgba(250,145,1,0.77) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.34)), color-stop(100%,rgba(250,145,1,0.77))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0.34) 0%,rgba(250,145,1,0.77) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,0.34) 0%,rgba(250,145,1,0.77) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,0.34) 0%,rgba(250,145,1,0.77) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,0.34) 0%,rgba(250,145,1,0.77) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#57ffffff', endColorstr='#c4fa9101',GradientType=0 ); /* IE6-9 */
}


// Headings

h1,
h2,
h3 { line-height: @baseLineHeight * 2; }

h1 { font-size: @baseFontSize * 2.75; } // ~38px
h2 { font-size: @baseFontSize * 2.25; } // ~32px
h3 { font-size: @baseFontSize * 1.75; } // ~24px
h4 { font-size: @baseFontSize * 1.25; } // ~18px
h5 { font-size: @baseFontSize; }
h6 { font-size: @baseFontSize * 0.85; } // ~12px

h1 small { font-size: @baseFontSize * 1.75; } // ~24px
h2 small { font-size: @baseFontSize * 1.25; } // ~18px
h3 small { font-size: @baseFontSize; }
h4 small { font-size: @baseFontSize; }