.section.page-one{
	height: auto;
}
.menu-lateral{
	float: right;
	
	.moduletable{

		#jj_sl_navigation{
			top: 40%;
			li{
				a{
					font-family: @comforta;
					font-size: @font22;
					text-align: center;
					border-radius: 24px 0px 0px 24px;
					width: 203px;
					padding: 13px 0px 13px 0px;
					position: relative;
					&:before{
						content: '';
						position: absolute;
						background-image: url(../images/page-three/iconos-laterales.png);
						width: 56px;
						height: 40px;
						left: 7px;
						top: 5px;
					}
					span.jj_social_text{
						margin-left: 30px;
					}
				}
			}
			.jj_sl_custom1{
				a{
					background-color: #0190CC;
					&:before{background-position: -10px -17px;}
				}
			}
			.jj_sl_custom2{
				a{
					background-color: #34A7D6;
					&:before{background-position: -96px -17px;}
				}
			}
			.jj_sl_custom3{
				a{
					background-color: #01C1E6;
					&:before{background-position: -189px -17px;}
				}
			}
			.jj_sl_custom4{
				a{
					background-color: #71DBF1;
					&:before{background-position: -291px -17px;}
				}
			}
			.jj_sl_custom5{
				a{
					padding: 3px 0;
					background-color: #B0EAF6;
					&:before{background-position: -363px -17px;}
				}
			}
		}
	}
}
main{
	position: relative;
	.category_description{
		h1{
			width: 100%;
			font-family: @comforta;
			color: @base;
			font-size: @font40;
			background-repeat: no-repeat;
			background-position: center top;
			height: 136px;
			position: absolute;
			left: 0;
			top: 0;
			text-align: center;
			span{
				width: 1136px;
				margin: 0 auto;
				display: inline-block;
				text-align: left;
				margin: 49px 0;
			}
		}
		.fondo-rosado{background-image: url(../images/catalogo/CienciasEmpresariales.png);}
		.fondo-verde{background-image: url(../images/catalogo/Educacion,CienciasHumanasySociales.png);}
		.fondo-naranja{background-image: url(../images/catalogo/salud.png);}
	}
	.antispan{
		float: left;
		height: 135px;
		width: 100%;
		h1{
			span{display: none;}
		}
	}
	.category-view{
		float: left;
		width: 100%;
		margin-bottom: 150px;
		h1{
			font-family: @comforta;
			color: @azulTitle;
			font-size: @font40;
			font-weight: 100;
			text-align: center;
			margin-top: 80px;
			position: relative;
			margin-bottom: 50px;

			&:after{
				content: '';
				position: absolute;
				width: 100%;
				height: 2px;
				background: @azulTitle;
				left: 0;
				top: 21px;
			}

			span{
				display: inline-block;
				text-align: right;
				position: relative;
				background: @base;
				z-index: 9;
				padding: 0 23px;
			}
		}
		.row{width: 100%;}
		.row .category{
			width: 32%;
			margin-right: 20px;
			h2{
				position: relative;
				p{
					position: absolute;
					bottom: 0;
					width: 50%;
					left: 0;
					text-align: left;
					font-family: @Roboto;
					font-size: @font19;
					color: @base;
					height: 79px;
					padding-left: 20px;
				}
				span{
					position: absolute;
					bottom: 32px;
					right: 17px;
					text-align: left;
					font-family: @Roboto;
					font-size: @font15;
					color: @base;
					padding: 6px 10px;
					border: 1px solid @base;
				}
			}
			&:nth-child(3){margin: 0;}
		}
	}
	.browse-view{
		width: 100%;
		float: left;
		margin-top: 220px;
		.orderby-displaynumber{display: none;}
		.row{
			.width30{
				width: 25%;
			}
			.width70{
				width: 75%;
				h2{
					margin: 13px 0 !important;
					a{
						font-family: @Roboto;
						font-size: @font28;
						color: @AzulHeader;
						font-weight: 500;
					}
				}
				p.product_s_desc{
					font-family: @content;
					font-size: @font16;
					line-height: 22px;
					color: @ColorContent;
					text-align: justify;
				}
				.product-price {display: none;}
				.vermas-catalogo{
					a{
						font-family: @montserrat;
						color: @azulMenu;
						font-size: @font16;
						position: relative;
						width: 68px;
						height: 35px;
						float: left;
						margin-left: 40px;
						margin-top: 8px;
						background: none;
						border: none;

						&:after{
							content: '';
							position: absolute;
							width: 100%;
							height: 5px;
							border-right: 1px solid @azulMenu;
							border-bottom: 1px solid @azulMenu;
							bottom: 16px;
							right: 0;
						}

						&:before{
							content: '+';
							position: absolute;
							background: @azulMenu;
							color: @base;
							left: -27px;
							top: -2px;;
							background-position: -145px -6px;
							padding: 0px 5px;
							border-radius: 50%;
							font-size: 24px;
						}
					}
				}
			}
		}
		.horizontal-separator{margin: 18px 0;}
	}
	.productdetails-view {
		float: left;
		margin-bottom: 50px;
		margin-top: 40px;
		width: 100%;
		h1{
			font-family: @comforta;
			color: @base;
			font-size: @font40;
			position: absolute;
			text-align: center;
			z-index: 9;
			top: 0;
			width: 100%;
			left: 0;
			span{
				width: 1136px;
				margin: 0 auto;
				display: inline-block;
				text-align: left;
				margin: 49px 0;
			}
		}
		.icons, .product-short-description{display: none;}
		.product-description{
			float: left;
			width: 55%;
			margin: 0;
			span.title{display: none;}
			.nn_sliders_container{
				.nn_sliders_slider{
					a{
						background-color: @grisAcordeon;
						position: relative;
						font-family: @Roboto;
						font-size: @font21;
						color: @azulBuscar;
						font-weight: normal;
						padding: 3px 15px;
						border-radius: 0;
						margin-top: 5px;
						border: none;
						&:after{
							content: '';
							position: absolute;
							background-image: url(../images/catalogo/Flechas.png);
							width: 23px;
							height: 26px;
							background-repeat: no-repeat;
							right: 21px;
							top: 30%;
							background-position: 0px -27px;
						}
					}
				}
				.nn_sliders_slider.active{
					a{
						background-color: @azulMenu;
						color: @base;
						&:after{
							content: '';
							position: absolute;
							background-image: url(../images/catalogo/Flechas.png);
							width: 23px;
							height: 26px;
							background-repeat: no-repeat;
							right: 21px;
							top: 30%;
							background-position: 0 0;
						}
					}
				}
				.nn_sliders_content{
					border: none;
					padding: 19px 15px !important;
					p{
						font-family: @content;
						font-size: @font16;
						line-height: 22px;
						color: @ColorContent;
						text-align: justify;
						margin-bottom: 16px;
					}
					ul{
						padding-left: 32px;
						margin: 25px 0;
						li{
							font-family: @content;
							font-size: @font16;
							line-height: 22px;
							color: @ColorContent;
							text-align: justify;
							margin-bottom: 10px;
							position: relative;
							&:before{
								content: '';
								position: absolute;
								width: 6px;
								height: 6px;
								background-color:@base;
								border: 3px solid @azulMenu;
								left: -20px;
								top: 4px;
								border-radius: 50%;
							}
						}
					}
				}
			}
			.spacer-buy-area{
				padding-left: 0;
				float: left;
				margin: 23px 0;
				.addtocart-area{display: none;}
				.product-price{
					strong{display: none;}
					.PricesalesPrice{
						float: left;
						background: #F7F7F7;
						font-family: @Roboto;
						font-size: @font28;
						color: @azulMenu;
						padding: 7px 17px;
						span.PricesalesPrice{
							float: none;
							color:@ColorContent;
							background: no-repeat;
						}
					}
				}
			}
			table td{padding-right: 20px; padding-top: 10px; padding-bottom: 10px;}
		}
		.formulario-catalogo{
			float: right;
			width: 39%;
			padding-right: 20px;
		}

		.back-to-category{
			width: 100%;
			a{
				font-family: @montserrat;
				color: @azulMenu;
				font-size: @font18;
				position: relative;
				width: 75px;
				height: 35px;
				float: left;
				margin-left: 40px;
				margin-top: 28px;
				background: none;
				border: none;

				&:after{
					content: '';
					position: absolute;
					width: 100%;
					height: 5px;
					border-right: 1px solid @azulMenu;
					border-bottom: 1px solid @azulMenu;
					bottom: 16px;
					right: 0;
				}

				&:before{
					content: '';
					position: absolute;
					background-image: url(../images/catalogo/volver.png);
					background-repeat: no-repeat;
					background-position: 4px 2px;
					width: 25px;
					height: 25px;
					background-color: #00B4DF;
					left: -27px;
					top: 0px;
					border-radius: 50%;
				}
			}
		}
	}
	.img-top{
		width: 100%;
		float: left;
		height: 307px;
		.product-fields{
			margin: 0;
			.img-detalle-catalogo{
				position: absolute;
				left: 0;
				width: 100%;
				text-align: center;
				img{
					width: 1920px;
					display: inline-block;
					position: relative;
					z-index: -1;
					margin-top: -15px;
					max-width: none !important;
				}
			}
		}
	}
}


.item-pageelectivas {
	text-align: center;
	font-family: @content;
	font-size: @font16;
	padding: 0 0 70px 0;

	div.nn_tabs_container > div.nn_tabs_content {
		border:0;
		background: @blanco;
		padding:30px 20px 30px 20px;
		margin-bottom: 0;
	}

	div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li > span > a {font-size: 14px;}

	hr {
		border-top: 0;
		border-right: 0;
		border-left: 0;
		border-bottom: 1px solid lighten(@gris, 20%);
	}

	a {color: @azulMenu; text-decoration: underline;}

	h3 {
		text-align: left;
		color: @azulMenu;
		font-family: @Roboto;
		font-size: @font28;
		font-weight: 700;
		margin-bottom: 10px;
	}

	h4 {
		color: @azulsub;
		font-weight: bold;
		text-align: left;
		font-size: @font20;
		margin: 15px 0 20px;
	}

	ul {
		margin: 20px 0;
		li {
			position: relative;
			text-align: justify;
			color: darken(@gris, 25%);
			line-height: 23px;
			margin-bottom: 10px;
			padding-left: 25px;
			word-break: break-word;
			&:before {
				position: absolute;
				content: "";
				.size(8px, 8px);
				top: 6px;
				left: 5px;
				background: @azulMenu;
				opacity: 0.4;
				border-radius: 100%;
			}
		}
	}

	ol {
		margin: 20px 0 20px 30px;
		li {
			position: relative;
			text-align: justify;
			color: darken(@gris, 25%);
			line-height: 23px;
			margin-bottom: 10px;
			padding-left: 5px;
			word-break: break-word;
			list-style: decimal;
		}
	}

	h2 {
		font-family: @comforta;
		color: @azulTitle;
		font-size: @font40;
		font-weight: 100;
		text-align: center;
		margin-top: 80px;
		position: relative;
		margin-bottom: 50px;

		&:after{
			content: '';
			position: absolute;
			width: 100%;
			height: 2px;
			background: @azulTitle;
			left: 0;
			top: 21px;
		}

		span{
			display: inline-block;
			text-align: right;
			position: relative;
			background: @base;
			z-index: 9;
			padding: 0 23px;
		}
	}

	p {
		color: darken(@gris, 25%);
		line-height: 23px;
		text-align: justify;
		font-size: @font16;

	}

	strong {font-weight: bold; color: darken(@gris, 40%); }

}


.item-page, .page-pqrs {
	text-align: center;
	font-family: @content;
	font-size: @font16;
	padding: 0 0 70px 0;


	hr {
		border-top: 0;
		border-right: 0;
		border-left: 0;
		border-bottom: 1px solid lighten(@gris, 20%);
	}

	a {color: @azulMenu; text-decoration: underline;}

	h3 {
		text-align: left;
		color: @azulMenu;
		font-family: @Roboto;
		font-size: @font28;
		font-weight: 700;
		margin-bottom: 10px;
	}

	h4 {
		color: @azulsub;
		font-weight: bold;
		text-align: left;
		font-size: @font20;
		margin: 15px 0 20px;
	}

	ul {
		margin: 20px 0;
		li {
			position: relative;
			text-align: justify;
			color: darken(@gris, 25%);
			line-height: 23px;
			margin-bottom: 10px;
			padding-left: 25px;
			word-break: break-word;
			&:before {
				position: absolute;
				content: "";
				.size(8px, 8px);
				top: 6px;
				left: 5px;
				background: @azulMenu;
				opacity: 0.4;
				border-radius: 100%;
			}
		}
	}

	ol {
		margin: 20px 0 20px 30px;
		li {
			position: relative;
			text-align: justify;
			color: darken(@gris, 25%);
			line-height: 23px;
			margin-bottom: 10px;
			padding-left: 5px;
			word-break: break-word;
			list-style: decimal;
		}
	}

	h2 {
		font-family: @comforta;
		color: @azulTitle;
		font-size: @font40;
		font-weight: 100;
		text-align: center;
		margin-top: 80px;
		position: relative;
		margin-bottom: 50px;

		&:after{
			content: '';
			position: absolute;
			width: 100%;
			height: 2px;
			background: @azulTitle;
			left: 0;
			top: 21px;
		}

		span{
			display: inline-block;
			text-align: right;
			position: relative;
			background: @base;
			z-index: 9;
			padding: 0 23px;
		}
	}

	p {
		color: darken(@gris, 25%);
		line-height: 23px;
		text-align: justify;
		font-size: @font16;

	}

	strong {font-weight: bold; color: darken(@gris, 40%); }
}

.item-pageciencias-salud {
	h2 {
		background-image: url("../images/catalogo/Educacion,CienciasHumanasySociales.png");
	}
}

.item-pageciencias-empresariales {
	h2 {
		background-image: url("../images/catalogo/CienciasEmpresariales.png");
	}
}

.item-pageciencias-humanas {
	h2 {
		background-image: url("../images/catalogo/salud.png");
	}
}


.item-pageciencias-salud, .item-pageciencias-empresariales, .item-pageciencias-humanas {
	text-align: center;
	font-family: @content;
	font-size: @font16;
	padding: 0 0 70px 0;
	margin-top: 160px;

	hr {
		border-top: 0;
		border-right: 0;
		border-left: 0;
		border-bottom: 1px solid lighten(@gris, 20%);
	}

	a {color: @azulMenu; text-decoration: underline;}

	h3 {
		text-align: left;
		color: @azulMenu;
		font-family: @Roboto;
		font-size: @font28;
		font-weight: 700;
		margin-bottom: 10px;
	}

	h4 {
		color: @azulsub;
		font-weight: bold;
		text-align: left;
		font-size: @font20;
		margin: 15px 0 20px;
	}

	ul {
		margin: 20px 0;
		li {
			position: relative;
			text-align: justify;
			color: darken(@gris, 25%);
			line-height: 23px;
			margin-bottom: 10px;
			padding-left: 25px;
			word-break: break-word;
			&:before {
				position: absolute;
				content: "";
				.size(8px, 8px);
				top: 6px;
				left: 5px;
				background: @azulMenu;
				opacity: 0.4;
				border-radius: 100%;
			}
		}
	}

	ol {
		margin: 20px 0 20px 30px;
		li {
			position: relative;
			text-align: justify;
			color: darken(@gris, 25%);
			line-height: 23px;
			margin-bottom: 10px;
			padding-left: 5px;
			word-break: break-word;
			list-style: decimal;
		}
	}

	h2 {
		
		background-position: center top;
	    background-repeat: no-repeat;
	    color: #ffffff;
	    font-family: "Comfortaa",cursive;
	    font-size: 4rem;
	    height: 136px;
	    left: 0;
	    position: absolute;
	    text-align: center;
	    top: 0;
	    width: 100%;
	    span {
	    	display: inline-block;
		    margin: 49px 0;
		    text-align: left;
		    width: 1136px;
		    padding-left: 20px;
	    }

	}

	p {
		color: darken(@gris, 25%);
		line-height: 23px;
		text-align: justify;
		font-size: @font16;

	}

	strong {font-weight: bold; color: darken(@gris, 40%); }
}

.item-pageque-es-ibero {
	text-align: center;
	font-family: @content;
	font-size: @font16;
	padding: 0 0 70px 0;


	h2 {
		font-family: @comforta;
		color: @azulTitle;
		font-size: @font40;
		font-weight: 100;
		text-align: center;
		margin-top: 80px;
		position: relative;
		margin-bottom: 50px;

		&:after{
			content: '';
			position: absolute;
			width: 100%;
			height: 2px;
			background: @azulTitle;
			left: 0;
			top: 21px;
		}

		span{
			display: inline-block;
			text-align: right;
			position: relative;
			background: @base;
			z-index: 9;
			padding: 0 23px;
		}
	}

	p {
		color: darken(@gris, 20%);
		line-height: 23px;
		padding: 0 140px;
	}

	strong {font-weight: bold;}
}


.tabla-responsive {
	td {
		padding: 15px;
		width: 30%;
	}
}

.borde {
	padding: 4px;
	background: lighten(@gris, 20%);
}

.tabla-col2 {
	td {
		vertical-align: top;
		width: 57%;
		img {width: 90%;}
	}
}


//modulo acordeon

div.nn_sliders_slider {margin-top: -3px !important;}


div.nn_sliders_slider a {
	background: @azulMenu;
    margin-bottom: 4px;
	color:@base !important;
	font-family: @Roboto;
	font-size:@font19;
	font-weight: bold;
	margin-top:3px;
	padding:11px 0 11px 19px !important;
	border-radius: 0;
	border: 0;
	position: relative;
	z-index: 2;
	text-align: left;
	&:after {
		position: absolute;
		content: "";
		bottom: 0;
		right: -20px;
		.size(57px, 50px);
		background: url("../images/bt-close.png")no-repeat;
		.transition(all .3s);
	}
}

	
div.nn_sliders_slider a:hover {
	background: @azulMenu !important;
    margin-bottom: 4px;
	color:@base !important;
	margin-top:3px;
		padding:11px 0 11px 19px !important;
	border-radius: 0;
	border: 0;
	&:after {background: url("../images/bt-open.png")no-repeat;}
}
	
div.nn_sliders_slider.active a, div.nn_sliders_slider.active a:hover {
	background: @azulMenu !important;
    margin-bottom: 4px;
	color:@base !important;
	margin-top:3px;
	padding:11px 0 11px 19px !important;
	border-radius: 0;
	border: 0;
	&:after {background: url("../images/bt-open.png")no-repeat;}
}
	
div.nn_sliders_content_wrapper div.nn_sliders_content {
	border:0 !important;
	padding-bottom: 30px !important;
    padding-left: 70px !important;
    padding-right: 70px !important;
    padding-top: 30px !important;
	border-radius: 0;
	background: @blanco;
	font-family: @fontbody !important;
	margin-bottom: 0px;
	color: @gris;
}

div.nn_sliders_content_wrapper div.nn_sliders_content h3 {
	color: @azul !important;
	font-family: @titlefont !important;
	font-size: @largeFont !important;
	margin-bottom: 15px !important;
	background: transparent !important;
	margin-left: 0 !important;
	padding: 0 !important;
}

div.nn_sliders_content_wrapper div.nn_sliders_content p, div.nn_sliders_content_wrapper div.nn_sliders_content ul li {
	// font-family: @fontbody !important;
	// color: @gris;
}




// publicaciones

.tabla-publicaciones {

	.borde {
		padding: 10px;
		background: lighten(@gris, 25%);
	}

	td {
		width: 57%;
		vertical-align: top;
		text-align: center;
		img {margin: 0 auto;}
		p {
			text-align: center;
			font-family: @comforta;
			font-weight: lighter;
			font-size: @font19;
		}
		&:last-child {
			padding-top: 40px;
		}
	}
}

.tabla-acordeon {

	.borde {
		padding: 10px;
		background: lighten(@gris, 25%);
	}

	td {
		width: 57%;
		vertical-align: top;
		text-align: center;
		img {margin: 0 auto;}
		p {
			text-align: center;
			font-family: @comforta;
			font-weight: lighter;
			font-size: @font19;
		}
		&:last-child {
			padding-top: 40px;
		}
	}
}

.boton-descargar {
	color: @base !important;
	text-decoration: none !important;
	font-weight: bold;
	font-size: @font18;
	background: url("../images/bt-descargar-pdf.png")no-repeat;
	display: inline-block;
	.size(181px, 90px);
	padding: 46px 0 0 71px;
	margin-top: 30px;
	text-align: center;
	.transition(all .3s);
	&:hover {
		.scale(1.1);
	}
}





// convenios


// tabs

div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li.active > span > a, div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li.active > span > a:hover {
	background: @azulMenu !important;
	color: @base !important;
}

div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li.active > span > a:focus {
	background: @azulMenu !important;
	color: @base !important;
}

div.nn_tabs_container.outline_handles > div.nn_tabs_nav > ul.nn_tabs_tabs > li > span > a, div.nn_tabs_container.outline_handles > div.nn_tabs_nav > ul.nn_tabs_tabs > li > span > a:hover {
    font-size: @otherFont;
    color: @azulTitle;
}

div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li > span > a:hover {
	background: @azulMenu;
	color: @base !important;
}


div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li > span > a {
    border-radius: 0;
    display: block;
    // margin-right: 10px;
    padding: 7px 8px;
    background: @base;
    transition-duration: 0.2s;
    border: 1px solid @azulMenu !important;
    color: @azulTitle;
    font-family: @Roboto;
    font-weight: bold;
}

div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li {
	&:before {display: none;}
}

div.nn_tabs_container > div.nn_tabs_content {
	border:0;
	background: @blanco;
	padding:60px 20px 40px 20px;
}

.nn_tabs_tabs {
	border: 0 !important;
}


.tabla-convenios {
	td {
		width: 49%;
		padding: 3%;
		vertical-align: middle;
	}
}

.tabla-tabs {
	td {
		width: 49%;
		padding: 3%;
		vertical-align: middle;
	}
}


.moduletablegaleria {
	margin: 0 auto;

	.ju-slideshow {
		margin: 0 auto;
		padding: 8px;
		background: lighten(@gris, 20%);

		.prev_button, .next_button {
			.size(37px, 37px);
			border-radius: 100%;
			background: url("../images/arrow-galley.png")no-repeat, @base;
			opacity: 0.6;
		}

		.prev_button {background-position: 4px 3px !important; left: 22px;}

		.next_button {background-position: 6px -62px !important; right: 21px;}

		.ju-slide-navigation-dots {display: none !important;}

		.ju-slide-desc {
			background: rgba(0, 98, 164, 1);
			padding: 20px 50px 10px;

			.label-title {font-family: @comforta; color: @base;}
			.label-desc {color: @base;}
		}
	}
}

.texto-azul {color: @azulMenu;}


// gestion de calidad

.tabla-gestion {
	tr {
		td {
			vertical-align: top;
			padding:30px 1%;
			border-bottom: 1px solid lighten(@gris, 20%);
			&:first-child {
				width: 35%;
			}
		}
	}
}


// adminisiones


//procedimientos

.tabla-base {
	td {
		padding: 30px 20px;
		font-family: @content;
		font-weight: bold;
		color: darken(@gris, 30%);
		border: 1px solid lighten(@gris, 20%) !important;
		vertical-align: middle;
		text-align: center;
	}
}

.columna-gris {
	background:lighten(@gris, 26%);
}

.columna-azul {
	background: #003B5D;
	color: @base !important;
	font-family: @Roboto !important;
	font-weight: bold;
	font-size: @font20;
}


// valores desctadados

.tabla-valores {
	position: relative;
	margin: 120px auto 70px !important;
	&:after {
		position: absolute;
		content: "";
		bottom: -140px;
		right: -345px;
		.size(444px, 359px);
		background: url("../images/hand.jpg");
		z-index: -1;
	}
	td {
		text-align: right;
		p {
			text-align: right;
			font-family: @comforta;
			font-size: @font20;
			color: darken(@gris, 30%);
			margin-right: 105px;
			border-bottom: 1px solid @verde;
			margin-bottom: 25px;
			position: relative;
			&:after {
				position: absolute;
				content: "";
				.size(38px, 61px);
				bottom: 0;
				right: -45px;
				background: url("../images/list-check.png");
			}
		}
	}
}

.tabla-servicio-admin {

	tr {
		&:first-child {
			td {
				&:nth-child(1) {
					background: #E9F5FA;
					border-right: 0 !important;
					h3 {
						&:before {
							background-position: 3px 9px;
						}
					}
				}
				&:nth-child(2) {
					// img {min-width: 406px;}
					border-left: 0 !important;
				}
				&:nth-child(3) {
					background: #CFEBF4;
					h3 {
						&:before {
							background-position: 3px -77px;
						}
					}
				}
			}
		}
		&:nth-child(2) {
			td {
				&:nth-child(1) {
					background: #CFEBF4;
					h3 {
						&:before {
							background-position: 5px -160px;
						}
					}
				}
				&:nth-child(2) {
					background: #E9F5FA;
					border-right: 0 !important;
					h3 {
						&:before {
							background-position: 4px -247px;
						}
					}
				}
				&:nth-child(3) {
					// img {min-width: 406px;}
					border-left: 0 !important;
				}
			}
		}
		&:nth-child(3) {
			td {
				&:nth-child(1) {
					background: #E9F5FA;
					border-right: 0 !important;
					h3 {
						&:before {
							background-position: 5px -323px;
						}
					}
				}
				&:nth-child(2) {
					// img {min-width: 406px;}
					border-left: 0 !important;
				}
				&:nth-child(3) {
					background: #CFEBF4;
					h3 {
						&:before {
							background-position: 5px -413px;
						}
					}
				}
			}
		}
		td {
			border: 10px solid #FFFFFF;
			vertical-align: top;
			min-width: 382px;
			

			div {
				.size(68%, auto);
				margin: 12% 7% 0 25%;

				h3 {
					font-family: @comforta;
					color: @AzulHeader;
					font-size: @font24;
					line-height: 29px;
					width: 100%;
					position: relative;
					&:before {
						position: absolute;
						content: "";
						top: -4px;
						left: -74px;
						.size(63px, 63px);
						background: url("../images/SpriteSA.png")no-repeat, @AzulHeader;
						border-radius: 100%;
					}
				}

				p {
					color: @AzulHeader;
				}
			}
		}
	}
}


// beneficios


.tabla-financiacion {
	width: 89% !important;
	margin: 0 auto;
	td {
		border:1px solid lighten(@gris, 10%);
		padding: 50px 40px;
		position: relative;
		img {
			position: relative;
			z-index: 10;
			margin: 0 auto;
		}
		&:hover {
			&:before {opacity: 1;}
		}
		&:before {
			position: absolute;
			content: "";
			top: -2px;
			left: -2px;
			.size(100%, 100%);
			background: transparent;
			border: 2px solid @azulMenu;
			opacity: 0;
			.transition(all .2s);
		}
	}
}


.tabla-puntajes {
	tr {
		&:nth-child(1){
			td {
				width: 70%;
				&:nth-child(1) {
					p {padding-right: 58%;}
				}
				&:nth-child(2) {
					color: #A3D8EB;
					font-weight: bold;
					font-size: @font18;
					border-bottom: 9px solid @base;
				}
				&:nth-child(3) {
					background: #A3D8EB;
					color: @base;
					font-size: @font17;
					padding: 12px 15px;
					border-bottom: 9px solid @base;
				}
			}
		}

		&:nth-child(2) {

			td {
				width: 70%;
				&:nth-child(1) {
					color: #A3D8EB;
					font-weight: bold;
					font-size: @font18;
					border-bottom: 9px solid @base;
				}
				&:nth-child(2) {
					background: #A3D8EB;
					color: @base;
					font-size: @font17;
					padding: 12px 15px;
					border-bottom: 9px solid @base;
				}
			}

		}
		&:nth-child(3) {

			td {
				width: 70%;
				&:nth-child(1) {
					color: #A3D8EB;
					font-weight: bold;
					font-size: @font18;
					border-bottom: 9px solid @base;
				}
				&:nth-child(2) {
					background: #A3D8EB;
					color: @base;
					font-size: @font17;
					padding: 12px 15px;
					border-bottom: 9px solid @base;
				}
			}

		}
		&:nth-child(4) {

			td {
				width: 70%;
				&:nth-child(1) {
					color: #00B3DE;
					font-weight: bold;
					font-size: @font18;
				}
				&:nth-child(2) {
					background: #00B3DE;
					color: @base;
					font-size: @font17;
					padding: 12px 15px;
				}
			}

		}
		td {
			text-align: left;
			vertical-align: middle;
		}
	}
}


.tabla-icfes {
	border-spacing: 12px;
	border-collapse: separate;
	td {
		border: 1px solid lighten(@gris, 15%);
		padding: 15px 40px;
		vertical-align: middle;
		height: 124px;
		position: relative;
		&:before {
			position: absolute;
			content: "";
			.size(12px, 101%);
			top: -1px;
			left: -1px;
			background-size: cover;
		}
		h3 {
			width: 50%;
			float: left;
			font-family: @comforta;
			font-size: @font24;
		}
		ul {
			width: 50%;
			float: left;
			margin: 0;
			li {
				margin-bottom: 0;
				&:before {
					display: none;
				}
			}
		}
	}
}

.col-verde {
	h3 {
		color: @verde;
	}
	&:before { 
		background: url("../images/Verde-salud.jpg")no-repeat;
	}
}

.col-naranja {
	h3 {
			color: @naranja;
		}
	&:before { 
		background: url("../images/Naranja-ECS.jpg")no-repeat;
	}
}

.col-magenta {
	h3 {
			color: @magenta;
		}
	&:before { 
		background: url("../images/Magenta-CE.jpg")no-repeat;
	}
}


.boton {
	background: @azulMenu;
	color: @base !important;
	text-decoration: none !important;
	padding: 9px 20px;
	margin-top: 20px;
	display: inline-block;
	.transition(all .3s);
	&:hover {
		.scale(1.1);
	}
}

.boton-video {
	background: url("../images/icon-video.png")no-repeat center left, @azulTitle;
	color: @base !important;
	text-decoration: none !important;
	display: inline-block;
	float: right;
	clear: both;
	padding: 11px 40px 11px 112px;
	font-family: @Roboto;
	font-size: @font22;
	.transition(all .3s);
	position: relative;
	right: 0;
	&:hover {
		background: url("../images/icon-video.png")no-repeat center left, @azulMenu;
		right: 10px;
	}
}


// gk4 contenidos

.moduletablenoticias {

	.nspNext, .nspPrev {
		.size(32px, 32px);
		border-radius: 100%;
		background: url("../images/arrow-noti.png")no-repeat, @azulMenu;
		.transition(all .3s);
		&:hover {
			background: url("../images/arrow-noti.png")no-repeat, @azulTitle;
		}

	}

	.nspNext {
		background-position: 6px -32px;
		&:hover {background-position: 6px -32px;}
	}

	.nspPrev {
		background-position: 3px 3px;
		&:hover {background-position: 3px 3px;}
	}

	.nspImageWrapper {
		// overflow: hidden;
		img {
			.transition(all .3s);
			&:hover {
				opacity: 0.8;
			}
		}
	}

	.nspArt {
		border-bottom: 1px solid lighten(@gris, 10%);
		h4.nspHeader {
			width: 77%;
			font-size: @font26;
			font-family: @Roboto;
			a {
				color: @azulTitle;

			}
		}

		p.nspText {text-align: justify;}

		.readon {
			font-family: @montserrat;
			color: @azulMenu;
			font-size: @font13;
			position: relative;
			width: 63px;
			height: 35px;
			float: left;
			margin-left: 27px;
			margin-top: 28px;
			text-decoration: none;

			&:after{
				content: '';
				position: absolute;
				width: 100%;
				height: 5px;
				border-right: 1px solid @azulMenu;
				border-bottom: 1px solid @azulMenu;
				bottom: 16px;
				right: 0;
			}

			&:before{
				content: '+';
				position: absolute;
				background: @azulMenu;
				color: @base;
				left: -27px;
				top: -2px;;
				background-position: -145px -6px;
				padding: 2px 0 0 ;
				border-radius: 100%;
				font-size: 24px;
				.size(24px, 23px);
			}
		}
	}
}

.volver-calendario {
	a {
		width: 153px !important;
		margin-left: 33px !important;
		&:hover {text-decoration: none !important;}
		&:before {left: -32px !important;}
	}
}

.volver-noticias, .volver-calendario {
	.size(100%, auto);
	border-top: 1px solid lighten(@gris, 10%);
	border-bottom: 1px solid lighten(@gris, 10%);
	margin-top: 40px;
	padding: 13px 0 0 0;
	display: inline-block;
	a {
		font-family: @montserrat;
		color: @azulMenu;
		font-size: @font20;
		position: relative;
		width: 83px;
		height: 38px;
		float: left;
		margin-left: 27px;
		text-decoration: none;

		&:after{
			content: '';
			position: absolute;
			width: 100%;
			height: 5px;
			border-right: 1px solid @azulMenu;
			border-bottom: 1px solid @azulMenu;
			bottom: 16px;
			right: 0;
		}

		&:before{
			content: '<';
			position: absolute;
			background: @azulMenu;
			font-weight: normal;
			font-family: @content;
			color: @base;
			left: -27px;
			top: -2px;;
			background-position: -145px -6px;
			padding: 2px 0 0 ;
			border-radius: 100%;
			font-size: 24px;
			.size(28px, 26px);
			text-align: center;
		}
	}
}

.titulo_noticia {
	margin-bottom: 35px;
	color: @azulTitle;
}


// detalle blog

.itemListView {
	padding-top: 40px;
}

#k2Container {
	border: 0;
	margin: 0 0 54px;

	.itemLinks {
		.itemCategory {

			font-family: @comforta;
			color: @azulTitle;
			font-size: @font40;
			font-weight: 100;
			text-align: center;
			margin-top: 80px;
			position: relative;
			margin-bottom: 50px;
			border-bottom: 0;

			&:after{
				content: '';
				position: absolute;
				width: 100%;
				height: 2px;
				background: @azulTitle;
				left: 0;
				top: 21px;
			}

			a{
				display: inline-block;
				text-align: right;
				position: relative;
				background: @base;
				z-index: 9;
				padding: 0 23px;
				color: @azulTitle;
			}

		}
	}


	.itemListCategory {
		border: 0;
		background: transparent;
		img {display: none;}
		h2 {
			font-family: @comforta;
			color: @azulTitle;
			font-size: @font40;
			font-weight: 100;
			text-align: center;
			margin-top: 80px;
			position: relative;
			margin-bottom: 50px;

			&:after{
				content: '';
				position: absolute;
				width: 100%;
				height: 2px;
				background: @azulTitle;
				left: 0;
				top: 21px;
			}

			span{
				display: inline-block;
				text-align: right;
				position: relative;
				background: @base;
				z-index: 9;
				padding: 0 23px;
			}
		}
	}

	h2.itemTitle {
		width: 95%;
		font-size: @font26;
		font-family: @Roboto;
		color: @azulTitle;
		font-weight: bold;
		margin: 50px 0 15px;
	}

	.itemComments {
		background: @base;
		border: 1px solid @azulMenu;

		.itemCommentsCounter {
			text-align: left;
			color: lighten(@gris, 5%);
			font-family: @Roboto;
			font-size: @font16;
			font-weight: 700;
			margin-bottom: 20px;

		}

		.itemCommentsList {
			li {
				padding:7px;
				img {
					display: none;
				}

				.commentAuthorName {
					width: 99%;
					background: transparent;
					border: 0;
					font-family: @Roboto;
					color: @azulTitle;
					font-size: @font18;
					padding-bottom: 10px;
					margin-bottom: 7px;
					border-bottom: 1px dotted @gris;
					font-weight: bold;
					display: inline-block;
					text-transform: uppercase;

				}

				.commentDate {
					font-family: @Roboto;
					color: @gris;
					font-size: @font12;
					margin-bottom: 10px;
					display: inline-block;
				}

				p {
					color: darken(@gris, 25%);
					line-height: 23px;
					text-align: justify;
					font-size: @font16;
					font-family: @content;
				}
			}
		}

		.even {background: lighten(@gris, 24%);}

		.odd {background: lighten(@gris, 28%);}

		.commentLink {display: none;}

		.itemCommentsForm {
			h3 {
				text-align: left;
				color: @azulMenu;
				font-family: @Roboto;
				font-size: @font28;
				font-weight: 700;
				margin-bottom: 20px;
			}

			input[type="text"] {
				background: lighten(@gris, 21%);
				border: 0;
				width: 40%;
				margin-bottom: 10px;
				padding: 1%;
				font-family: @Roboto;
				font-size: @font16;
				color: @gris;
				border-radius: 0;
			}

			textarea {
				background: lighten(@gris, 21%);
				border: 0;
				width: 98%;
				margin-bottom: 10px;
				padding: 1%;
				font-family: @Roboto;
				font-size: @font16;
				color: @gris;
				border-radius: 0;
			}

			input[type="submit"] {
				background: @azulMenu;
				color: @base;
				border: 0;
				padding: 5px 20px;
				font-family: @Roboto;
				float: right;
				display: inline-block;
				cursor: pointer;
				margin-top: 9px;
				-webkit-appearance: none;
				border-radius: 0;
				.transition(all .3s);
				&:hover {
					background: @azulTitle;
				}
			}
		}
	}

	.itemBackToTop {display: none;}

	div.itemToolbar {display: none;}

	.itemFullText {
		p {
			color: darken(@gris, 25%);
			line-height: 23px;
			text-align: justify;
			font-size: @font16;
			font-family: @content;
		}

		strong {font-weight: bold;}

		a {color: @azulMenu; text-decoration: underline;}

		ul {
			margin: 20px 0;
			li {
				position: relative;
				text-align: justify;
				color: darken(@gris, 25%);
				line-height: 23px;
				margin-bottom: 10px;
				padding-left: 25px;
				word-break: break-word;
				font-size: @font16;
				font-family: @content;
				&:before {
					position: absolute;
					content: "";
					.size(8px, 8px);
					top: 6px;
					left: 5px;
					background: @azulMenu;
					opacity: 0.4;
					border-radius: 100%;
				}
			}
		}

		ol {
			margin: 20px 0 20px 30px;
			li {
				position: relative;
				text-align: justify;
				color: darken(@gris, 25%);
				line-height: 23px;
				margin-bottom: 10px;
				padding-left: 5px;
				word-break: break-word;
				list-style: decimal;
				font-size: @font16;
				font-family: @content;
			}
		}
	}

	.itemSocialSharing {
		.size(100%, auto);
		border-top: 1px solid lighten(@gris, 10%);
		border-bottom: 1px solid lighten(@gris, 10%);
		margin-top: 40px;
		padding: 16px 0 16px 0;
		display: inline-block;
		margin-bottom: 30px;

		.itemTwitterButton, .itemFacebookButton {float: right;}

		.itemFacebookButton {width: 130px; margin-top: 3px;}

		.volver-blog {
			float: left;
			a {
				font-family: @montserrat;
				color: @azulMenu;
				font-size: @font20;
				position: relative;
				width: 83px;
				float: left;
				margin-left: 57px;
				text-decoration: none;

				&:after{
					content: '';
					position: absolute;
					width: 100%;
					height: 5px;
					border-right: 1px solid @azulMenu;
					border-bottom: 1px solid @azulMenu;
					bottom: -3px;
					right: 0;
				}

				&:before{
					content: '<';
					position: absolute;
					background: @azulMenu;
					font-weight: normal;
					font-family: @content;
					color: @base;
					left: -37px;
					top: -2px;;
					background-position: -145px -6px;
					padding: 2px 0 0 ;
					border-radius: 100%;
					font-size: 24px;
					.size(28px, 26px);
					text-align: center;
				}
			}
		}
	}
}


#system-message-container {
	#system-message {
		padding: 20px;
		background: @base;
		box-shadow: 0px 0px 12px rgba(0,0,0,0.5);
		border-radius: 7px;
		position: absolute;
		z-index: 200;
		left: 50%;
		top: 10%;
		margin-left: -190px;
		text-align: center;
		opacity: 0.9;
		dt {display: none;}
		ul {
			li {
				font-family: @Roboto;
				font-size: @font18;
				color: @azulTitle; 
			}
		}
	}
}


// blog browse

.catItemBody {
	border-bottom: 1px solid lighten(@gris, 15%);
	padding: 20px 0 30px !important; 

	.catItemIntroText {
		img {
			float: left;
			width: 36%;
			margin-right: 30px;
			max-height: 240px;
		}

		.content-rigth {
			float: right;
			width: 60%;

			.catItemTitle {
				font-size: @font26;
				font-family: @Roboto;
				margin: 20px 0;
				a {
					color: @azulTitle;

				}
			}

			p {
				color: darken(@gris, 25%);
				line-height: 21px;
				text-align: justify;
				font-size: @font16;
				font-family: @content;
			}

			.catItemReadMore {
				a {
					font-family: @montserrat;
					color: @azulMenu;
					font-size: @font13;
					position: relative;
					width: 63px;
					height: 35px;
					float: left;
					margin-left: 27px;
					margin-top: 28px;
					text-decoration: none;

					&:after{
						content: '';
						position: absolute;
						width: 100%;
						height: 5px;
						border-right: 1px solid @azulMenu;
						border-bottom: 1px solid @azulMenu;
						bottom: 16px;
						right: 0;
					}

					&:before{
						content: '+';
						position: absolute;
						background: @azulMenu;
						color: @base;
						left: -27px;
						top: -2px;;
						background-position: -145px -6px;
						padding: 2px 0 0 ;
						border-radius: 100%;
						font-size: 24px;
						.size(24px, 23px);
						text-align: center;
					}

				}
			}

			.redes-browse {
				.size(100%, auto);
				display: inline-block;

				.itemTwitterButton, .itemFacebookButton {float: right;}

				.itemTwitterButton {margin: 2px 0 0; width: 90px;}

				.itemFacebookButton {margin-top: 3px; width: 120px;}
			}
		}
	}
}


// blog lista

.blog-lista {
	position: relative;
	&:after {
		content:'';
	    display:block;
	    clear: both;
	}
	li {
		float: left;
		width: 32%;
		padding: 0 !important;
		margin-bottom: 44px !important;
		a {
			.transition(all .3s);
			&:hover {opacity: 0.7;}
		}
		&:before {display: none;}
		> * {display: inline-block; vertical-align: middle;}
		h3 {
			font-size: @font19;
			position: relative;
			a {text-decoration: none;}
			&:after {
				.size(100%, 2px);
				position: absolute;
				content: "";
				bottom: -3px;
				left: 0;
				background: @azulMenu;
			}
		}

		img {
			border-radius: 100%;
		}
		&:nth-child(1) img {border: 4px solid @verde;}
		&:nth-child(2) img {border: 4px solid @magenta;} 
		&:nth-child(3) img {border: 4px solid @naranja;} 
		&:nth-child(4) img {border: 4px solid @azulMenu;}
		&:nth-child(5) img {border: 4px solid lighten(@azulMenu, 5%);}
		&:nth-child(6) img {border: 4px solid lighten(@azulMenu, 10%);}
		&:nth-child(7) img {border: 4px solid lighten(@azulMenu, 10%);}    
	}
}

.blog-lista-azul {
	position: relative;
	&:after {
		content:'';
	    display:block;
	    clear: both;
	}
	li {
		float: left;
		width: 32%;
		padding: 0 !important;
		margin-bottom: 44px !important;
		a {
			.transition(all .3s);
			&:hover {opacity: 0.7;}
		}
		&:before {display: none;}
		> * {display: inline-block; vertical-align: middle;}
		h3 {
			font-size: @font19;
			position: relative;
			a {text-decoration: none;}
			&:after {
				.size(100%, 2px);
				position: absolute;
				content: "";
				bottom: -3px;
				left: 0;
				background: @azulMenu;
			}
		}

		img {
			border-radius: 100%;
			border: 4px solid lighten(@azulMenu, 5%);
		}
		// &:nth-child(1) img {border: 4px solid @verde;}
		// &:nth-child(2) img {border: 4px solid @magenta;} 
		// &:nth-child(3) img {border: 4px solid @naranja;} 
		// &:nth-child(4) img {border: 4px solid @azulMenu;}
		// &:nth-child(5) img {border: 4px solid lighten(@azulMenu, 5%);}
		// &:nth-child(6) img {border: 4px solid lighten(@azulMenu, 10%);}
		// &:nth-child(7) img {border: 4px solid lighten(@azulMenu, 10%);}    
	}
}


.moduletablecol2 {

	.nspNext, .nspPrev {
		.size(32px, 32px);
		border-radius: 100%;
		background: url("../images/arrow-noti.png")no-repeat, @azulMenu;
		.transition(all .3s);
		&:hover {
			background: url("../images/arrow-noti.png")no-repeat, @azulTitle;
		}

	}

	.nspNext {
		background-position: 6px -32px;
		&:hover {background-position: 6px -32px;}
	}

	.nspPrev {
		background-position: 3px 3px;
		&:hover {background-position: 3px 3px;}
	}

	.nspImageWrapper {
		// overflow: hidden;
		img {
			.transition(all .3s);
			&:hover {
				opacity: 0.8;
			}
		}
	}
	.nspArtPage {
		.nspArt {
			width: 45% !important;
			padding: 20px;
			position: relative;
			&:nth-child(1) {
				border-bottom: 1px solid @gris;
				border-right: 1px solid @gris;
				padding-top: 0;
				&:after {
					position: absolute;
					content: "";
					bottom: -28px;
					right: -28px;
					.size(55px, 55px);
					background: @base;
					z-index: 1;
				}
			}
			&:nth-child(2) {
				border-bottom: 1px solid @gris;
				padding-top: 0;
			}
			&:nth-child(4) {
				border-left: 1px solid @gris;
			}

			p.nspText {text-align: justify; margin-bottom: 10px;}

			.nspImageWrapper {
				margin:0 !important;
				img {width: 100% !important;}
			}

			h4.nspHeader {
				width: 80%;
				font-size: @font26;
				font-family: @Roboto;
				a {
					color: @azulTitle;

				}
			}

			.readon {
				font-family: @montserrat;
				color: @azulMenu;
				font-size: @font13;
				position: relative;
				width: 63px;
				height: 35px;
				float: right;
				margin-left: 27px;
				margin-top: 28px;
				text-decoration: none;

				&:after{
					content: '';
					position: absolute;
					width: 100%;
					height: 5px;
					border-right: 1px solid @azulMenu;
					border-bottom: 1px solid @azulMenu;
					bottom: 16px;
					right: 0;
				}

				&:before{
					content: '+';
					position: absolute;
					background: @azulMenu;
					color: @base;
					left: -27px;
					top: -2px;;
					background-position: -145px -6px;
					padding: 2px 0 0 ;
					border-radius: 100%;
					font-size: 24px;
					.size(24px, 23px);
				}
			}

		}
	}
} 




// contacto 

.datos-contacto {
	position: relative;
	margin-top: 100px;
	&:before {
		position: absolute;
		content: "";
		top: -80px;
		left: -436px;
		.size(2000px, 30px);
		background: url("../images/shadow-contacto.jpg")repeat-x;
	}
	td {
		vertical-align: top;
		width: 30%;
		padding-left: 50px;
		h3 {
			font-size: @font20;
			position: relative;
		}
		a {
			color: darken(@gris, 25%); 
			text-decoration: none;
			.transition(all .3s);
			&:hover {color: @azulMenu;} 
		}
		&:nth-child(1) {
			h3 {
				&:before {
					position: absolute;
					content: "";
					top: -8px;
					left: -52px;
					.size(38px, 38px);
					background: url("../images/sprite-datos.png");
					background-position: -9px -7px;
				}
			}
		}
		&:nth-child(2) {
			h3 {
				&:before {
					position: absolute;
					content: "";
					top: -8px;
					left: -52px;
					.size(38px, 38px);
					background: url("../images/sprite-datos.png");
					background-position: -9px -60px;
				}
			}
		}
		&:nth-child(3) {
			h3 {
				&:before {
					position: absolute;
					content: "";
					top: -8px;
					left: -52px;
					.size(38px, 38px);
					background: url("../images/sprite-datos.png");
					background-position: -9px -114px;
				}
			}
		}
	}
}

.formTableLayout {
	width: 80%;
	margin: 0 auto;
	text-align: left;
	td {width: 50%;}

}

.formTableLeft {
	label {
		font-family: @Roboto;
		color: darken(@gris, 20%);
		font-size: @font17;
		font-weight: bold;
	}
	.rsform-input-box {
		width: 90%;
		padding:9px;
		background: lighten(@gris, 22%);
		border: 0;
		border-radius: 0;
		margin-top: 7px;
		font-family: @content;
		font-size: @font15; 
		color: darken(@gris, 15%);
		.transition(all .3s);
		&:focus {
			background: lighten(@gris, 15%);
		} 
	}
}

.formTableRight {

	label {
		font-family: @Roboto;
		color: darken(@gris, 20%);
		font-size: @font17;
		font-weight: bold;
	}
	.rsform-input-box {
		width: 90%;
		padding:9px;
		background: lighten(@gris, 22%);
		border: 0;
		border-radius: 0;
		margin-top: 7px;
		font-family: @content;
		font-size: @font15;
		color: darken(@gris, 15%);
		.transition(all .3s);
		&:focus {
			background: lighten(@gris, 15%);
		}  
	}

	.rsform-text-box {
		width: 90%;
		height: 173px;
		padding:9px;
		background: lighten(@gris, 22%);
		border: 0;
		border-radius: 0;
		margin-top: 7px;
		font-family: @content;
		font-size: @font15;
		color: darken(@gris, 15%);
		.transition(all .3s);
		&:focus {
			background: lighten(@gris, 15%);
		}   
	}

}

.rsform-submit-button {
	border: 0;
	border-radius: 0;
	background: @azulMenu;
	color: @base;
	padding: 10px 30px;
	width: 40%;
	font-family: @Roboto;
	font-weight: bold;
	font-size: @font20;
	text-transform: uppercase;
	cursor: pointer;
	-webkit-appearance: none;
	.transition(all .3s);
	&:hover {
		background: @azulTitle;
	}
}

.formField.rsform-block.rsform-block-enviar {text-align: center;}

.formRed {margin-bottom: 20px;}

a.jcepopup:hover, a.jcepopup:active {
    background: url("../images/icon-video.png") no-repeat scroll left center, none repeat scroll 0 0 #00b4df !important;
}

.jcemediabox-popup-body {width: 429px !important;}

.k2Pagination {
	color: transparent !important;
	ul {
		li {
			font-family: @content;
			font-size: @font16;
			margin: 0 10px;
			color: @gris;
			position: relative;
			
			&.pagination-start {
				font-style: italic;
				a {
					&.pagenav {
						padding:10px;
						color: @azulMenu;
						background: transparent;
						box-shadow: none;
					}
				}
			}
			&.pagination-end {
				font-style: italic;
				a {
					&.pagenav {
						padding:10px;
						color: @azulMenu;
						background: transparent;
						box-shadow: none;
					}
				}
			}
			a {
				&.pagenav {
					background: @azulMenu;
					padding:5px 10px;
					border-radius: 100%;
					color: @base;
					box-shadow: inset 0px 0px 7px rgba(0,0,0,0.5);
				}
			}

			&.pagination-prev {
				a {
					&.pagenav {
						padding:10px;
						color: @azulMenu;
						background: transparent;
						box-shadow: none;
					}
				}
			}

			&.pagination-next {
				a {
					&.pagenav {
						padding:10px;
						color: @azulMenu;
						background: transparent;
						box-shadow: none;
					}
				}
			}
		}
	}
}


// calendario

#jcl_component #jcl_layout_body .jcl_month_week_number {
	display: none;
}

#jcl_component .jcl_month_table .jcl_month_row td.jcl_month_cell {
	padding: 0;
	height: 141px;
	vertical-align: bottom;
	text-align: right;
	background: #E7ECF0;
	border: 5px solid #FFFFFF !important;
	font-family: @content !important;
}

#jcl_component .jcl_month_week_number {display: none;}

.jcl_subtitlebar, .jcl_toolbar_catselect, .jcl_toolbar {display: none !important;}

.jcl_month {
	margin-top: 90px;
}

.jcl_navbar {
	font-family: @Roboto;
	padding: 20px 0;
	background: #003B5D !important;
}

.jcl_nav.jcl_current.jcl_left.ajaxcurrent {font-size: @font30 !important; font-weight: bold !important;}

.jcl_nav.jcl_previous.jcl_left, .jcl_nav.jcl_next.jcl_left {
	a {
		font-family: @Roboto;
		font-size: @font16 !important;
		font-weight: normal;
	}
}

#jcl_component .weekdaytopclr, #jcl_component .sundaytopclr {
	background: @base !important;
	color: #003B5D !important;
	font-family: @Roboto;
	font-size: @font16 !important;
	border: 0 !important;
	padding: 13px 12px !important;
}

.jcl_month_cell_number.jcl_left {
	background: @azulMenu;
	color: @base !important;
	font-family: @Roboto;
	text-align: center !important;
	padding: 5px 1px;
	a {
		color: @base;
	}
}

.jcl_nooverflow.eventstyle {
	font-family: @content !important;
	a {
		font-size: @font14 !important;
		line-height: 17px;
	}
}

.atomic.powered_by, .jcl_search_form.jcl_center {display: none !important;}

.jcal_categories {
	padding: 16px 11px !important;


	h3 {
		font-family: @Roboto;
		font-size: @font21 !important;
		margin-bottom: 15px !important;
		color: #003B5D !important;
	}
}

.jcal_category_title {
	a {
		font-family: @content !important;
		color: darken(@gris, 10%) !important;
		font-size: @font16 !important; 
	}
}

.eventmiddle {
	.jcl_nooverflow.eventstyle {
		a {color: #606F79 !important;}
	}
}

h2.componentheading {
	font-family: @comforta;
	color: @azulTitle;
	font-size: @font40;
	font-weight: 100;
	text-align: center;
	margin-top: 80px;
	position: relative;
	margin-bottom: 50px;

	&:after{
		content: '';
		position: absolute;
		width: 100%;
		height: 2px;
		background: @azulTitle;
		left: 0;
		top: 21px;
	}

	span{
		display: inline-block;
		text-align: right;
		position: relative;
		background: @base;
		z-index: 9;
		padding: 0 23px;
	}
}

#jcl_component {
	margin-bottom: 70px;
}

#jcl_component .jcl_event_body {
	background: lighten(@gris, 29%);
	font-family: @content;
	color: darken(@gris, 25%);
	line-height: 23px;
	font-size: @font16;
	padding-top: 30px;
}

.jcl_event_body.jcl_nocolor, .eventdesclarge {
	font-family: @content;
	color: darken(@gris, 25%);
	line-height: 23px;
	font-size: @font16 !important;
}

#jcl_component .eventtitle {
	font-family: @Roboto;
	font-size: @font30;
	color: @azulTitle;
}

.jcl_mainview {
	.jcal_categories  {
		border-top: 1px solid lighten(@gris, 22%) !important;
		border-bottom: 1px solid lighten(@gris, 22%) !important;
	}
	.jcl_event_right.jcl_right {
		font-family: @content;
		color: @azulMenu;
	} 
}

.jcl_header {
	font-family: @Roboto;
	font-size: @font21 !important;
	padding: 13px 12px !important;
}

.jcl_table {
	td {
		padding: 10px;
		font-family: @content;
		font-size: @font16;
		color: darken(@gris, 25%);
		border: 1px solid @base !important;
	}
}

.jcl_event_description {display: none;}

.jcl_month_inner_row {
	td {
		border: 0 !important;

		h3 {
			a {font-size: @font20 !important;}
		}
	}
}

.eventdesclarge {
	p {
		font-family: @content;
		color: darken(@gris, 25%);
		line-height: 23px;
		font-size: @font16 !important;
		text-align: justify;
	}

	ul {
		margin: 20px 0;
		li {
			position: relative;
			text-align: justify;
			color: darken(@gris, 25%);
			line-height: 23px;
			margin-bottom: 10px;
			padding-left: 25px;
			word-break: break-word;
			&:before {
				position: absolute;
				content: "";
				.size(8px, 8px);
				top: 6px;
				left: 5px;
				background: @azulMenu;
				opacity: 0.4;
				border-radius: 100%;
			}
		}
	}

	ol {
		margin: 20px 0 20px 30px;
		li {
			position: relative;
			text-align: justify;
			color: darken(@gris, 25%);
			line-height: 23px;
			margin-bottom: 10px;
			padding-left: 5px;
			word-break: break-word;
			list-style: decimal;
		}
	}

	strong {font-weight: bold; color: darken(@gris, 40%); }
}


.titulo-resultado {
	font-family: @Roboto;
	font-size: @font30;
	color: @azulTitle;
	margin-top: 50px;
	margin-bottom: 30px;
	font-weight: bold;

}



// .virtuemart_search {
// 	margin-bottom: 30px;
// 	.inputbox {
// 		width: 30%;
// 		padding:9px;
// 		background: lighten(@gris, 22%);
// 		border: 0;
// 		border-radius: 0;
// 		font-family: @content;
// 		font-size: @font15; 
// 		color: darken(@gris, 15%);
// 	}
// 	.button {
// 		background: @azulMenu;
// 		color: @base;
// 		border: 0;
// 		padding: 6px 20px;
// 		font-family: @Roboto;
// 		font-size: @font16;
// 		display: inline-block;
// 		cursor: pointer;
// 		-webkit-appearance: none;
// 		border-radius: 0;
// 		position: relative;
// 		top: 5px;
// 		.transition(all .3s);
// 		&:hover {
// 			background: @azulTitle;
// 		}

// 	}	
// }

.rssearch_row {
	h2 {
		font-family: @Roboto;
		font-size: @font20;
		color: @azulTitle;
		margin-bottom: 10px;
		a {color: @azulTitle;}
	}
	.rssearch_content {
		font-family: @content;
		color: darken(@gris, 25%);
		line-height: 23px;
		font-size: @font13 !important;
		text-align: justify;
		strong {color: @azulMenu !important; font-weight: bold;}
	}

	.rssearch_readon {
		color: @azulTitle;
		font-family: @Roboto;
		font-size: @font13;
		margin-bottom: 10px;

	}
}

.pagination {
	.counter.pull-right {display: none;}
	ul {
		text-align: center;
		margin: 30px 0 60px;
		li {
			padding: 5px;
			color: darken(@gris, 25%);
			display: inline-block;
			margin: 0 8px;
			font-family: @Roboto;
			font-size: @font14;
			a {color: @azulMenu;}
		}
	}
}


// formulario eventos

.tabla-formuario {
	margin-top: 40px;
	border-top: 1px solid lighten(@gris, 20%);
	text-align: left;
	.rsform-input-box {

		padding:9px;
		background: lighten(@gris, 22%);
		border: 0;
		border-radius: 0;
		margin-top: 7px;
		font-family: @content;
		font-size: @font15; 
		color: darken(@gris, 15%);
		.transition(all .3s);
		&:focus {
			background: lighten(@gris, 15%);
		} 
	}

	form {margin-top: 30px;}

	.formField {
		br {display: none;}
	}

	.rsform-text-box {
		width: 100%;
		height: 173px;
		padding:9px;
		background: lighten(@gris, 22%);
		border: 0;
		border-radius: 0;
		margin-top: 7px;
		font-family: @content;
		font-size: @font15;
		color: darken(@gris, 15%);
		clear: both;
		.transition(all .3s);
		&:focus {
			background: lighten(@gris, 15%);
		}   
	}

	.rsform-block.rsform-block-mensaje {
		float: left;
		clear: both;
		width: 100%;
	}

	.rsform-block.rsform-block-email ,.rsform-block.rsform-block-tel, .rsform-block.rsform-block-ciudad, .rsform-block.rsform-block-nombre {
		float: left;
		width: 48%;
	}

	.rsform-block.rsform-block-nombre, .rsform-block.rsform-block-tel {
		margin-right: 4% !important;
	}

	.rsform-block.rsform-block-email input ,.rsform-block.rsform-block-tel input, .rsform-block.rsform-block-ciudad input, .rsform-block.rsform-block-nombre input {
		width: 97%; 
		display: inline-block;
	}

	fieldset.formFieldset ol.formContainer li {
	    clear: none;
	    padding: 2px 5px;
	}
	.rsform-submit-button {
		clear: both;
		float: right;
		width: 12%;
		font-size: 16px;
	}

	.formField.rsform-block.rsform-block-enviar {
		clear: both;
	}

	.btn.btn-primary {width: 15% !important; }
}



