/**
* Estilos paara dispositivos móviles
*
*/

// Escritorio 1024

@media only screen and (max-width: 1500px) and ( min-width:1201px ) {

	.section.page-one{

		main{

			.slider-home{ 
				width: 60%;
			}
		}
	}
}

@media only screen and (max-width: 1200px) and ( min-width:1024px ) {
	
	.section.page-one{

		header{

			.search{
				#mod-search-searchword{
					width: 70%;
				}
			}

			.menu-up{

				ul.menu{

					li{
						margin-left: 10px;
					}
				}
			}

			.moduletablechat{

				li{

					&:last-child{ margin-left: 0;}
				}
			}

			.moduletable.redes-up{

				li{

					img{ margin-right: 0;}
				}
			}
		}

		nav .menu-inicio #flyout_menu_92 li a{ font-size: @font13; }

		main{

			.slider-home{ 
				width: 70%;
			}
		}
	}

	.section.page-two{

		.content-slider-programas .moduletable{

			.themestrip-container{
				width: 76% !important;
			}
		}
	}

	.section.page-three{

		.moduletable.noticias, .investigacion{

			.nspMain{

				.nspArt{

					h4{
						margin-left: 10px;
						width: 40%;					
					}

					p.nspText{
						margin-left: 10px;
						width: 36%;
						margin-right: 10px;
					}
				}
			}
		}
	}

	.section.page-four{

		.moduletable.eventos h5{width: 70%;}

		.moduletable.eventos p{width: 70%;}
	}


	//Estilos Catalogo de programas

	main .category-view .row .category{margin-right: 10px !important;}
	main .category-view .row .category h2 p{
		width: 46% !important; 
		font-size: 1.4rem !important; 
		padding-left: 7px !important;
		height: 62px !important;
	}
	main .category-view .row .category h2 span{
		right: 8px !important;
		bottom: 14px !important;
		font-size: 1.3rem !important;
	}
	main .browse-view h1 span{padding-left: 30px;}
}
