// --------------------------------------------------
// Typography
// --------------------------------------------------

// Raleway
//----------
@font-face {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    src: local('Noto Sans'), local('NotoSans'), url( fonts/NotoSans-Regular.ttf ) format('ttf');
}

// Noto sans: 700
// -----------------
@font-face {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  src: local( 'Noto Sans Bold' ), local( 'NotoSans-Bold' ), url( fonts/NotoSans-Bold.ttf ) format('ttf');
}


// Julee
//------------
@font-face {
    font-family: 'Raleway', sans-serif;
    src: url( http://localhost/taiko/fonts/NotoSans-Regular.ttf);
}