.matriculate{
	float: right;
	position: fixed;
	right: 0;
	bottom: -3px;
	z-index: 999;
}

.section.page-one{
	height: 100vh;
	position: relative;

	.extrobgs-slideshow{
	}

	header{
		background: @AzulHeader;

		.onepcssgrid-1200{
			position: relative;

			&:before{
				content: '';
				position: absolute;
				width: 2000px;
				height: 1px;
				background: #0088A8;
				left: -336px;
				bottom: -2px;
			}
		}

		.moduletablebuscar {
			margin-top: 10px;
			
			button[type="submit"] {
				float: left;
				color: transparent;
				background-image: url(../images/page-one/sprite-top.png);
				background-color: #0071CE;
				float: left;
				width: 29px !important;
				height: 25px !important;
				margin-right: 10px;
				background-position: -2px -12px;
				border-radius: 3px;
				border: 0 !important;
				cursor: pointer;
			}

			input[type="text"] {
				background: @azulBuscar;
				border: none;
				width: 81% !important;
				border-radius: 3px;
				color: @gris;
				font-family: @content;
				font-size: @font18;
				margin-top: 1px;
				padding: 4px 0 4px 10px;
				height: 16px;
			}
			
		}

		.search{
			float: left;
			margin: 10px 0;
			width: 100%;

			label{
				color: transparent;
				background-image: url(../images/page-one/sprite-top.png);
				background-color: #0071CE;
				float: left;
				width: 29px;
				height: 25px;
				margin-right: 10px;
				background-position: -2px -12px;
				border-radius: 3px;
			}

			#mod-search-searchword{
				background: @azulBuscar;
				border: none;
				width: 81%;
				border-radius: 3px;
				color: @gris;
				padding-left: 10px;
				font-family: @content;
				font-size: @font18;
				margin-top: 1px;
			}
		}

		#trigger{
			display: none;
			text-align: center;
			width: 98%;
			background-color: @azulMenu;
			font-family: @content;
			font-size: @font18;
			color: @base;
			padding: 6px;
			margin: 7px 0;
			border-radius: 4px;
			float: left;
		}

		.menu-up{
			float: left;
			width: 100%;


			ul.menu{
				padding-left: 0;
				float: right;
				padding: 9px 0;

				li{
					display: inline-block;
					width: 87px;
					margin-left: 38px;
					vertical-align: middle;
					position: relative;
					opacity:0; 
					-webkit-animation: one 1s forwards; 
					-moz-animation: one 1s forwards;
					animation: one 1s forwards;

					&:hover{

						&:before{
							.transition( all 0.3s );
							.scale(0.8);
						}
					}

					&:before{
						content: '';
						position: absolute;
						background-image: url(../images/page-one/sprite-top.png);
						width: 28px;
						height: 28px;
						left: -32px;
						top: -2;
					}

					a{
						font-family: @content;
						font-size: @font13;
						color: @base;
						text-decoration: none;
					}

					&:first-child{
						-webkit-animation-delay: 0.8;
						-moz-animation-delay: 0.8;
						animation-delay: 0.8;

						&:before{
							background-position: -53px -8px;
						}
					}

					&:nth-child(2){
						-webkit-animation-delay: 1s;
						-moz-animation-delay: 1s;
						animation-delay: 1s;

						&:before{
							background-position: -108px -8px;
							top: -8px;
						}
					}

					&:nth-child(3){
						-webkit-animation-delay: 1.5s;
						-moz-animation-delay: 1.5s;
						animation-delay: 1.5s;

						&:before{
							background-position: -163px -8px;
							top: -8px;
						}
					}

					&:nth-child(4){
						-webkit-animation-delay: 2s;
						-moz-animation-delay: 2s;
						animation-delay: 2s;
						margin-left: 30px;
						
						&:before{
							background-position: -227px -5px;
							top: -8px;
						}
					}

					&:nth-child(5){
						-webkit-animation-delay: 2.5s;
						-moz-animation-delay: 2.5s;
						animation-delay: 2.5s;
						margin-left: 30px;
						
						&:before{
							background-position: -292px -5px;
							top: -8px;
						}
					}

					&:nth-child(6){
						-webkit-animation-delay: 3s;
						-moz-animation-delay: 3s;
						animation-delay: 3s;
						margin-left: 20px;

						&:before{
							background-position: -352px -7px;
							top: -8px;
						}
					}

					&:last-child{
						-webkit-animation-delay: 3.5s;
						-moz-animation-delay: 3.5s;
						animation-delay: 3.5s;

						&:before{
							background-position: -413px -8px;
						}
					}
				}
			}
		}

		.moduletablelogo{ float: left; margin: 12px 0; margin-bottom: 25px;}

		.moduletablechat{
			float: right;
			margin: 29px 0;

			li{
				display: inline-block;
				text-align: center;

				img{
					display: inline-block;
					.transition(0.3s);

					&:hover{
						.translate( 0, -5px)
					}
				}

				&:last-child{ margin-left: 10px;}
			}
		}

		.rds{
			margin: 0;
		}

		.moduletable.redes-up{
			float: right;
			margin: 40px 0;

			li{
				display: inline-block;
				text-align: center;

				img{ 
					display: inline-block; 
					margin-right: 5px; 
					width: auto;

					&:hover{
						.transition( all 0.3s );
						.scale(1.1);
					}
				}
			}
		}
	}

	nav{
		float: left;
		width: 100%;
		background: @azulMenu;
		border-bottom: 1px solid #FFF;
		box-shadow: 0px 13px 37px -15px;
		position: relative;
		z-index: 99;

		#trigger-2{
			display: none;
			text-align: center;
			width: 98%;
			background-color: @azulMenu;
			font-family: @content;
			font-size: @font18;
			color: @base;
			padding: 6px;
			margin: 7px 0;
			border-radius: 4px;
			float: left;
		}

		.menu-inicio{
			float: left;
			width: 100%;
			position: relative;
			z-index: 999;

			#flyout_menu_92 {
				background: transparent;
				border: none;
				padding: 0 !important;
				width: 94%;
				margin: 0 auto !important;
				display: block;

				.opened{
					background: @base !important;

					ul{
						border: none;
						box-shadow: 0px 4px 14px -4px;
					}

					ul li{
						border-bottom: 1px solid rgba(0, 180, 223, 0.38);
						padding: 10px 0 !important;

						a{
							font-size: @font15;
						}

						&:hover{
							background: @azulMenu !important;

							a{
								color: @base !important;
							}

							ul li a{ color: @azulMenu !important;}

							ul li {

								&:hover{

									a{ color: @base !important;}
								}
							}
						}

						&:last-child{ border: none;}
					}

					a{
						color: @azulMenu !important;
					}
				}

				li{
					padding: 1% 0.5% !important;
					border: none;

					&.current a { color: @base;}

					a{ 
						font-family: @Roboto;
						font-size: @font16;
						line-height: 20px;
						font-weight: 400;
					}
				}
			}
		}
	}

	main{

		.slider-home{ 
			width: 40%;
			background-color: rgba(0, 180, 223, 0.64);
			margin: 0 auto;
			position: relative;
			margin-top: 7%;

			.nspTopInterface{
				position: absolute;
				top: 44%;
				width: 100%;

				div{ width: 100%;}

				span{ 
					background: url(../images/page-one/sprite-Banner.png);
					width: 37px;
					height: 37px;

				}

				.nspPrev{
					background-position: -13px -6px;
					float: left;
					margin-left: 10px;
				}

				.nspNext{
					background-position: -79px -6px;
					float: right;
					margin-right: 10px;
				}

			}

			.nspArt{

				h4{
					font-family: @comforta;
					font-size: @font40;

					a{
						color: @base;
						font-weight: lighter;
					}
				}

				p{
					font-family: @Roboto;
					font-size: @font16;
					color: @base;	
					margin: 10px 0;
					line-height: 23px;
					font-weight: 300;
				}

				a.readon{
					font-family: @montserrat;
					color: @base;
					font-size: @font18;
					position: relative;
					width: 82px;
					height: 35px;
					margin-left: 30px;
					margin-top: 21px;
					display: inline-block;

					&:after{
						content: '';
						position: absolute;
						width: 100%;
						height: 5px;
						border-right: 1px solid @base;
						border-bottom: 1px solid @base;
						bottom: 0;
						right: -5px;
					}

					&:before{
						content: '';
						position: absolute;
						background-image: url(../images/page-one/sprite-Banner.png);
						width: 35px;
						height: 35px;
						left: -42px;
						top: -8px;
						background-position: -145px -6px;
					}
				}
			}
		}

	}
	.down {
		position: absolute;
		bottom: -3px;
		left: 0;
		width: 100%;
		text-align: center;

		a{
			display: inline-block;
		}
	}
}
@-webkit-keyframes one { 100% { opacity: 1; } }
@-moz-keyframes one { 100% { opacity: 1; } }
@keyframes one { 100% { opacity: 1; } }

.section.page-two{
	background: @base;
	padding-bottom: 44px;

	.moduletable.programas{
		width: 100%;
		float: left;

		h3{
			font-family: @comforta;
			color: @azulTitle;
			font-size: @font40;
			font-weight: 100;
			text-align: center;
			margin-top: 46px;
			position: relative;

			&:after{
				content: '';
				position: absolute;
				width: 100%;
				height: 2px;
				background: @azulTitle;
				left: 0;
				top: 21px;
			}

			span{
				display: inline-block;
				text-align: right;
				position: relative;
				background: @base;
				z-index: 9;
				width: 300px;
				padding-right: 14px;

				&:before{
					content: '';
					position: absolute;
					background-image: url(../images/page-two/round-icons.png);
					width: 68px;
					height: 68px;
					left: 11px;
					top: -15px;
					background-position: -8px -5px;					
				}
			}
		}

		ul{
			text-align: center;
			margin-top: 40px;

			li{
				display: inline-block;
				margin: 0 3px;
				.transition( all 0.3s );
				border: 1px solid @azulMenu;
				width: 180px;
				margin-bottom: 7px;

				a{
					font-family: @Roboto;
					font-size: @font19;
					color: @azulTitle;
					display: inline-block;
					.transition( all 0.3s );
					padding: 8px 0;
					font-weight: 500;

				}

				&:hover, &.active{
					background: @azulMenu;

					a{ color: @base; }
				}
			}
		}
	}

	.moduletable.item-menus{
		margin-top: 40px;

		.posgrado, .diplomados, .cursos, .jornadas{ display: none;}

		ul{
			width: 100%;

			li{
				padding: 10px 25px;
				display: inline-block;
				background-color: @azulMenu;
				width: 100%;
				border-bottom: 1px solid #0399B2;
				border-top: 1px solid #03BFE5;
				position: relative;

				a{
					font-family: @Roboto;
					font-size: @font16;
					color: @base;
					display: inline-block;
				}

				&:hover, &.active{

					&:before{
						content: '';
						position: absolute;
						width: 0;
					    height: 0;
					    border-top: 4px solid transparent;
					    border-left: 7px solid #B7EBFF;
					    border-bottom: 4px solid transparent;
						left: 7px;
						top: 36%;
					}
				}
			}
		}
	}

	.content-slider-programas .moduletable{
		margin-top: 40px;
		display: none;

		&:first-child { display: block; }

		.elastislide-carousel{ img{ height: auto !important; } }

		nav{

			span{
				background: url(../images/page-two/Flechas.png);
				border-radius: 0;
				width: 28px;
				height: 42px;
				top: 44%;
				display: none;
			}

			.elastislide-prev{ background-position: -62px 0; }

			.elastislide-next{ background-position: -109px 0; }
		}	
	}

	.content-slider-programas .pregrado-salud, .posgrado-salud{
		.themestrip-container{
			width: 70% !important;
		}
	}
}

.section.page-three{
	background-image: url(../images/page-three/noticias-bg.jpg);
	width: 100%;
	float: left;
	position: relative;

	.menu-lateral{
		float: right;
		
		.moduletable{

			#jj_sl_navigation{
				position: absolute;
				top: 26%;

				li{
					a{
						font-family: @comforta;
						font-size: @font22;
						text-align: center;
						border-radius: 24px 0px 0px 24px;
						width: 203px;
						padding: 13px 0px 13px 0px;
						position: relative;

						&:before{
							content: '';
							position: absolute;
							background-image: url(../images/page-three/iconos-laterales.png);
							width: 56px;
							height: 40px;
							left: 7px;
							top: 5px;
						}

						span.jj_social_text{
							margin-left: 30px;
						}
					}
				}

				.jj_sl_custom1{

					a{
						background-color: #0190CC;
						&:before{background-position: -10px -17px;}
					}
				}

				.jj_sl_custom2{

					a{
						background-color: #34A7D6;
						&:before{background-position: -96px -17px;}
					}
				}

				.jj_sl_custom3{

					a{
						background-color: #01C1E6;
						&:before{background-position: -189px -17px;}
					}
				}

				.jj_sl_custom4{

					a{
						background-color: #71DBF1;
						&:before{background-position: -291px -17px;}
					}
				}

				.jj_sl_custom5{

					a{
						padding: 3px 0;
						background-color: #B0EAF6;
						&:before{background-position: -363px -17px;}
					}
				}
			}
		}
	}

	.menu-lateral-2{
		display: none;
	}

	.investigacion{
		margin-bottom: 30px;

		h3{
			display: table-cell;
			font-family: @comforta;
			font-size: @font28;
			text-align: center;
			float: left;
			width: 20%;
			padding: 10% 0 6%;
			background: @azulTitle;
			color: @base;
			position: relative;

			&:before{
				content: '';
				position: absolute;
				background-image: url(../images/page-two/round-icons.png);
				width: 68px;
				height: 68px;
				left: 36%;
				top: 19%;
				background-position: -8px -265px;				
			}
		}
	}

	.noticias{

		h3{
			display: table-cell;
			font-family: @comforta;
			font-size: @font28;
			text-align: center;
			float: left;
			width: 20%;
			padding: 10% 0 6%;
			background: @azulTitle;
			color: @base;
			position: relative;

			&:before{
				content: '';
				position: absolute;
				background-image: url(../images/page-two/round-icons.png);
				width: 68px;
				height: 68px;
				left: 36%;
				top: 19%;
				background-position: -8px -179px;				
			}
		}
	}

	.moduletable.noticias, .investigacion{
		float: left;
		width: 100%;
		margin-top: 20px;


		.nspMain{
			float: right;

			.nspArt{
				background-color: @base;

				h4{
					float: left;
					width: auto;
					font-family: @Roboto;
					font-size: @font19;
					width: 42%;
					margin-left: 21px;
					margin-top: 30px;


					a{ color: @azulTitle;}
				}

				a{
					overflow: hidden;

					img{

						&:hover{
							.transition( all 0.3s );
							.scale(1.3);

						}
					}
				}

				p.nspText{
					float: left;
					width: 42%;
					text-align: justify;
					font-family: @content;
					font-size: @font13;
					color: @azulMenu;
					margin-left: 21px;
					margin-top: 15px;
				}

				a.readon{
					font-family: @montserrat;
					color: @azulMenu;
					font-size: @font13;
					position: relative;
					width: 63px;
					height: 35px;
					float: left;
					margin-left: 50px;
					margin-top: 28px;

					&:after{
						content: '';
						position: absolute;
						width: 100%;
						height: 5px;
						border-right: 1px solid @azulMenu;
						border-bottom: 1px solid @azulMenu;
						bottom: 16px;
						right: 0;
					}

					&:before{
						content: '+';
						position: absolute;
						background: @azulMenu;
						color: @base;
						left: -27px;
						top: -2px;;
						background-position: -145px -6px;
						padding: 0px 5px;
						border-radius: 50%;
						font-size: 24px;
					}
				}
			}
		}
	}

	.content-acceso{
		width: 25%;
		float: right;
		margin-top: 20px;

		#trigger-3{
			font-family: @Roboto;
			color: @azulTitle;
			font-size: @font16;
			width: 97%;
			display: inline-block;
			background-color: @base;
			padding: 4% 3%;
			background-image: url(../images/page-three/FlechaAccesosDirect.png);
			background-repeat: no-repeat;
			background-position: center right;
			float: right;
		}
	}

	.moduletable.rapido{
		float: right;
		background-color: @base;
		width: 93%;
		padding: 0 5%;

		.acceso{
			display: none;
			width: 100%;

			li{
				padding: 9px 2px;
				a{
					font-family: @Roboto;
					color: @azulTitle;
					font-size: @font15;
				}
			}
		}
	}
}

.section.page-four{
	background-color: @base;
	padding-bottom: 44px;

	.moduletable.eventos{
		table td{width: 33%;}

		h3{
			font-family: @comforta;
			color: @azulTitle;
			font-size: @font40;
			font-weight: 100;
			text-align: center;
			margin-top: 46px;
			position: relative;
			margin-bottom: 60px;

			&:after{
				content: '';
				position: absolute;
				width: 100%;
				height: 2px;
				background: @azulTitle;
				left: 0;
				top: 21px;
			}

			span{
				display: inline-block;
				text-align: right;
				position: relative;
				background: @base;
				z-index: 9;
				width: 251px;
				padding-right: 14px;

				&:before{
					content: '';
					position: absolute;
					background-image: url(../images/page-four/round-icons.png);
					width: 68px;
					height: 68px;
					left: 11px;
					top: -15px;
					background-position: -8px -93px;					
				}
			}
		}

		h4{
			float: left;
			font-family: @Roboto;
			color: @base;
			background-color: @azulTitle;
			font-size: @font21;
			text-align: center;
			border: 1px solid  @azulTitle;
			padding: 8px 0px 0 0;

			span{
				float: left;
				background-color: @base;
				width: 100%;
				color: @azulTitle;
				padding: 8px 0;
				font-family: @comforta;
				font-size: @font34;
			}
		}

		h5{
			color: @azulTitle;
			font-size: @font21;
			font-family: @Roboto;
			float: right;
			width: 75%;
			margin-right: 11px;
			margin-bottom: 6px;
		}

		p{
			float: right;
			font-family: @content;
			font-size: @font13;
			width: 75%;
			margin-right: 11px;
		}

		a{
			font-family: @montserrat;
			color: @azulMenu;
			font-size: @font13;
			position: relative;
			width: 63px;
			height: 35px;
			float: left;
			margin-left: 40px;
			margin-top: 28px;

			&:after{
				content: '';
				position: absolute;
				width: 100%;
				height: 5px;
				border-right: 1px solid @azulMenu;
				border-bottom: 1px solid @azulMenu;
				bottom: 16px;
				right: 0;
			}

			&:before{
				content: '+';
				position: absolute;
				background: @azulMenu;
				color: @base;
				left: -27px;
				top: -2px;;
				background-position: -145px -6px;
				padding: 0px 5px;
				border-radius: 50%;
				font-size: 24px;
			}
		}
	}
}

.section.page-five{
	background-image: url(../images/page-five/BG-redes.jpg);
	width: 100%;
	float: left;
	position: relative;
	padding: 20px 0;

	.col6{
		text-align: center;

		.moduletable.red{
			background-color: @azulMenu;
			padding-bottom: 25px;

			h3{
				font-family: @Roboto;
				font-size: @font22;
				color: @base;
				float: left;
				padding: 23px 0;
				margin-left: 27px;
				background-image: url(../images/page-five/Icon-Twitter.png);
				width: 44%;
				background-repeat: no-repeat;
				background-position: center left;
			}
		}

		.moduletable.face{
			background-color: @azulTitle;
			padding-bottom: 25px;

			h3{
				font-family: @Roboto;
				font-size: @font22;
				color: @base;
				float: left;
				padding: 23px 0;
				margin-left: 27px;
				background-image: url(../images/page-five/Icon-Face.png);
				width: 49%;
				background-repeat: no-repeat;
				background-position: center left;
			}

			iframe{
				background-color: @base;
			}
		}
	}
}

.section.page-six{
	background-color: @base;
	padding: 20px 0;
	.wrapper{
		width: 100%;
		float: left;
		background-image: url(../images/page-six/bg-enlaces.jpg);

		.menu-inferior{
			margin: 30px 0;

			nav{

				span{
					background: url(../images/page-two/Flechas.png);
					border-radius: 0;
					display: block !important;
					width: 28px;
					height: 42px;
					top: 44%;
				}

				.elastislide-prev{ background-position: -62px 0; }

				.elastislide-next{ background-position: -109px 0; }
			}
		}
	}
}

.section.page-seven{
	background-color: @base;
	padding: 40px 0;

	.moduletable.texto-virtual{
		width: 100%;
		margin: 0 auto;
		position: relative;
		text-align: center;

		.custom.texto-virtual{
			display: inline-block;
			position: relative;
		}

		img{ width: 100%;}

		h2{
			font-family: @comforta;
			font-size: @font40;
			position: absolute;
			top: 33%;
			left: 0;
			width: 100%;
			text-align: center;
			
			a{
				color: @base;
				width: 60%;
				display: inline-block;
				text-align: left;
			}

			span{
				font-size: @font30;
			}
		}
	}

	.moduletable.campus-mapa, .video{
		 width: 100%;
		 margin: 0 auto;
		 text-align: center;

		 .efecto{
		 	display: inline-block;
		 	position: relative;
		 	text-align: center;

		 	img{ width: 100%;}

		 	a{
		 		position: absolute;
		 		visibility: hidden;
		 		top: 0;
		 		left: 0;
		 		height: 0;
		 		width: 100%;
		 		.transition( height 0.3s );
		 		text-align: center;

		 		span{
		 			position: absolute;
		 			background-color: #8AC934;
		 			bottom: 0;
		 			font-family: @comforta;
					font-size: @font19;
					color: @base;
					display: inline-block;
					left: 0;
					width: 100%;
					padding: 16px 0;
		 		}
		 	}

		 	&:hover{

		 		a{
		 			visibility: visible;
		 			height: 100%;
		 			.background;
		 			text-align: center;
		 		}
		 	}
		}
	}

	.moduletable.video{
		 width: 100%;
		 margin: 0 auto;
		 text-align: center;

		 .efecto{
		 	display: inline-block;
		 	position: relative;
		 	text-align: center;

		 	img{ width: 100%;}

		 	a{
		 		position: absolute;
		 		visibility: hidden;
		 		top: 0;
		 		left: 0;
		 		height: 0;
		 		width: 100%;
		 		.transition( height 0.3s );
		 		text-align: center;

		 		span{
		 			position: absolute;
		 			background-color: #FA9101;
		 			bottom: 0;
		 			font-family: @comforta;
					font-size: @font19;
					color: @base;
					display: inline-block;
					left: 0;
					width: 100%;
					padding: 16px 0;
		 		}
		 	}

		 	&:hover{

		 		a{
		 			visibility: visible;
		 			height: 100%;
		 			.background-2;
		 			text-align: center;
		 		}
		 	}
		}
	}

	.jvotesystem.jvs-module{
		border: 1px solid #CCC;
		padding: 8px;

		.topbox{ 

			.title{ display: none; }

			p.question{
				font-family: @Roboto;
				font-size: @font18;
				display: block;
				color: @azulMenu;
				margin-bottom: 8px;
			}
		}

		.pagebox{

			p{ 
				font-family: @content;
				font-size: @font13;
				color: #848484;
			}

			.barholder{
				padding: 0;
				border: 2px solid @azulMenu;
				border-radius: 6px;

				a{
					height: auto;
					padding: 2px 0;
					background: @azulMenu !important;
				}
			}

			.navi{
				a{
					font-family: @content;
					font-size: @font15;
					padding: 5px;
					margin-top: 5px;
				}
			}

			a.comment{
				display: none;
			}

			.answer{
				line-height: 18px;
			}
		}

		.makenew{ display: none !important;}

		.endbox{
			line-height: 0;

			a.link{ display: none; }

			.leftMessage{
				font-family: @Roboto;
				font-size: @font15;
				margin-top: 10px;
			}
		}
	}
}

.section.page-seven > div p:last-child{display: none;}


.section.page-eight{
	background-image: url(../images/page-eight/bg-enlaces.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	position: relative;

	&:before{
		content: '';
		position: absolute;
		background-image: url(../images/page-eight/Logo-Footer.png);
		width: 100%;
		height: 88px;
		text-align: center;
		left: 0;
		bottom: -47px;
		background-repeat: no-repeat;
		background-position: center bottom;
		z-index: 9;
	}

	.moduletable.redes-down{
		float: right;
		width: 100%;
		margin: 33px 0;

		h3{
			float: left;
			font-family: @Roboto;
			font-size: @font18;
			color: @base;
			margin-right: 7px;
			margin-top: 10px;
		}

		li{
			display: inline-block;
			text-align: center;

			img{ 
				display: inline-block; 
				margin-right: 5px; 
				width: auto;

				&:hover{
					.transition( all 0.3s );
					.scale(1.1);
				}
			}
		}
	}

	.me-gusta{
		text-align: center;

		iframe{
			margin-top: 40px;
			float: right;
			width: 150px; 
		}
	}
}

.section.page-nine{
	background-color: @azulTitle;
	text-align: center;
	padding: 60px 0;
	position: relative;

	p{
		font-family: @content;
		font-size: @font13;
		line-height: 20px;
		color: @base;
	}

	.down{
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		text-align: center;
	}

}
#copy{
	float: left;
	width: 100%;
	text-align: right;
	background-color: @azulBuscar;
	padding: 5px 0;

	span{
		font-family: @Roboto;
		font-size:@font15;
		float: left;
		margin-left: 5%;
		color: @base;
	}

	a{
		background-image: url(../images/page-eight/logo-sainet.png);
		width: 68px;
		height: 20px;
		display: inline-block;
		float: left;
		margin-left: 6px;

	}
}

.rssearch_box {
	width: 100%
}

form.rsf_form {width: 24%;}