/**
* Estilos paara dispositivos móviles
*
*/

// Laptops
@media only screen and (max-width: 1023px) and ( min-width:961px ) {
	
	.section.page-one{


		header{

			.search{
				#mod-search-searchword{
					width: 76%;
				}
			}

			.moduletablebuscar {
				input[type="text"] {
					width: 76%;
				}
			}

			#trigger{
				display: block;
			}

			.menu-up{
				display: none;

				ul.menu{
					width: 100%;
					background: @azulBuscar;
					border-radius: 0px 0px 9px 9px;
					margin-bottom: 6px;

					li{
						margin-left: 0 !important;
						display: block;
						width: 100%;
						position: inherit;
						text-align: center;
						padding: 4px 0;

						a{
							font-size: @font18;
						}
					}
				}
			}

			.moduletablechat{

				li{
					width: 49%;

					&:last-child{ margin-left: 0;}
				}
			}

			.moduletable.redes-up{
				margin: 20px 0;

				ul{
					text-align: center;
				}

				li{

					img{ margin-right: 0;}
				}
			}
		}

		nav{

			#trigger-2{
				display: block;
			}

			.menu-inicio {
				background-color: #00A3CF;

				#flyout_menu_92 {
					width: 100%;
					display: none;

					.opened{
						background: @base !important;

						ul{
							border: none;
							box-shadow: none;
						}

						ul li{
							border-bottom: 1px solid rgba(0, 180, 223, 0.38);
							padding: 10px 0 !important;
							position: relative;

							&:after{
								content: '';
								position: absolute;
								background-image: url(../images/page-two/)
							}

							a{
								font-size: @font15;
							}

							&:hover{
								background: @azulMenu !important;

								a{
									color: @base !important;
								}

								ul li a{ color: @azulMenu !important;}

								ul li {

									&:hover{

										a{ color: @base !important;}
									}
								}
							}

							&:last-child{ border: none;}
						}

						a{
							color: @azulMenu !important;
						}
					}

					li{
						padding: 1.5% 0% !important;
						border: none;
						border-bottom: 1px solid @azulMenu;

						a{ 
							font-family: @Roboto;
							font-size: @font16;
							line-height: 20px;
							font-weight: 400;
						}
					}
				}
			}
		}

		main{

			.slider-home{ 
				width: 70%;
			}
		}
	}

	.section.page-two{

		.content-slider-programas .moduletable{

			.themestrip-container{
				width: 100% !important;
			}
		}
	}

	.section.page-three{

		.moduletable.noticias, .investigacion{

			.nspMain{

				.nspArt{

					h4{
						margin-left: 2px;
						margin-top: 6px;
					}

					a{
						img{
							width: 193px !important;
							height: 183px !important;
						}
					}

					p.nspText{
						margin-left: 2px;
					}

					a.readon{
						margin-top: 12px;
					}
				}
			}
		}
	}

	.section.page-four{

		.moduletable.eventos h5{width: 70%;}

		.moduletable.eventos p{width: 70%;}
	}

	.section.page-seven{

		.moduletable.campus-mapa, .video{

			.efecto{
			 	a{
			 		visibility: visible;
			 		height: 100%;
			 	}
			}
		}

		.moduletable.video{
			.efecto{
			 	a{
			 		visibility: visible;
			 		height: 100%;
			 	}
			}
		}
	}

	.section.page-eight{

		.moduletable.redes-down{
			text-align: center;
			margin: 15px 0;

			h3{
				float: none;
				margin: 0;
				margin-bottom: 10px;
			}
		}
	}
	//Estilos Catalogo de programas

	main .category-view .row .category{margin-right: 10px !important;}
	main .category-view .row .category h2 p{
		width: 46% !important; 
		font-size: 1.4rem !important; 
		padding-left: 7px !important;
		height: 62px !important;
	}
	main .category-view .row .category h2 span{
		right: 8px !important;
		bottom: 14px !important;
		font-size: 1.3rem !important;
	}
	main .browse-view h1 span{padding-left: 30px;}
	main .category_description h1 span{width: 90% !important; margin: 34px 0 !important;}
	main .productdetails-view h1 span{width: auto !important;font-size: 3rem !important;}





}


@media only screen and (max-width: 1024px) and ( min-width:961px ) {

	.section.page-one.home {height: 93vh;}

	.section.page-one{

		header{

			.moduletablebuscar {
				input[type="text"] {
					width: 70% !important;
				}
			}
		}

		
	}


	.menu-lateral{
		.moduletable{
			#jj_sl_navigation{
				opacity: 0.7;
			}
		}
	}


	// publicaciones 
	.tabla-publicaciones {
		td {
			padding: 20px;
			img {margin: 0 auto; width: 95%;}
			&:last-child {
				padding-top: 40px;
				padding-left: 10px;
			}
		}
	}

	.tabla-acordeon {
		td {
			padding: 20px;
			img {margin: 0 auto; width: 95%;}
			&:last-child {
				padding-top: 40px;
				padding-left: 10px;
			}
		}
	}

	div.nn_sliders_content_wrapper div.nn_sliders_content {
		border:0 !important;
		padding-bottom: 30px !important;
	    padding-left: 5px !important;
	    padding-right: 5px !important;
	    padding-top: 10px !important;
		border-radius: 0;
		background: @blanco;
		font-family: @fontbody !important;
		margin-bottom: 0px;
		color: @gris;
	}


	// convenios

	div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li > span > a {font-size: 12px;}

	// valores

	.tabla-valores {
		width: 85% !important;
	}

	// admisiones

	.tabla-servicio-admin {

		tr {
			&:first-child {
				td {
					&:nth-child(1) {
						background: #E9F5FA;
						border-right: 0 !important;
					}
					&:nth-child(2) {
						// img {min-width: 406px;}
						border-left: 0 !important;
					}
					&:nth-child(3) {
						background: #CFEBF4;
					}
				}
			}
			&:nth-child(2) {
				td {
					&:nth-child(1) {
						background: #CFEBF4;
					}
					&:nth-child(2) {
						background: #E9F5FA;
						border-right: 0 !important;
					}
					&:nth-child(3) {
						// img {min-width: 406px;}
						border-left: 0 !important;
					}
				}
			}
			&:nth-child(3) {
				td {
					&:nth-child(1) {
						background: #E9F5FA;
						border-right: 0 !important;
					}
					&:nth-child(2) {
						// img {min-width: 406px;}
						border-left: 0 !important;
					}
					&:nth-child(3) {
						background: #CFEBF4;
					}
				}
			}
			td {
				border: 10px solid #FFFFFF;
				vertical-align: top;
				min-width: 317px;
				

				div {
					.size(68%, auto);
					margin: 12% 7% 0 25%;

					h3 {
						font-family: @comforta;
						color: @AzulHeader;
						font-size: 17px;
						line-height: 20px;
						width: 100%;
					}

					p {
						color: @AzulHeader;
						font-size: 14px;
						line-height: 16px;
					}
				}
			}
		}
	}

	.moduletablenoticias {
		.nspArt {
			h4.nspHeader {
				width: 72%;
			}
		}
	}

	.item-pageelectivas {
		div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li > span > a {font-size: 12px;}
	}
	

	.blog-lista, ..blog-lista-azul {
		li {
			h3 {
				font-size: @font14;
			}
		}
	}

	#jcemediabox-popup-body {
		width: 600px !important;

		#jcemediabox-popup-content {width:580px !important;}
	}

	.themestrip-container .elastislide-horizontal {
		padding: 10px 90px;
	}		


}




