/**
* Estilos paara dispositivos móviles
*
*/

// Mini Tablets
@media only screen and (max-width: 768px) and ( min-width:481px ) {

	.section.page-one.home {height: 95vh;}

	.section.page-one{


		header{

			.search{
				#mod-search-searchword{
					width: 88%;
				}
			}

			.moduletablebuscar {
				margin-bottom: 8px;
				input[type="text"] {
					width: 93% !important;
					padding: 7px 0 7px 10px !important;
					height: 11px;
				}
			}

			#trigger{
				display: block;
			}

			.menu-up{
				display: none;

				ul.menu{
					width: 100%;
					background: @azulBuscar;
					border-radius: 0px 0px 9px 9px;
					margin-bottom: 6px;

					li{
						margin-left: 0 !important;
						display: block;
						width: 100%;
						position: inherit;
						text-align: center;
						padding: 4px 0;

						a{
							font-size: @font18;
						}
					}
				}
			}

			.moduletablelogo{ 
				float: none; 
				margin: 12px 0;
				text-align: center;

				img{ width: auto; float: none !important; display: inline-block;}
			}

			.moduletablechat{
				text-align: center;
				margin: 13px 0;
				width: 100%;

				li{

					&:last-child{ margin-left: 0;}
				}
			}

			.moduletable.redes-up{
				margin: 3px 0;
				text-align: center;
				width: 100%;

				ul{
					text-align: center;
				}

				li{

					img{ margin-right: 0;}
				}
			}
		}

		nav{

			#trigger-2{
				display: block;
			}

			.menu-inicio {
				background-color: #00A3CF;

				#flyout_menu_92 {
					width: 100%;
					display: none;

					.opened{
						background: @base !important;

						ul{
							border: none;
							box-shadow: none;
						}

						ul li{
							border-bottom: 1px solid rgba(0, 180, 223, 0.38);
							padding: 10px 0 !important;
							position: relative;

							&:after{
								content: '';
								position: absolute;
								background-image: url(../images/page-two/)
							}

							a{
								font-size: @font15;
							}

							&:hover{
								background: @azulMenu !important;

								a{
									color: @base !important;
								}

								ul li a{ color: @azulMenu !important;}

								ul li {

									&:hover{

										a{ color: @base !important;}
									}
								}
							}

							&:last-child{ border: none;}
						}

						a{
							color: @azulMenu !important;
						}
					}

					li{
						padding: 1.5% 0% !important;
						border: none;
						border-bottom: 1px solid @azulMenu;

						a{ 
							font-family: @Roboto;
							font-size: @font16;
							line-height: 20px;
							font-weight: 400;
						}
					}
				}
			}
		}

		main{

			.slider-home{ 
				width: 100%;

				.nspArt{

					h4{
						font-size: @font30;
					}
				}
			}
		}
	}

	.section.page-two{

		.moduletable.programas{

			ul {
				margin-bottom: 17px;
			}
		}

		.moduletable.item-menus{

			ul{
				width: 90%;
			}
		}

		.content-slider-programas .moduletable{

			.themestrip-container{
				width: 98% !important;
			}
		}
	}

	.section.page-three{

		.moduletable.noticias, .investigacion{

			h3{
				width: 100%;
				padding: 2% 0 2%;

				&:before{display: none;}
			}

			.nspMain{
				width: 100% !important;

				.nspArt{
					width: 100% !important;
					margin-bottom: 10px;

					h4{
						width: 45%;
					}

					p{
						width: 50%;
					}
				}
			}
		}
	}

	.section.page-four{

		.moduletable.eventos{

			table td{
				display: inline-block;
				margin-bottom: 15px;

				h4 {margin-left: 5%; margin-bottom: 10px;}

				h5{
					float: left;
					margin-left: 11px;
				}

				p{
					float: left;
					margin-left: 11px;
				}
			}
		}

		.moduletable.eventos a{
			margin-top: 18px;
		}
	}

	.section.page-five{

		.col6 .moduletable{
			margin-bottom: 10px;

			iframe{width: 100% !important;}

			h3{width: 94% !important;}
		}

		.col6 .moduletable.red{

		}
	}

	.section.page-seven{

		.moduletable.campus-mapa, .video{

			.efecto{
			 	a{
			 		visibility: visible;
			 		height: 100%;
			 	}
			}
		}

		.moduletable.video{
			.efecto{
			 	a{
			 		visibility: visible;
			 		height: 100%;
			 	}
			}
		}

		.col3{
			width:46% !important;
			float: left !important;
			margin-bottom: 15px;
		}
	}

	.section.page-eight{

		&:before{display: none;}

		.moduletable.redes-down{
			text-align: center;
			margin: 15px 0;

			h3{
				float: none;
				margin: 0;
				margin-bottom: 10px;
			}
		}

		.col6.last.like {text-align: center;}

		.me-gusta{
			text-align: center;
			display: inline-block;
			margin: 0 auto;

			iframe{
				margin: 12px 0;
			}
		}
	}
	main .category-view .row{text-align: center;} 

	main .category-view .row .category{
		margin-right: 10px !important;
		width: 50% !important;
		display: inline-block !important;
		float: none;
		margin-bottom: 31px !important;
	}
	main .category-view .row .category h2 p{
		width: 46% !important; 
		font-size: 1.4rem !important; 
		padding-left: 7px !important;
		height: 62px !important;
	}
	main .category-view .row .category h2 span{
		right: 8px !important;
		bottom: 14px !important;
		font-size: 1.3rem !important;
	}
	main .browse-view .row .width30{width: 40% !important;}
	main .browse-view .row .width70{width: 60% !important;}
	main .browse-view h1 span{padding-left: 30px;}
	main .browse-view{margin-top: 183px !important;}
	main .category-view{margin-bottom: 0 !important;}
	main .productdetails-view .product-description{width: 100% !important;}
	main .productdetails-view .formulario-catalogo{width: 100% !important; text-align: center !important;}
	main .img-top .product-fields .img-detalle-catalogo img{width: 100% !important;margin-top: 0px !important;}
	main .img-top .product-fields .img-detalle-catalogo{margin-left: 0 !important;}
	main .img-top{height: 123px !important}
	main .productdetails-view .product-description table { width: 66%; margin: 0 auto;}
	main .productdetails-view .product-description .spacer-buy-area{text-align: center;width: 100% !important;}
	main .productdetails-view .product-description .spacer-buy-area .product-price .PricesalesPrice{float: none !important;}
	main .category_description h1 span{width: 90% !important;margin: 34px 0 !important;}
	main .productdetails-view h1{font-size: 3rem !important;}
	main .productdetails-view h1 span{width: auto !important;font-size: 3rem !important;}

	.item-page {
		h2 {
			font-size: @font30;
			margin-top: 50px;
			span {text-align: center;}
		}
	}

	.item-pageque-es-ibero {
		p {
			padding: 0 40px;
		}
	}

	.menu-lateral{
		.moduletable{
			#jj_sl_navigation{
				opacity: 0.7;
			}
		}
	}

	.tabla-col2 {
		td {
			width: 100%;
			display: inline-block;
			img {
				margin: 20px auto 0 !important;
				float: none !important;
			}
		}
	}


	// publicaciones

	div.nn_sliders_content_wrapper div.nn_sliders_content {
		border:0 !important;
		padding-bottom: 30px !important;
	    padding-left: 5px !important;
	    padding-right: 5px !important;
	    padding-top: 10px !important;
		border-radius: 0;
		background: @blanco;
		font-family: @fontbody !important;
		margin-bottom: 0px;
		color: @gris;
	}

	.tabla-publicaciones {

		.borde {
			padding: 10px;
			background: lighten(@gris, 25%);
		}

		td {
			width: 50%;
			padding: 10px;
			img {margin: 0 auto;}
			&:last-child {
				padding-top: 15px;
			}
		}
	}

	.tabla-acordeon {

		.borde {
			padding: 10px;
			background: lighten(@gris, 25%);
		}

		td {
			width: 50%;
			padding: 10px;
			img {margin: 0 auto;}
			&:last-child {
				padding-top: 15px;
			}
		}
	}

	.boton-descargar {margin-top: 10px;}



	// convenios

	div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li {
		width: 100%;
		display: inline-block;
		float: left;
	}

	.tabla-convenios {
		td {
			width: 100%;
			padding:0;
			vertical-align: middle;
			display: inline-block;
			img {margin: 20px auto 0;}
		}
	}

	.tabla-tabs {
		td {
			width: 100%;
			padding:0;
			vertical-align: middle;
			display: inline-block;
			img {margin: 20px auto 0;}
		}
	}

	// porcedimientos

	.tabla-base {
		width: 100% !important;
		td {
			padding: 30px 10px;
			font-size: 16px;
		}
	}

	.tabla-valores {
		width: 80% !important;
		margin: 8px auto 30px !important;
		&:after {
			position: absolute;
			content: "";
			bottom: -230px;
			right: -405px;
			.size(444px, 359px);
			background: url("../images/hand.jpg");
			z-index: -1;
		}
		td {
			width: 100%;
			display: inline-block;
			p {
				margin-right: 50px;
			}
		}
	}


	// admisiones


	.tabla-servicio-admin {
		width: 55% !important;
		margin: 0 auto;

		tr {
			&:first-child {
				td {
					&:nth-child(1) {
						background: #E9F5FA;
						border-right: 0 !important;
					}
					&:nth-child(2) {
						// img {min-width: 406px;}
						border-left: 0 !important;
					}
					&:nth-child(3) {
						background: #CFEBF4;
					}
				}
			}
			&:nth-child(2) {
				td {
					&:nth-child(1) {
						background: #CFEBF4;
					}
					&:nth-child(2) {
						background: #E9F5FA;
						border-right: 0 !important;
					}
					&:nth-child(3) {
						// img {min-width: 406px;}
						border-left: 0 !important;
					}
				}
			}
			&:nth-child(3) {
				td {
					&:nth-child(1) {
						background: #E9F5FA;
						border-right: 0 !important;
					}
					&:nth-child(2) {
						// img {min-width: 406px;}
						border-left: 0 !important;
					}
					&:nth-child(3) {
						background: #CFEBF4;
					}
				}
			}
			td {
				border-bottom: 10px solid #fff !important;
				border-left: 0 !important;
				border-top: 0 !important;
				border-right: 0 !important;
				vertical-align: top;
				min-width: 317px;
				width: 100%;
				display: inline-block;
				

				div {
					.size(68%, auto);
					margin: 12% 7% 10% 25%;

					h3 {
						font-family: @comforta;
						color: @AzulHeader;
						font-size: 17px;
						line-height: 20px;
						width: 100%;
					}

					p {
						color: @AzulHeader;
						font-size: 14px;
						line-height: 16px;
					}
				}
			}
		}
	}

	.tabla-financiacion {
		width: 99% !important;
		margin: 0 auto;
		td {
			border:1px solid lighten(@gris, 10%);
			padding: 40px 30px;
			position: relative;

			img {
				position: relative;
				z-index: 9999;
			}
			&:hover {
				&:before {opacity: 1;}
			}
			&:before {
				position: absolute;
				content: "";
				top: -2px;
				left: -2px;
				.size(100%, 100%);
				background: transparent;
				border: 2px solid @azulMenu;
				opacity: 0;
				.transition(all .2s);
			}
		}
	}

	.tabla-icfes {
		border-spacing: 12px;
		border-collapse: separate;
		td {
			border: 1px solid lighten(@gris, 15%);
			padding: 15px 40px;
			vertical-align: middle;
			height: auto;
			position: relative;
			width: 80%;
			display: inline-block;
			&:before {
				position: absolute;
				content: "";
				.size(12px, 101%);
				top: -1px;
				left: -1px;
				background-size: cover;
			}
			h3 {
				width: 50%;
				float: left;
				font-family: @comforta;
				font-size: @font24;
			}
			ul {
				width: 50%;
				float: left;
				margin: 0;
				li {
					margin-bottom: 0;
					&:before {
						display: none;
					}
				}
			}
		}
	}


	.moduletablenoticias {
		.nspImageWrapper {
			overflow: hidden;
			display: inline-block;
			width: 34% !important;
			img {
				width: 100% !important;
				.transition(all .3s);
				&:hover {
					.scale(1.2);
				}
			}
		}
		.nspArt {
			h4.nspHeader {
				width: 59%;
			}

			p.nspText {font-size: 14px;}
		}
	}

	#k2Container {
		.itemListCategory {
			h2 {
				margin-top: 40px;
			}
		}
	}

	.catItemBody {
		.catItemIntroText {
			img {margin-right: 10px;}
			.content-rigth	 {
				.catItemTitle {
					margin-top: 0;
					font-size: 20px;
				}

				.catItemReadMore {
					a {
						margin-top: 14px;
					}
				}
			}
		}
	}

	.moduletablecol2 {
		.nspArtPage {
			.nspArt {
				width: 90% !important;
				padding: 20px !important;
				position: relative;
				border-top: 0 !important;
				border-left: 0 !important;
				border-right: 0 !important;
				border-bottom: 1px solid @gris !important;
			}
		}
	}

	.blog-lista, .blog-lista-azul {
		li {
			width: 48%;
			h3 {
				font-size: @font16;
			}
		}
	}


	#jcemediabox-popup-body {
		width: 500px !important;

		#jcemediabox-popup-content {width:480px !important;}
	}

	form.rsf_form {width: 95%;}	

	.tabla-formuario .rsform-submit-button {
		width: 23%;
	}

	.themestrip-container .elastislide-horizontal {padding: 10px 99px;}
		

}
