.page-pqrs{
	width: 922px;
	margin: 0 auto;
	ul.nav-pqrs{
		float: left;
		width: 670px;
		li{
			display: inline-block;
			float: left;
			a{
				text-decoration: none;
				padding: 9px 17px;
				border: 1px solid #ccc;
				color: @azulTitle;
				font-size: 20px;
				font-weight: 400;
				font-family: 'Roboto Slab', serif;
			 }
			&:before{display: none;}

			&:first-child{padding-left: 8px;}
		}
	}

	.btn-consulte{
		background: @azulMedio;
		float: right;
		border-bottom: 4px solid @azulTitle;
		width: 166px;
		height: 57px;
		margin-top: -10px;
		text-align: center;
		padding-left: 70px;
		padding-top: 3px;
		a{
			text-decoration: none;
			color: @base;
			font-family: @Roboto;
			line-height: 23px;
			margin-top: 16px;
			margin-right: 12px;
			text-align: center;

			.mini{font-size: 16px;}
			.big{font-size: 25px;}
		}
	}
	#form_pqrs{

		.wrapper-form-pqrs{

			table.content_form{ width: 100%;
			
				td{
					text-align: left;
					vertical-align: middle;
					width: 50%;
					padding: 7px 5px; 
					input[type="text"] {
						width: 96%;
						padding: 7px 4px;
						background: @grisPqrs;
						border: 0;
						font-size: 17px;
						font-family: @Roboto; 
						color: #666;
						margin-top: 4px;
					}	
					select{
						width: 98%;
						background: @grisPqrs;
						border: 0;
						font-size: 17px;
						color: #666;
						border-radius: none;
						height: 38px;			
						color: #666;				
						margin-top: 4px;
					}
					label{font-family: @Roboto; color: #808080; margin-bottom: 4px;}
					textarea {
						width: 98%;
						padding: 9px 4px;
						background: @grisPqrs;
						height: 120px;
						border: 0;
						font-size: 17px;
						font-family: @Roboto; 
						color: #666;
						margin-top: 4px;
					}				
					ul.tels{ padding-left: 0; margin: 0;
						li{
							display: inline-block;
							width: 47%;
							padding: 0;
							margin: 0;
							color: #666;
							line-height: 15px;

							&:nth-child(2n+1){
								width: 50%;
							}				

							&:before{display: none;}								
						}
					}				
				}
			}	
		}	
		input[type="submit"] {
			background-image: url(../images/contenido/flecha_btn_con.png);
			background-position: left;
			background-repeat: no-repeat;
			background-color: @azulMedio;
			color: #fff;
			text-transform: uppercase;
			padding: 10px 45px;
			border-radius: 0;
			border: none;
			font-size: 17px;
			font-family: @Roboto; 
			margin-top: 20px;
			margin-left: 15px;
			position: relative;		
			text-align: center;	
		}
		input[type="reset"] {
			background-image: url(../images/contenido/flecha_btn_con.png);
			background-position: left;
			background-repeat: no-repeat;
			background-color: @azulTitle;
			color: #fff;
			text-transform: uppercase;
			padding: 10px 45px;
			border-radius: 0;
			border: none;
			font-size: 17px;
			font-family: @Roboto; 
			margin-top: 20px;
			margin-left: 15px;
			position: relative;			
			text-align: center;
		}					
	}	
}
.titulo-pqrs{
	font-family: @comforta;
	color: @azulTitle;
	font-size: @font40;
	font-weight: 100;
	text-align: center;
	margin-top: 80px;
	position: relative;
	margin-bottom: 50px;

	&:after{
		content: '';
		position: absolute;
		width: 100%;
		height: 2px;
		background: @azulTitle;
		left: 0;
		top: 21px;
	}

	span{
		display: inline-block;
		text-align: right;
		position: relative;
		background: @base;
		z-index: 9;
		padding: 0 23px;
	}	
}

.global-notification {
	display: none;
	position: fixed;
	padding: 10px;
	width: 400px;
	top: 200px;
	left: 50%;
	margin-left: -200px;
	border: 1px solid #7A7260;
	background-color:  #1B92A7;
	font-family: 'Archivo Narrow';
	
	.box-shadow( 0px 0px 6px darken(@gris, 50%) );
	color: #fff;
	font-size: 1.6rem;
	letter-spacing: 1px;
	text-align: center;
	z-index: 99999999;

	&.red { color: darken(red, 30%) }
}
#system-message-container{ text-align: center;
	#system-message{
		border-radius: 4px;
		padding: 5px 17px;
		display: inline-block;
		box-shadow: 0px 0 2px 2px rgba(21, 73, 136, 0.41);
		color: @azul;
		text-align: center;
		font-family: 'Archivo Narrow';
		margin-bottom: 20px;

		.error{color: red;}

		li{list-style-image: none;}
	}
}