/**
* Estilos paara dispositivos móviles
*
*/

// Smartphones
@media only screen and (max-width: 480px) and ( min-width:0px ) {

	.matriculate{
		display: none;
	}

	.section.page-one{

		header{

			.search{

				label{ margin-right: 5px; }
				#mod-search-searchword{
					width: 81%;
				}
			}

			.moduletablebuscar {
				margin-bottom: 7px;
				input[type="text"] {
					width: 79% !important;
					padding: 5px 0 5px 10px !important;
				}
			}

			#trigger{
				display: block;
			}

			.menu-up{
				display: none;

				ul.menu{
					width: 100%;
					background: @azulBuscar;
					border-radius: 0px 0px 9px 9px;
					margin-bottom: 6px;

					li{
						margin-left: 0 !important;
						display: block;
						width: 100%;
						position: inherit;
						text-align: center;
						padding: 4px 0;

						a{
							font-size: @font18;
						}
					}
				}
			}

			.moduletablelogo{ 
				float: none; 
				margin: 12px 0;
				text-align: center;

				img{ width: 100%; float: none !important; display: inline-block;}
			}

			.moduletablechat{
				text-align: center;
				margin: 13px 0;
				width: 100%;

				li{
					width: 41%;
					&:last-child{ margin-left: 0;}
				}
			}

			.moduletable.redes-up{
				margin: 3px 0;
				text-align: center;
				width: 100%;

				ul{
					text-align: center;
				}

				li{

					img{ margin-right: 0;}
				}
			}
		}

		nav{
			position: relative;
			z-index: 999;

			#trigger-2{
				display: block;
			}

			.menu-inicio {
				background-color: #00A3CF;

				#flyout_menu_92 {
					width: 100%;
					display: none;

					.opened{
						background: @base !important;

						ul{
							border: none;
							box-shadow: none;
						}

						ul li{
							border-bottom: 1px solid rgba(0, 180, 223, 0.38);
							padding: 10px 0 !important;
							position: relative;

							&:after{
								content: '';
								position: absolute;
								background-image: url(../images/page-two/)
							}

							a{
								font-size: @font15;
							}

							&:hover{
								background: @azulMenu !important;

								a{
									color: @base !important;
								}

								ul li a{ color: @azulMenu !important;}

								ul li {

									&:hover{

										a{ color: @base !important;}
									}
								}
							}

							&:last-child{ border: none;}
						}

						a{
							color: @azulMenu !important;
						}
					}

					li{
						padding: 1.5% 0% !important;
						border: none;
						border-bottom: 1px solid @azulMenu;

						a{ 
							font-family: @Roboto;
							font-size: @font16;
							line-height: 20px;
							font-weight: 400;
						}
					}
				}
			}
		}

		main{

			.slider-home{ 
				display: none;

				.nspArt{

					h4{
						font-size: @font30;
					}
				}
			}
		}

		.down {
			display: none;
		}
	}

	.section.page-two{

		.moduletable.programas{

			ul { margin-bottom: 17px; }
		}

		.moduletable.item-menus{

			ul{ width: 82%; }
		}

		.content-slider-programas .moduletable{

			.themestrip-container{
				width: 100% !important;
			}

			.elastislide-carousel{

				li{
					width: 100% !important;
					height: auto !important;

					img{
						height: auto;
					}
				}
			}
		}
	}

	.section.page-three{

		.moduletable.noticias, .investigacion{

			h3{
				width: 100%;
				padding: 2% 0 2%;

				&:before{display: none;}
			}

			.nspMain{
				width: 100% !important;

				.nspArt{
					width: 100% !important;
					margin-bottom: 10px;

					h4{
						width: 90%;
						margin: 12px auto;
						float: none;
					}

					a{
						text-align: center;
						width: 100%;

						img{
							float: none;
							display: inline-block;
						}
					}

					p.nspText{
						width: 90%;
						margin: 12px auto;
						text-align: center;
					}

					a.readon{
						margin-top: 0;
					}
				}
			}
		}

		.content-acceso{ width: 96%; }
	}

	.section.page-four{

		.moduletable.eventos{

			table td{
				display: inline-block;
				margin-bottom: 15px;
			}
		}

		.moduletable.eventos h5{width: 67%;}

		.moduletable.eventos p{width: 67%;}

		.moduletable.eventos a{
			margin-top: 18px;
		}
	}

	.section.page-five{

		.col6 .moduletable{
			margin-bottom: 10px;

			h3{
				width: 94% !important;
			}
		}
	}

	.section.page-six{

		.menu-inferior{

			.elastislide-carousel{

				li{
					width: 100% !important;
				}
			}
		}
	}

	.section.page-seven{

		.moduletable.campus-mapa, .video{

			.efecto{
			 	a{
			 		visibility: visible;
			 		height: 100%;
			 	}
			}
		}

		.moduletable.video{
			.efecto{
			 	a{
			 		visibility: visible;
			 		height: 100%;
			 	}
			}
		}

		.col3{
			margin-bottom: 15px;
		}
	}

	.section.page-eight{
		
		&:before{display: none;}

		.moduletable.redes-down{
			text-align: center;
			margin: 15px 0;

			h3{
				float: none;
				margin: 0;
				margin-bottom: 10px;
			}
		}

		.col6.last.like {text-align: center;}

		.me-gusta{
			text-align: center;
			display: inline-block;
			margin: 0 auto;

			iframe{
				margin: 12px 0;
				width: 130px;
			}
		}
	}
	main .category-view .row{text-align: center;} 

	main .category-view .row .category{
		margin-right: 10px !important;
		width: 100% !important;
		display: inline-block !important;
		float: none;
		margin-bottom: 31px !important;
	}
	main .category-view .row .category h2 p{
		width: 46% !important; 
		font-size: 1.4rem !important; 
		padding-left: 7px !important;
		height: 62px !important;
	}
	main .category-view .row .category h2 span{
		right: 17px !important;
		bottom: 22px !important;		
		font-size: 1.3rem !important;
	}

	main .browse-view .row .width30{
		width: 70% !important;
		text-align: center;
		margin: 0 auto;
		float: none;
	}
	main .category_description h1 span{width: auto !important; margin: 37px 0 !important; font-size: 30px;}
	main .productdetails-view h1{font-size: 3.5rem !important;margin: 34px 0 !important;}
	main .browse-view .row .width70{width: 100% !important;}
	main .browse-view h1 span{padding-left: 30px;}
	main .browse-view{margin-top: 183px !important;}
	main .category-view{margin-bottom: 0 !important;}
	main .productdetails-view .product-description{width: 100% !important;}
	main .productdetails-view .formulario-catalogo{width: 100% !important; text-align: center !important;}
	main .productdetails-view .formulario-catalogo iframe {width: 327px !important;}
	main .img-top .product-fields .img-detalle-catalogo img{width: 130% !important;margin-top: 0px !important;}
	main .img-top .product-fields .img-detalle-catalogo{margin-left: 0 !important;}
	main .img-top{height: 78px !important}

	// contenidos

	.tabla-responsive {
		td {
			padding: 10px 2px;
			width: 100%;
			display: inline-block;
		}
	}

	.item-pageque-es-ibero {
		h2 {
			font-size: @font30;
			margin-top: 50px;
		}
		p {
			padding: 0 5px;
		}
	}

	.tabla-col2 {
		td {
			vertical-align: top;
			width: 100%;
			display: inline-block;
			img {
				float: none !important;
				margin: 20px auto 0 !important;
			}
		}
	}

	.item-page {
		h2 {
			font-size: @font30;
			margin-top: 50px;
			span {text-align: center;}
		}
	}

	.menu-lateral{
		.moduletable{
			#jj_sl_navigation{
				top: 30%;
				opacity: 0.7;
			}
		}
	}
	// publicaciones

	.tabla-publicaciones {

		.borde {
			padding: 10px;
			background: lighten(@gris, 25%);
		}

		td {
			width: 100%;
			vertical-align: top;
			display: inline-block;
			text-align: center;
			img {margin: 0 auto;}
			p {
				text-align: center;
				font-family: @comforta;
				font-weight: lighter;
				font-size: @font19;
			}
			&:last-child {
				padding-top: 30px;
			}
		}
	}

	.tabla-acordeon {

		.borde {
			padding: 10px;
			background: lighten(@gris, 25%);
		}

		td {
			width: 100%;
			vertical-align: top;
			display: inline-block;
			text-align: center;
			img {margin: 0 auto;}
			p {
				text-align: center;
				font-family: @comforta;
				font-weight: lighter;
				font-size: @font19;
			}
			&:last-child {
				padding-top: 30px;
			}
		}
	}

	div.nn_sliders_content_wrapper div.nn_sliders_content {
		border:0 !important;
		padding-bottom: 30px !important;
	    padding-left: 5px !important;
	    padding-right: 5px !important;
	    padding-top: 10px !important;
		border-radius: 0;
		background: @blanco;
		font-family: @fontbody !important;
		margin-bottom: 0px;
		color: @gris;
	}

	.boton-descargar {margin-top: 15px;}

	div.nn_sliders_slider a {
		&:after {display: none;}
	}

	div.nn_sliders_slider a:hover {
		&:after {display: none;}
	}

	div.nn_sliders_slider.active a, div.nn_sliders_slider.active a:hover {
		&:after {display: none;}
	}

	// convenios

	div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li {
		width: 100%;
		display: inline-block;
		float: left;
	}

	.tabla-convenios {
		td {
			width: 100%;
			vertical-align: middle;
			display: inline-block;
			padding:0;
			img {margin: 10px auto 0;}
		}
	}

	.tabla-tabs {
		td {
			width: 100%;
			vertical-align: middle;
			display: inline-block;
			padding:0;
			img {margin: 10px auto 0;}
		}
	}

	div.nn_tabs_container > div.nn_tabs_content {
		border:0;
		background: @blanco;
		padding:30px 5px 10px 5px;
		margin-bottom: 0;
	}

	.tabla-gestion {
		tr {
			td {
				vertical-align: top;
				padding:30px 1%;
				border-bottom: 1px solid lighten(@gris, 20%);
				width: 100% !important;
				display: inline-block;
			}
		}
	}

	.tabla-base {
		width: 100% !important;

		td {
			padding: 15px 1px;
			font-size: 12px;
		}
	}

	.tabla-base.movil {
		width: 100% !important;

		tbody{
			display: block;
			overflow-x: auto;
			width: 60%;
		}
		td {
			padding: 15px 1px;
			font-size: 12px;
		}
	}


	// valores

	.tabla-valores {
		width: 80% !important;
		margin: 8px auto 30px !important;
		&:after {
			position: absolute;
			content: "";
			bottom: -230px;
			right: -400px;
			.size(444px, 359px);
			background: url("../images/hand.jpg");
			z-index: -1;
		}
		td {
			width: 100%;
			display: inline-block;
			p {
				margin-right: 50px;
			}
		}
	}


	// admisiones


	.tabla-servicio-admin {
		width: 85% !important;
		margin: 0 auto;

		tr {
			&:first-child {
				td {
					&:nth-child(1) {
						background: #E9F5FA;
						border-right: 0 !important;
						h3 {
							&:before {
								background-position: 6px 10px;
							}
						}
					}
					&:nth-child(2) {
						// img {min-width: 406px;}
						border-left: 0 !important;
					}
					&:nth-child(3) {
						background: #CFEBF4;
						h3 {
							&:before {
								background-position: 5px -38px;
							}
						}
					}
				}
			}
			&:nth-child(2) {
				td {
					&:nth-child(1) {
						background: #CFEBF4;
						h3 {
							&:before {
								background-position: 7px -86px;
							}
						}
					}
					&:nth-child(2) {
						background: #E9F5FA;
						border-right: 0 !important;
						h3 {
							&:before {
								background-position: 6px -135px;
							}
						}
					}
					&:nth-child(3) {
						// img {min-width: 406px;}
						border-left: 0 !important;
					}
				}
			}
			&:nth-child(3) {
				td {
					&:nth-child(1) {
						background: #E9F5FA;
						border-right: 0 !important;
						h3 {
							&:before {
								background-position: 5px -175px;
							}
						}
					}
					&:nth-child(2) {
						// img {min-width: 406px;}
						border-left: 0 !important;
					}
					&:nth-child(3) {
						background: #CFEBF4;
						h3 {
							&:before {
								background-position: 5px -230px;
							}
						}
					}
				}
			}
			td {
				border-bottom: 10px solid #fff !important;
				border-left: 0 !important;
				border-top: 0 !important;
				border-right: 0 !important;
				vertical-align: top;
				min-width: 0;
				width: 100%;
				display: inline-block;
				

				div {
					.size(68%, auto);
					margin: 12% 7% 10% 25%;

					h3 {
						font-family: @comforta;
						color: @AzulHeader;
						font-size: 17px;
						line-height: 20px;
						width: 100%;
						&:before {
							background-size: 65%;
							.size(45px, 45px);
							left: -50px;
						}
					}

					p {
						color: @AzulHeader;
						font-size: 14px;
						line-height: 16px;
					}
				}
			}
		}
	}


	.tabla-financiacion {
		width: 80% !important;
		margin: 0 auto;
		td {
			border:1px solid lighten(@gris, 10%);
			padding: 30px 5px;
			position: relative;
			width: 100%;
			display: inline-block;
			img {
				position: relative;
				z-index: 9999;
				margin: 0 auto;
			}
			&:hover {
				&:before {opacity: 1;}
			}
			&:before {
				position: absolute;
				content: "";
				top: -2px;
				left: -2px;
				.size(100%, 100%);
				background: transparent;
				border: 2px solid @azulMenu;
				opacity: 0;
				.transition(all .2s);
			}
		}
	}

	.tabla-puntajes {
		tr {
			td {
				width: 100%;
				display: inline-block;
				p {padding: 0 0 20px 0 !important;}
			}
		}
	}

	.tabla-icfes {
		border-spacing: 12px;
		border-collapse: separate;
		width: 80% !important;
		margin: 0 auto;
		td {
			border: 1px solid lighten(@gris, 15%);
			padding: 15px 40px;
			vertical-align: middle;
			height: auto;
			position: relative;
			width: 64%;
			display: inline-block;
			&:before {
				position: absolute;
				content: "";
				.size(12px, 101%);
				top: -1px;
				left: -1px;
				background-size: cover;
			}
			h3 {
				width: 100%;
				float: left;
				font-family: @comforta;
				font-size: @font24;
			}
			ul {
				width: 100%;
				float: left;
				margin: 0;
				li {
					margin-bottom: 0;
					&:before {
						display: none;
					}
				}
			}
		}
	}

	.borde {width: 97%;}

	.tabla-center {width: 95% !important;}

	.moduletablenoticias {
		.nspImageWrapper {
			margin:0  !important;
			width: 100%;
			img {
				margin:0 auto !important;
				float: none;
			}
		}


		.nspArt {
			margin-bottom: 30px;
			& > div {padding-top: 0 !important;}
			h4.nspHeader {
				width: 100%;
			}

			// p.nspText {font-size: 14px;}
		}
	}


	#k2Container {
		.itemListCategory {
			h2 {
				margin-top: 40px;
			}
		}

		.itemComments .itemCommentsForm input[type="text"] {
			width: 98%;
		}

		.itemSocialSharing {
			.volver-blog {
				clear: both;
			}

			.itemTwitterButton, .itemFacebookButton {clear: both; float: left;}

			.itemTwitterButton {margin-top: 20px;}
		}
	}

	.catItemBody {
		.catItemIntroText {
			img {
				margin: 0 auto;
				width: 100%;
			}
			.content-rigth	 {
				width: 100%;
				.catItemTitle {
					margin: 20px 0;
					font-size: 20px;
				}

				.catItemReadMore {
					a {
						margin-top: 14px;
					}
				}

				.redes-browse {
					.size(100%, auto);
					margin-top: 10px;
					display: inline-block;

					.itemTwitterButton, .itemFacebookButton {float: left; clear: both;}

					.itemTwitterButton {margin: 2px 0 0; width: 90px;}

					.itemFacebookButton {margin-top: 3px; width: 120px;}
				}
			}
		}
	}

	.moduletablecol2 {
		.nspArtPage {
			.nspArt {
				width: 99% !important;
				padding: 20px !important;
				position: relative;
				border-top: 0 !important;
				border-left: 0 !important;
				border-right: 0 !important;
				border-bottom: 1px solid @gris !important;

				h4.nspHeader {width: 100%;}
			}
		}
	}

	.item-pageciencias-salud h2 span {width: 90% !important; font-size: 30px;}	


	.blog-lista, .blog-lista-azul {
		text-align: center;
		li {
			width: 98%;
			> * {width: 100%;}
			img {margin: 0 auto;}
			h3 {
				text-align: center;
			}
		}
	}

	#k2Container {

		.itemLinks {
			.itemCategory {
				margin-top: 40px;
				&:after {display: none;}
				a {
					text-align: center; 
					font-size: @font30;
				}
			}
		} 
	}


	.formTableLayout {
		width: 99%;
		margin: 0 auto;
		text-align: left;
		td {width: 100%; display: inline-block;}
	}

	.rsform-submit-button {padding: 10px 0; width: 99%;}

	.formTableLeft, .formTableRight {
		.rsform-input-box {
			width: 95%;
		}
	}

	.formTableRight {
		.rsform-text-box {
			width: 95%;
		}
	}

	.datos-contacto {
		margin-top: 50px;
		td {
			width: 100%;
			display: inline-block;
			padding-bottom: 25px;
		}
	}

	#jcemediabox-popup-body {
		width: 300px !important;

		#jcemediabox-popup-content {width:280px !important;}
	}


	.k2Pagination {
		color: transparent !important;
		ul {
			li {
				float: left;
				margin-bottom: 15px;
			}
		}
	}

	#jcl_component .weekdaytopclr, #jcl_component .sundaytopclr {
		font-size: @font10 !important;
		padding: 13px 0 !important;
	}

	#jcl_component {
		.jcl_current {width: 100%;}
		.jcl_navbar {height: auto; padding: 8px 0;}
		.jcl_nav {width: 100%; padding: 6px 0px;}
		.jcal_category {width: 90%;}
	}

	#jcl_component .jcl_month_table .jcl_month_row td.jcl_month_cell {height: auto;}

	.jcl_month {margin-top: 40px;}

	h2.componentheading {
		margin-top: 40px;
		span {text-align: center;}
	}

	.jcl_table {
		width: 100% !important;
		display: inline-block;
		thead {
			tr {
				width: 93% !important;
				display: inline-block;
				float: left;
			}
		}
		tr {
			width: 100% !important;
			display: inline-block;
			float: left;

			td {
				width: 94% !important;
				display: inline-block;
				word-wrap:break-word !important; 
				white-space:normal !important;
			}
			th {
				width: 100% !important;
				display: inline-block;
			}
		}
	}

	.eventdesclarge {
		img {
			float: none !important;
			margin:10px 0 !important;
		}
	}

	.virtuemart_search {
		margin-bottom: 30px;
		.inputbox {
			width: 94%;
			padding:9px;
			background: lighten(@gris, 22%);
			border: 0;
			border-radius: 0;
			font-family: @content;
			font-size: @font15; 
			color: darken(@gris, 15%);
		}
		.button {
			background: @azulMenu;
			color: @base;
			border: 0;
			padding: 6px 20px;
			font-family: @Roboto;
			font-size: @font16;
			display: inline-block;
			cursor: pointer;
			-webkit-appearance: none;
			border-radius: 0;
			position: relative;
			top: 5px;
			.transition(all .3s);
			&:hover {
				background: @azulTitle;
			}

		}	
	}

	form.rsf_form {width: 95%;}	

	.tabla-formuario { 
		.rsform-text-box {width: 100% !important;}
		.rsform-block.rsform-block-email ,.rsform-block.rsform-block-tel, .rsform-block.rsform-block-ciudad, .rsform-block.rsform-block-nombre {width: 100%;}
		.rsform-submit-button {width: 32%;}
	}


									



}




@media only screen and (max-width: 570px) and ( min-width:480px ) {

	.section.page-one{

		header{

			.moduletablebuscar {
				input[type="text"] {
					width: 88% !important;
					padding: 7px 0 7px 10px !important;
				}
			}
		}
	}

	main .browse-view .row .width70{width: 100% !important;}
	main .browse-view h1 span{padding-left: 30px;}
	main .browse-view{margin-top: 183px !important;}
	main .category-view{margin-bottom: 0 !important;}
	main .productdetails-view .product-description{width: 100% !important;}
	main .productdetails-view .formulario-catalogo{width: 100% !important; text-align: center !important;}
	main .productdetails-view .formulario-catalogo iframe {width: 327px !important;}
	main .img-top .product-fields .img-detalle-catalogo img{width: 100% !important;margin-top: 0px !important;}
	main .img-top .product-fields .img-detalle-catalogo{margin-left: 0 !important;}
	main .img-top{height: 78px !important}
	main .productdetails-view h1 span{width: auto !important;font-size: 3rem !important;}

	.item-pageque-es-ibero {
		h2 {
			margin-top: 50px;
		}
		p {
			padding: 0 10px;
		}
	}

	.item-page {
		h2 {
			margin-top: 50px;
		}
	}

	.tabla-responsive {
		td {
			padding: 10px 2px;
			width: 100%;
			display: inline-block;
		}
	}

	.menu-lateral{
		.moduletable{
			#jj_sl_navigation{
				top: 25%;
				opacity: 0.7;
			}
		}
	}

	// publicaciones

	.tabla-publicaciones {

		.borde {
			padding: 10px;
			background: lighten(@gris, 25%);
		}

		td {
			width: 100%;
			vertical-align: top;
			display: inline-block;
			text-align: center;
			img {margin: 0 auto;}
			p {
				text-align: center;
				font-family: @comforta;
				font-weight: lighter;
				font-size: @font19;
			}
			&:last-child {
				padding-top: 40px;
			}
		}
	}

	.tabla-acordeon {

		.borde {
			padding: 10px;
			background: lighten(@gris, 25%);
		}

		td {
			width: 100%;
			vertical-align: top;
			display: inline-block;
			text-align: center;
			img {margin: 0 auto;}
			p {
				text-align: center;
				font-family: @comforta;
				font-weight: lighter;
				font-size: @font19;
			}
			&:last-child {
				padding-top: 40px;
			}
		}
	}

	div.nn_sliders_content_wrapper div.nn_sliders_content {
		border:0 !important;
		padding-bottom: 30px !important;
	    padding-left: 5px !important;
	    padding-right: 5px !important;
	    padding-top: 10px !important;
		border-radius: 0;
		background: @blanco;
		font-family: @fontbody !important;
		margin-bottom: 0px;
		color: @gris;
	}

	div.nn_sliders_slider a {
		&:after {display: none;}
	}

	div.nn_sliders_slider a:hover {
		&:after {display: none;}
	}

	div.nn_sliders_slider.active a, div.nn_sliders_slider.active a:hover {
		&:after {display: none;}
	}

	// convenios

	div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li {
		width: 100%;
		display: inline-block;
		float: left;
	}

	.tabla-convenios {
		td {
			width: 100%;
			padding:0;
			vertical-align: middle;
			display: inline-block;
			img {margin: 0 auto;}
		}
	}

	.tabla-tabs {
		td {
			width: 100%;
			padding:0;
			vertical-align: middle;
			display: inline-block;
			img {margin: 20px auto 0;}
		}
	}

	div.nn_tabs_container > div.nn_tabs_content {
		border:0;
		background: @blanco;
		padding:30px 5px 10px 5px;
	}



	.tabla-base.movil {
		width: 100% !important;

		tbody{
			display: block;
			overflow-x: auto;
			width: 95%;
		}
		td {
			padding: 15px 1px;
			font-size: 12px;
		}
	}

	.tabla-formuario { 
		.rsform-text-box {width: 100% !important;}
		.rsform-block.rsform-block-email ,.rsform-block.rsform-block-tel, .rsform-block.rsform-block-ciudad, .rsform-block.rsform-block-nombre {width: 100%;}
	}





}
