 /**
* Estilos paara dispositivos móviles
*
*/

// Tablets
@media only screen and (max-width: 960px) and ( min-width:769px ) {

	.section.page-one{

		header{

			.search{
				#mod-search-searchword{
					width: 70%;
				}
			}

			.moduletablebuscar {
				input[type="text"] {
					width: 76%;
				}
			}

			#trigger{
				display: block;
			}

			.menu-up{
				display: none;

				ul.menu{
					width: 100%;
					background: @azulBuscar;
					border-radius: 0px 0px 9px 9px;
					margin-bottom: 6px;

					li{
						margin-left: 0 !important;
						display: block;
						width: 100%;
						position: inherit;
						text-align: center;
						padding: 4px 0;

						a{
							font-size: @font18;
						}
					}
				}
			}

			.moduletablechat{
				text-align: center;
				margin: 13px 0;

				li{
					width: 50%;

					&:last-child{ margin-left: 0;}
				}
			}

			.moduletable.redes-up{
				margin: 20px 0;

				ul{
					text-align: center;
				}

				li{

					img{ margin-right: 0;}
				}
			}
		}

		nav{

			#trigger-2{
				display: block;
			}

			.menu-inicio {
				background-color: #00A3CF;

				#flyout_menu_92 {
					width: 100%;
					display: none;

					.opened{
						background: @base !important;

						ul{
							border: none;
							box-shadow: none;
						}

						ul li{
							border-bottom: 1px solid rgba(0, 180, 223, 0.38);
							padding: 10px 0 !important;
							position: relative;

							&:after{
								content: '';
								position: absolute;
								background-image: url(../images/page-two/)
							}

							a{
								font-size: @font15;
							}

							&:hover{
								background: @azulMenu !important;

								a{
									color: @base !important;
								}

								ul li a{ color: @azulMenu !important;}

								ul li {

									&:hover{

										a{ color: @base !important;}
									}
								}
							}

							&:last-child{ border: none;}
						}

						a{
							color: @azulMenu !important;
						}
					}

					li{
						padding: 1.5% 0% !important;
						border: none;
						border-bottom: 1px solid @azulMenu;

						a{ 
							font-family: @Roboto;
							font-size: @font16;
							line-height: 20px;
							font-weight: 400;
						}
					}
				}
			}
		}

		main{

			.slider-home{ 
				width: 70%;

				.nspArt{

					h4{

					}

					p{
						
					}
				}
			}
		}
	}

	.section.page-two{

		.content-slider-programas .moduletable{

			.themestrip-container{
				width: 100% !important;
			}
		}
	}

	.section.page-three{

		.moduletable.noticias, .investigacion{

			h3{
				width: 100%;
				padding: 2% 0 2%;

				&:before{
					display: none;
				}
			}

			.nspMain{
				width: 100% !important;

				.nspArt{
					width: 100% !important;
					margin-bottom: 10px;

					h4{
						width: 50%;
					}

					p{
						width: 50%;
					}
				}
			}
		}
	}

	.section.page-four{

		.moduletable.eventos h5{
			width: 100%;
			text-align: center;
			margin: 0;
		}

		.moduletable.eventos h4{float: none;}

		.moduletable.eventos p{
			width: 90%;
			margin-top: 9px;

		}
	}

	.section.page-seven{

		.moduletable.campus-mapa, .video{

			.efecto{
			 	a{
			 		visibility: visible;
			 		height: 100%;
			 	}
			}
		}

		.moduletable.video{
			.efecto{
			 	a{
			 		visibility: visible;
			 		height: 100%;
			 	}
			}
		}
	}

	.section.page-eight{

		.moduletable.redes-down{
			text-align: center;
			margin: 15px 0;

			h3{
				float: none;
				margin: 0;
				margin-bottom: 10px;
			}
		}

		.me-gusta{

			iframe{
				margin-top: 20px;
			}
		}
	}

	//Estilos Catalogo de programas

	main .category-view .row{text-align: center;} 

	main .category-view .row .category{
		margin-right: 10px !important;
		width: 41% !important;
		display: inline-block !important;
		float: none;
	}
	main .category-view .row .category h2 p{
		width: 46% !important; 
		font-size: 1.4rem !important; 
		padding-left: 7px !important;
		height: 62px !important;
	}
	main .category-view .row .category h2 span{
		right: 8px !important;
		bottom: 14px !important;
		font-size: 1.3rem !important;
	}
	main .browse-view .row .width30{width: 40% !important;}
	main .browse-view .row .width70{width: 60% !important;}
	main .browse-view h1 span{padding-left: 30px;}
	main .productdetails-view .product-description{width: 100% !important;}
	main .productdetails-view .formulario-catalogo{width: 100% !important; text-align: center !important;}
	main .productdetails-view .product-description table { width: 66%; margin: 0 auto;}
	main .productdetails-view .product-description .spacer-buy-area{text-align: center;width: 100% !important;}
	main .productdetails-view .product-description .spacer-buy-area .product-price .PricesalesPrice{float: none !important;}
	main .category_description h1 span{width: 90% !important;margin: 34px 0 !important;}
	main .productdetails-view h1 span{width: auto !important;font-size: 3rem !important;}

	// publicaciones

	.tabla-publicaciones {

		.borde {
			padding: 10px;
			background: lighten(@gris, 25%);
		}

		td {
			width: 50%;
			vertical-align: top;
			text-align: center;
			padding: 10px;
			img {margin: 0 auto; width: 90%;}
			p {
				text-align: center;
				font-family: @comforta;
				font-weight: lighter;
				font-size: @font19;
			}
			&:last-child {
				padding-top: 40px;
				padding-left: 10px;
			}
		}
	}

	.tabla-acordeon {

		.borde {
			padding: 10px;
			background: lighten(@gris, 25%);
		}

		td {
			width: 50%;
			vertical-align: top;
			text-align: center;
			padding: 10px;
			img {margin: 0 auto; width: 90%;}
			p {
				text-align: center;
				font-family: @comforta;
				font-weight: lighter;
				font-size: @font19;
			}
			&:last-child {
				padding-top: 40px;
				padding-left: 10px;
			}
		}
	}
}
