/**
*
* variables to use in less
*
*/

// Site Standard colors
@base: #FFFFFF;
@AzulHeader: #0060A7;
@azulMenu: #00B4DF;
@azulBuscar: #002E56;
@azulTitle: #0979C3;
@gris: #B3B3B3;
@naranja: #F99100;
@ColorContent: #4D4D4D;
@grisAcordeon: #DCDCDC;
@verde:#8BC53F;
@azulsub:#007DBB;
@magenta:#EC1C94;
@azulMedio:#008FC9;
@grisPqrs:#EFEFEF;
// Font size
@font40: 4rem;
@font34: 3.4rem;
@font30: 3rem;
@font28: 2.8rem;
@font26: 2.6rem;
@font24: 2.4rem;
@font22: 2.2rem;
@font21: 2.1rem;
@font20: 2rem;
@font19: 1.9rem;
@font18: 1.8rem;
@font17: 1.7rem;
@font16: 1.6rem;
@font15: 1.5rem;
@font14: 1.4rem;
@font13: 1.3rem;
@font12: 1.2rem;
@font10: 1rem;



// Font Family
@content:'Arimo', sans-serif;
@Roboto: 'Roboto Slab', serif;
@comforta: 'Comfortaa', cursive;
@montserrat: 'Montserrat';



//nav
@hoverNav: #F7931E;
