/*
* Pixel Point Creative - Cinch Menu Module
* License: GNU General Public License version
* See: http://www.gnu.org/copyleft/gpl.html
* Copyright (c) Pixel Point Creative LLC.
* More info at http://www.pixelpointcreative.com
* Last Updated: 3/14/13
*/

.flyout-menu a{
	text-decoration: none;
	background: none;
	font-family: arial;
}
.flyout-menu a:hover,
.flyout-menu a:visited,
.flyout-menu a:active,
.flyout-menu a:focus{
	background: none;
}

.flyout-menu  a img {
	vertical-align:middle;
	border: 0 none;
    height: auto;
    max-width: 100%;
	padding:0 5px 0 0;
}

.flyout-menu li{
	cursor: pointer;
    background:none !important;
}
.flyout-menu > li{
	position: relative;
	z-index: 99;
}
.flyout-menu > li > .item-wrapper{
	/* height: 35px; */
	display:inline-block;
	width:100%;
}
.flyout-menu > li:last-child .item-wrapper{
	border-bottom: none;
}
.flyout-menu > li > .item-wrapper a{
	line-height: 35px;
	font-size: 12px;
	font-weight: bold;
}
.flyout-menu li .item-wrapper .menu-button{
	width: 16px;
	height: 16px;
	overflow: hidden;
    	margin: 9px 0;	
}

.flyout-menu li .item-wrapper .menu-link{
	margin:0px 5px;
}

.flyout-menu  li li{
	position: relative;
	z-index: 100;
}
.flyout-menu  li .ul-wrapper{
	position: absolute; 
    top: -6px; 
    padding-top: 5px;
	display: none;
	z-index: 1000;
}
.flyout-menu  li ul {
	margin: 0px; padding: 0px;
}
.flyout-menu  li ul li .item-wrapper{
	width:100%;
	display:inline-block;
}
.flyout-menu  li ul li.last.item-wrapper{
	background: none;
}
.flyout-menu  li ul li .item-wrapper a{
	line-height: 35px;
	}

.flyout-menu.horizontal{
	width:100%;
}

.flyout-menu li{
	border-bottom: 1px solid #1A1A1A;
}
		
.flyout-menu li ul li:last-child{
   border-bottom: 1px solid #1A1A1A;
}


	.flyout-menu.lt-ie9.horizontal >li{
		display:inline-block;
		border:0;
	}
	.flyout-menu.lt-ie9.horizontal  li >.ul-wrapper.direction-left{
		position:absolute;
		left:0;
		top:100%;
		padding-top:0;
	}

	.flyout-menu.lt-ie9.horizontal  li >.ul-wrapper.direction-right{
		position:absolute;
		right:0;
		top:100%;
		padding-top:0;
	}

	.flyout-menu.lt-ie9.horizontal  li .ul-wrapper  li .ul-wrapper.direction-left{
		position:absolute;
		left:100%;
		top:-1px;
		padding-top:0;
	}

	.flyout-menu.horizontal.lt-ie9  li .ul-wrapper  li .ul-wrapper.direction-right{
		position:absolute;
		right:100%;
		top:-1px;
		padding-top:0;
	}	



@media all and (max-width: 1023px) {
	.flyout-menu.vertical >li,
	.flyout-menu.horizontal >li{
		display:block;
	}
	
	.flyout-menu.vertical li ul,
	.flyout-menu.horizontal li ul{
		width:auto!important;
		border-left:0!important;
		border-bottom:0!important;
		border-right:0!important;
	}
	.flyout-menu.vertical  li .ul-wrapper{
		position: relative; 
		top: 0; 
		padding-top: 0;
		display: none;
		z-index: 1000;
		left:auto!important;
	}
	.flyout-menu.horizontal  li .ul-wrapper{
		position: relative; 
		top: 0; 
		padding-top: 0;
		display: none;
		z-index: 1000;
	}
	
}



@media all and (min-width: 1023px) {
	.flyout-menu.horizontal >li{
		display:inline-block;
		border:0;
	}
	.flyout-menu.horizontal  li >.ul-wrapper.direction-left{
		position:absolute;
		left:0;
		top:100%;
		padding-top:0;
	}

	.flyout-menu.horizontal  li >.ul-wrapper.direction-right{
		position:absolute;
		right:0;
		top:100%;
		padding-top:0;
	}

	.flyout-menu.horizontal  li .ul-wrapper  li .ul-wrapper.direction-left{
		position:absolute;
		left:100%;
		top:-1px;
		padding-top:0;
	}

	.flyout-menu.horizontal  li .ul-wrapper  li .ul-wrapper.direction-right{
		position:absolute;
		right:100%;
		top:-1px;
		padding-top:0;
	}
}
