@font-face {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans'), local('NotoSans'), url(fonts/NotoSans-Regular.ttf) format('ttf');
}
@font-face {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  src: local('Noto Sans Bold'), local('NotoSans-Bold'), url(fonts/NotoSans-Bold.ttf) format('ttf');
}
@font-face {
  font-family: 'Raleway', sans-serif;
  src: url(http://localhost/taiko/fonts/NotoSans-Regular.ttf);
}
.onepcssgrid-1000,
.onepcssgrid-1200 {
  margin: 0 auto;
  padding: 0 0 0 1%;
}
.onepcssgrid-1200 {
  max-width: 1220px;
}
.onepcssgrid-1000 {
  max-width: 1020px;
}
.onerow {
  clear: both;
  padding: 0 10px;
}
.col1,
.col2,
.col3,
.col4,
.col5,
.col6,
.col7,
.col8,
.col9,
.col10,
.col11,
.col12 {
  float: left;
  margin: 0 3% 0 0;
}
.col1.last,
.col2.last,
.col3.last,
.col4.last,
.col5.last,
.col6.last,
.col7.last,
.col8.last,
.col9.last,
.col10.last,
.col11.last,
.col12 {
  margin: 0;
}
.col1 {
  width: 5.5%;
}
.col2 {
  width: 14%;
}
.col3 {
  width: 22.5%;
}
.col4 {
  width: 31%;
}
.col5 {
  width: 39.5%;
}
.col6 {
  width: 48%;
}
.col7 {
  width: 56.5%;
}
.col8 {
  width: 65%;
}
.col9 {
  width: 73.5%;
}
.col10 {
  width: 82%;
}
.col11 {
  width: 90.5%;
}
.col12 {
  width: 99%;
  margin: 0;
}
.col1 img,
.col2 img,
.col3 img,
.col4 img,
.col5 img,
.col6 img,
.col7 img,
.col8 img,
.col9 img,
.col10 img,
.col11 img,
.col12 img {
  max-width: 100%;
  height: auto;
  display: block;
}
@media all and (min-width: 1024px) {
  .onepcssgrid-1000 {
    max-width: 1000px;
  }
  .onepcssgrid-1000 .onerow {
    padding: 0;
  }
}
@media all and (max-width: 768px) {
  .col1,
  .col2,
  .col3,
  .col4,
  .col5,
  .col6,
  .col7,
  .col8,
  .col9,
  .col10,
  .col11 {
    float: none;
    width: 99%;
  }
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
header {
  width: 100%;
  float: left;
}
.section {
  width: 100%;
  float: left;
}
.section.page-one {
  width: 100%;
  height: 100%;
  float: left;
}
main {
  float: left;
  width: 100%;
}
a {
  text-decoration: none;
}
footer {
  width: 100%;
  float: left;
}
.background {
  background: -moz-linear-gradient(top,rgba(255,255,255,0.34) 0%,rgba(138,201,52,0.77) 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(255,255,255,0.34)),color-stop(100%,rgba(138,201,52,0.77)));
  background: -webkit-linear-gradient(top,rgba(255,255,255,0.34) 0%,rgba(138,201,52,0.77) 100%);
  background: -o-linear-gradient(top,rgba(255,255,255,0.34) 0%,rgba(138,201,52,0.77) 100%);
  background: -ms-linear-gradient(top,rgba(255,255,255,0.34) 0%,rgba(138,201,52,0.77) 100%);
  background: linear-gradient(to bottom,rgba(255,255,255,0.34) 0%,rgba(138,201,52,0.77) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#57ffffff',endColorstr='#c48ac934',GradientType=0);
}
.background-2 {
  background: -moz-linear-gradient(top,rgba(255,255,255,0.34) 0%,rgba(250,145,1,0.77) 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(255,255,255,0.34)),color-stop(100%,rgba(250,145,1,0.77)));
  background: -webkit-linear-gradient(top,rgba(255,255,255,0.34) 0%,rgba(250,145,1,0.77) 100%);
  background: -o-linear-gradient(top,rgba(255,255,255,0.34) 0%,rgba(250,145,1,0.77) 100%);
  background: -ms-linear-gradient(top,rgba(255,255,255,0.34) 0%,rgba(250,145,1,0.77) 100%);
  background: linear-gradient(to bottom,rgba(255,255,255,0.34) 0%,rgba(250,145,1,0.77) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#57ffffff',endColorstr='#c4fa9101',GradientType=0);
}
h1,
h2,
h3 {
  line-height:  * 2;
}
h1 {
  font-size:  * 2.75;
}
h2 {
  font-size:  * 2.25;
}
h3 {
  font-size:  * 1.75;
}
h4 {
  font-size:  * 1.25;
}
h5 {
  font-size: ;
}
h6 {
  font-size:  * 0.85;
}
h1 small {
  font-size:  * 1.75;
}
h2 small {
  font-size:  * 1.25;
}
h3 small {
  font-size: ;
}
h4 small {
  font-size: ;
}
.matriculate {
  float: right;
  position: fixed;
  right: 0;
  bottom: -3px;
  z-index: 999;
}
.section.page-one {
  height: 100vh;
  position: relative;
}
.section.page-one header {
  background: #0060A7;
}
.section.page-one header .onepcssgrid-1200 {
  position: relative;
}
.section.page-one header .onepcssgrid-1200:before {
  content: '';
  position: absolute;
  width: 2000px;
  height: 1px;
  background: #0088A8;
  left: -336px;
  bottom: -2px;
}
.section.page-one header .moduletablebuscar {
  margin-top: 10px;
}
.section.page-one header .moduletablebuscar button[type="submit"] {
  float: left;
  color: transparent;
  background-image: url(../images/page-one/sprite-top.png);
  background-color: #0071CE;
  width: 29px !important;
  height: 25px !important;
  margin-right: 10px;
  background-position: -2px -12px;
  border-radius: 3px;
  border: 0 !important;
  cursor: pointer;
}
.section.page-one header .moduletablebuscar input[type="text"] {
  background: #002E56;
  border: none;
  width: 81% !important;
  border-radius: 3px;
  color: #B3B3B3;
  font-family: 'Arimo', sans-serif;
  font-size: 1.8rem;
  margin-top: 1px;
  padding: 4px 0 4px 10px;
  height: 16px;
}
.section.page-one header .search {
  float: left;
  margin: 10px 0;
  width: 100%;
}
.section.page-one header .search label {
  color: transparent;
  background-image: url(../images/page-one/sprite-top.png);
  background-color: #0071CE;
  float: left;
  width: 29px;
  height: 25px;
  margin-right: 10px;
  background-position: -2px -12px;
  border-radius: 3px;
}
.section.page-one header .search #mod-search-searchword {
  background: #002E56;
  border: none;
  width: 81%;
  border-radius: 3px;
  color: #B3B3B3;
  padding-left: 10px;
  font-family: 'Arimo', sans-serif;
  font-size: 1.8rem;
  margin-top: 1px;
}
.section.page-one header #trigger {
  display: none;
  text-align: center;
  width: 98%;
  background-color: #00B4DF;
  font-family: 'Arimo', sans-serif;
  font-size: 1.8rem;
  color: #FFFFFF;
  padding: 6px;
  margin: 7px 0;
  border-radius: 4px;
  float: left;
}
.section.page-one header .menu-up {
  float: left;
  width: 100%;
}
.section.page-one header .menu-up ul.menu {
  padding-left: 0;
  float: right;
  padding: 9px 0;
}
.section.page-one header .menu-up ul.menu li {
  display: inline-block;
  width: 87px;
  margin-left: 38px;
  vertical-align: middle;
  position: relative;
  opacity: 0;
  -webkit-animation: one 1s forwards;
  -moz-animation: one 1s forwards;
  animation: one 1s forwards;
}
.section.page-one header .menu-up ul.menu li:hover:before {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
}
.section.page-one header .menu-up ul.menu li:before {
  content: '';
  position: absolute;
  background-image: url(../images/page-one/sprite-top.png);
  width: 28px;
  height: 28px;
  left: -32px;
  top: -2;
}
.section.page-one header .menu-up ul.menu li a {
  font-family: 'Arimo', sans-serif;
  font-size: 1.3rem;
  color: #FFFFFF;
  text-decoration: none;
}
.section.page-one header .menu-up ul.menu li:first-child {
  -webkit-animation-delay: 0.8;
  -moz-animation-delay: 0.8;
  animation-delay: 0.8;
}
.section.page-one header .menu-up ul.menu li:first-child:before {
  background-position: -53px -8px;
}
.section.page-one header .menu-up ul.menu li:nth-child(2) {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}
.section.page-one header .menu-up ul.menu li:nth-child(2):before {
  background-position: -108px -8px;
  top: -8px;
}
.section.page-one header .menu-up ul.menu li:nth-child(3) {
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  animation-delay: 1.5s;
}
.section.page-one header .menu-up ul.menu li:nth-child(3):before {
  background-position: -163px -8px;
  top: -8px;
}
.section.page-one header .menu-up ul.menu li:nth-child(4) {
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  animation-delay: 2s;
  margin-left: 30px;
}
.section.page-one header .menu-up ul.menu li:nth-child(4):before {
  background-position: -227px -5px;
  top: -8px;
}
.section.page-one header .menu-up ul.menu li:nth-child(5) {
  -webkit-animation-delay: 2.5s;
  -moz-animation-delay: 2.5s;
  animation-delay: 2.5s;
  margin-left: 30px;
}
.section.page-one header .menu-up ul.menu li:nth-child(5):before {
  background-position: -292px -5px;
  top: -8px;
}
.section.page-one header .menu-up ul.menu li:nth-child(6) {
  -webkit-animation-delay: 3s;
  -moz-animation-delay: 3s;
  animation-delay: 3s;
  margin-left: 20px;
}
.section.page-one header .menu-up ul.menu li:nth-child(6):before {
  background-position: -352px -7px;
  top: -8px;
}
.section.page-one header .menu-up ul.menu li:last-child {
  -webkit-animation-delay: 3.5s;
  -moz-animation-delay: 3.5s;
  animation-delay: 3.5s;
}
.section.page-one header .menu-up ul.menu li:last-child:before {
  background-position: -413px -8px;
}
.section.page-one header .moduletablelogo {
  float: left;
  margin: 12px 0;
  margin-bottom: 25px;
}
.section.page-one header .moduletablechat {
  float: right;
  margin: 29px 0;
}
.section.page-one header .moduletablechat li {
  display: inline-block;
  text-align: center;
}
.section.page-one header .moduletablechat li img {
  display: inline-block;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.section.page-one header .moduletablechat li img:hover {
  -webkit-transform: translate(0,-5px);
  -moz-transform: translate(0,-5px);
  -ms-transform: translate(0,-5px);
  -o-transform: translate(0,-5px);
  transform: translate(0,-5px);
}
.section.page-one header .moduletablechat li:last-child {
  margin-left: 10px;
}
.section.page-one header .rds {
  margin: 0;
}
.section.page-one header .moduletable.redes-up {
  float: right;
  margin: 40px 0;
}
.section.page-one header .moduletable.redes-up li {
  display: inline-block;
  text-align: center;
}
.section.page-one header .moduletable.redes-up li img {
  display: inline-block;
  margin-right: 5px;
  width: auto;
}
.section.page-one header .moduletable.redes-up li img:hover {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.section.page-one nav {
  float: left;
  width: 100%;
  background: #00B4DF;
  border-bottom: 1px solid #FFF;
  box-shadow: 0px 13px 37px -15px;
  position: relative;
  z-index: 99;
}
.section.page-one nav #trigger-2 {
  display: none;
  text-align: center;
  width: 98%;
  background-color: #00B4DF;
  font-family: 'Arimo', sans-serif;
  font-size: 1.8rem;
  color: #FFFFFF;
  padding: 6px;
  margin: 7px 0;
  border-radius: 4px;
  float: left;
}
.section.page-one nav .menu-inicio {
  float: left;
  width: 100%;
  position: relative;
  z-index: 999;
}
.section.page-one nav .menu-inicio #flyout_menu_92 {
  background: transparent;
  border: none;
  padding: 0 !important;
  width: 94%;
  margin: 0 auto !important;
  display: block;
}
.section.page-one nav .menu-inicio #flyout_menu_92 .opened {
  background: #FFFFFF !important;
}
.section.page-one nav .menu-inicio #flyout_menu_92 .opened ul {
  border: none;
  box-shadow: 0px 4px 14px -4px;
}
.section.page-one nav .menu-inicio #flyout_menu_92 .opened ul li {
  border-bottom: 1px solid rgba(0,180,223,0.38);
  padding: 10px 0 !important;
}
.section.page-one nav .menu-inicio #flyout_menu_92 .opened ul li a {
  font-size: 1.5rem;
}
.section.page-one nav .menu-inicio #flyout_menu_92 .opened ul li:hover {
  background: #00B4DF !important;
}
.section.page-one nav .menu-inicio #flyout_menu_92 .opened ul li:hover a {
  color: #FFFFFF !important;
}
.section.page-one nav .menu-inicio #flyout_menu_92 .opened ul li:hover ul li a {
  color: #00B4DF !important;
}
.section.page-one nav .menu-inicio #flyout_menu_92 .opened ul li:hover ul li:hover a {
  color: #FFFFFF !important;
}
.section.page-one nav .menu-inicio #flyout_menu_92 .opened ul li:last-child {
  border: none;
}
.section.page-one nav .menu-inicio #flyout_menu_92 .opened a {
  color: #00B4DF !important;
}
.section.page-one nav .menu-inicio #flyout_menu_92 li {
  padding: 1% 0.5% !important;
  border: none;
}
.section.page-one nav .menu-inicio #flyout_menu_92 li.current a {
  color: #FFFFFF;
}
.section.page-one nav .menu-inicio #flyout_menu_92 li a {
  font-family: 'Roboto Slab', serif;
  font-size: 1.6rem;
  line-height: 20px;
  font-weight: 400;
}
.section.page-one main .slider-home {
  width: 40%;
  background-color: rgba(0,180,223,0.64);
  margin: 0 auto;
  position: relative;
  margin-top: 7%;
}
.section.page-one main .slider-home .nspTopInterface {
  position: absolute;
  top: 44%;
  width: 100%;
}
.section.page-one main .slider-home .nspTopInterface div {
  width: 100%;
}
.section.page-one main .slider-home .nspTopInterface span {
  background: url(../images/page-one/sprite-Banner.png);
  width: 37px;
  height: 37px;
}
.section.page-one main .slider-home .nspTopInterface .nspPrev {
  background-position: -13px -6px;
  float: left;
  margin-left: 10px;
}
.section.page-one main .slider-home .nspTopInterface .nspNext {
  background-position: -79px -6px;
  float: right;
  margin-right: 10px;
}
.section.page-one main .slider-home .nspArt h4 {
  font-family: 'Comfortaa', cursive;
  font-size: 4rem;
}
.section.page-one main .slider-home .nspArt h4 a {
  color: #FFFFFF;
  font-weight: lighter;
}
.section.page-one main .slider-home .nspArt p {
  font-family: 'Roboto Slab', serif;
  font-size: 1.6rem;
  color: #FFFFFF;
  margin: 10px 0;
  line-height: 23px;
  font-weight: 300;
}
.section.page-one main .slider-home .nspArt a.readon {
  font-family: 'Montserrat';
  color: #FFFFFF;
  font-size: 1.8rem;
  position: relative;
  width: 82px;
  height: 35px;
  margin-left: 30px;
  margin-top: 21px;
  display: inline-block;
}
.section.page-one main .slider-home .nspArt a.readon:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 5px;
  border-right: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  bottom: 0;
  right: -5px;
}
.section.page-one main .slider-home .nspArt a.readon:before {
  content: '';
  position: absolute;
  background-image: url(../images/page-one/sprite-Banner.png);
  width: 35px;
  height: 35px;
  left: -42px;
  top: -8px;
  background-position: -145px -6px;
}
.section.page-one .down {
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  text-align: center;
}
.section.page-one .down a {
  display: inline-block;
}
@-webkit-keyframes one {
  100% {
    opacity: 1;
  }
}
@-moz-keyframes one {
  100% {
    opacity: 1;
  }
}
@keyframes one {
  100% {
    opacity: 1;
  }
}
.section.page-two {
  background: #FFFFFF;
  padding-bottom: 44px;
}
.section.page-two .moduletable.programas {
  width: 100%;
  float: left;
}
.section.page-two .moduletable.programas h3 {
  font-family: 'Comfortaa', cursive;
  color: #0979C3;
  font-size: 4rem;
  font-weight: 100;
  text-align: center;
  margin-top: 46px;
  position: relative;
}
.section.page-two .moduletable.programas h3:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: #0979C3;
  left: 0;
  top: 21px;
}
.section.page-two .moduletable.programas h3 span {
  display: inline-block;
  text-align: right;
  position: relative;
  background: #FFFFFF;
  z-index: 9;
  width: 300px;
  padding-right: 14px;
}
.section.page-two .moduletable.programas h3 span:before {
  content: '';
  position: absolute;
  background-image: url(../images/page-two/round-icons.png);
  width: 68px;
  height: 68px;
  left: 11px;
  top: -15px;
  background-position: -8px -5px;
}
.section.page-two .moduletable.programas ul {
  text-align: center;
  margin-top: 40px;
}
.section.page-two .moduletable.programas ul li {
  display: inline-block;
  margin: 0 3px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid #00B4DF;
  width: 180px;
  margin-bottom: 7px;
}
.section.page-two .moduletable.programas ul li a {
  font-family: 'Roboto Slab', serif;
  font-size: 1.9rem;
  color: #0979C3;
  display: inline-block;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  padding: 8px 0;
  font-weight: 500;
}
.section.page-two .moduletable.programas ul li:hover,
.section.page-two .moduletable.programas ul li.active {
  background: #00B4DF;
}
.section.page-two .moduletable.programas ul li:hover a,
.section.page-two .moduletable.programas ul li.active a {
  color: #FFFFFF;
}
.section.page-two .moduletable.item-menus {
  margin-top: 40px;
}
.section.page-two .moduletable.item-menus .posgrado,
.section.page-two .moduletable.item-menus .diplomados,
.section.page-two .moduletable.item-menus .cursos,
.section.page-two .moduletable.item-menus .jornadas {
  display: none;
}
.section.page-two .moduletable.item-menus ul {
  width: 100%;
}
.section.page-two .moduletable.item-menus ul li {
  padding: 10px 25px;
  display: inline-block;
  background-color: #00B4DF;
  width: 100%;
  border-bottom: 1px solid #0399B2;
  border-top: 1px solid #03BFE5;
  position: relative;
}
.section.page-two .moduletable.item-menus ul li a {
  font-family: 'Roboto Slab', serif;
  font-size: 1.6rem;
  color: #FFFFFF;
  display: inline-block;
}
.section.page-two .moduletable.item-menus ul li:hover:before,
.section.page-two .moduletable.item-menus ul li.active:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-left: 7px solid #B7EBFF;
  border-bottom: 4px solid transparent;
  left: 7px;
  top: 36%;
}
.section.page-two .content-slider-programas .moduletable {
  margin-top: 40px;
  display: none;
}
.section.page-two .content-slider-programas .moduletable:first-child {
  display: block;
}
.section.page-two .content-slider-programas .moduletable .elastislide-carousel img {
  height: auto !important;
}
.section.page-two .content-slider-programas .moduletable nav span {
  background: url(../images/page-two/Flechas.png);
  border-radius: 0;
  width: 28px;
  height: 42px;
  top: 44%;
  display: none;
}
.section.page-two .content-slider-programas .moduletable nav .elastislide-prev {
  background-position: -62px 0;
}
.section.page-two .content-slider-programas .moduletable nav .elastislide-next {
  background-position: -109px 0;
}
.section.page-two .content-slider-programas .pregrado-salud .themestrip-container,
.section.page-two .posgrado-salud .themestrip-container {
  width: 70% !important;
}
.section.page-three {
  background-image: url(../images/page-three/noticias-bg.jpg);
  width: 100%;
  float: left;
  position: relative;
}
.section.page-three .menu-lateral {
  float: right;
}
.section.page-three .menu-lateral .moduletable #jj_sl_navigation {
  position: absolute;
  top: 26%;
}
.section.page-three .menu-lateral .moduletable #jj_sl_navigation li a {
  font-family: 'Comfortaa', cursive;
  font-size: 2.2rem;
  text-align: center;
  border-radius: 24px 0px 0px 24px;
  width: 203px;
  padding: 13px 0px 13px 0px;
  position: relative;
}
.section.page-three .menu-lateral .moduletable #jj_sl_navigation li a:before {
  content: '';
  position: absolute;
  background-image: url(../images/page-three/iconos-laterales.png);
  width: 56px;
  height: 40px;
  left: 7px;
  top: 5px;
}
.section.page-three .menu-lateral .moduletable #jj_sl_navigation li a span.jj_social_text {
  margin-left: 30px;
}
.section.page-three .menu-lateral .moduletable #jj_sl_navigation .jj_sl_custom1 a {
  background-color: #0190CC;
}
.section.page-three .menu-lateral .moduletable #jj_sl_navigation .jj_sl_custom1 a:before {
  background-position: -10px -17px;
}
.section.page-three .menu-lateral .moduletable #jj_sl_navigation .jj_sl_custom2 a {
  background-color: #34A7D6;
}
.section.page-three .menu-lateral .moduletable #jj_sl_navigation .jj_sl_custom2 a:before {
  background-position: -96px -17px;
}
.section.page-three .menu-lateral .moduletable #jj_sl_navigation .jj_sl_custom3 a {
  background-color: #01C1E6;
}
.section.page-three .menu-lateral .moduletable #jj_sl_navigation .jj_sl_custom3 a:before {
  background-position: -189px -17px;
}
.section.page-three .menu-lateral .moduletable #jj_sl_navigation .jj_sl_custom4 a {
  background-color: #71DBF1;
}
.section.page-three .menu-lateral .moduletable #jj_sl_navigation .jj_sl_custom4 a:before {
  background-position: -291px -17px;
}
.section.page-three .menu-lateral .moduletable #jj_sl_navigation .jj_sl_custom5 a {
  padding: 3px 0;
  background-color: #B0EAF6;
}
.section.page-three .menu-lateral .moduletable #jj_sl_navigation .jj_sl_custom5 a:before {
  background-position: -363px -17px;
}
.section.page-three .menu-lateral-2 {
  display: none;
}
.section.page-three .investigacion {
  margin-bottom: 30px;
}
.section.page-three .investigacion h3 {
  display: table-cell;
  font-family: 'Comfortaa', cursive;
  font-size: 2.8rem;
  text-align: center;
  float: left;
  width: 20%;
  padding: 10% 0 6%;
  background: #0979C3;
  color: #FFFFFF;
  position: relative;
}
.section.page-three .investigacion h3:before {
  content: '';
  position: absolute;
  background-image: url(../images/page-two/round-icons.png);
  width: 68px;
  height: 68px;
  left: 36%;
  top: 19%;
  background-position: -8px -265px;
}
.section.page-three .noticias h3 {
  display: table-cell;
  font-family: 'Comfortaa', cursive;
  font-size: 2.8rem;
  text-align: center;
  float: left;
  width: 20%;
  padding: 10% 0 6%;
  background: #0979C3;
  color: #FFFFFF;
  position: relative;
}
.section.page-three .noticias h3:before {
  content: '';
  position: absolute;
  background-image: url(../images/page-two/round-icons.png);
  width: 68px;
  height: 68px;
  left: 36%;
  top: 19%;
  background-position: -8px -179px;
}
.section.page-three .moduletable.noticias,
.section.page-three .investigacion {
  float: left;
  width: 100%;
  margin-top: 20px;
}
.section.page-three .moduletable.noticias .nspMain,
.section.page-three .investigacion .nspMain {
  float: right;
}
.section.page-three .moduletable.noticias .nspMain .nspArt,
.section.page-three .investigacion .nspMain .nspArt {
  background-color: #FFFFFF;
}
.section.page-three .moduletable.noticias .nspMain .nspArt h4,
.section.page-three .investigacion .nspMain .nspArt h4 {
  float: left;
  width: auto;
  font-family: 'Roboto Slab', serif;
  font-size: 1.9rem;
  width: 42%;
  margin-left: 21px;
  margin-top: 30px;
}
.section.page-three .moduletable.noticias .nspMain .nspArt h4 a,
.section.page-three .investigacion .nspMain .nspArt h4 a {
  color: #0979C3;
}
.section.page-three .moduletable.noticias .nspMain .nspArt a,
.section.page-three .investigacion .nspMain .nspArt a {
  overflow: hidden;
}
.section.page-three .moduletable.noticias .nspMain .nspArt a img:hover,
.section.page-three .investigacion .nspMain .nspArt a img:hover {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  transform: scale(1.3);
}
.section.page-three .moduletable.noticias .nspMain .nspArt p.nspText,
.section.page-three .investigacion .nspMain .nspArt p.nspText {
  float: left;
  width: 42%;
  text-align: justify;
  font-family: 'Arimo', sans-serif;
  font-size: 1.3rem;
  color: #00B4DF;
  margin-left: 21px;
  margin-top: 15px;
}
.section.page-three .moduletable.noticias .nspMain .nspArt a.readon,
.section.page-three .investigacion .nspMain .nspArt a.readon {
  font-family: 'Montserrat';
  color: #00B4DF;
  font-size: 1.3rem;
  position: relative;
  width: 63px;
  height: 35px;
  float: left;
  margin-left: 50px;
  margin-top: 28px;
}
.section.page-three .moduletable.noticias .nspMain .nspArt a.readon:after,
.section.page-three .investigacion .nspMain .nspArt a.readon:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 5px;
  border-right: 1px solid #00B4DF;
  border-bottom: 1px solid #00B4DF;
  bottom: 16px;
  right: 0;
}
.section.page-three .moduletable.noticias .nspMain .nspArt a.readon:before,
.section.page-three .investigacion .nspMain .nspArt a.readon:before {
  content: '+';
  position: absolute;
  background: #00B4DF;
  color: #FFFFFF;
  left: -27px;
  top: -2px;
  background-position: -145px -6px;
  padding: 0px 5px;
  border-radius: 50%;
  font-size: 24px;
}
.section.page-three .content-acceso {
  width: 25%;
  float: right;
  margin-top: 20px;
}
.section.page-three .content-acceso #trigger-3 {
  font-family: 'Roboto Slab', serif;
  color: #0979C3;
  font-size: 1.6rem;
  width: 97%;
  display: inline-block;
  background-color: #FFFFFF;
  padding: 4% 3%;
  background-image: url(../images/page-three/FlechaAccesosDirect.png);
  background-repeat: no-repeat;
  background-position: center right;
  float: right;
}
.section.page-three .moduletable.rapido {
  float: right;
  background-color: #FFFFFF;
  width: 93%;
  padding: 0 5%;
}
.section.page-three .moduletable.rapido .acceso {
  display: none;
  width: 100%;
}
.section.page-three .moduletable.rapido .acceso li {
  padding: 9px 2px;
}
.section.page-three .moduletable.rapido .acceso li a {
  font-family: 'Roboto Slab', serif;
  color: #0979C3;
  font-size: 1.5rem;
}
.section.page-four {
  background-color: #FFFFFF;
  padding-bottom: 44px;
}
.section.page-four .moduletable.eventos table td {
  width: 33%;
}
.section.page-four .moduletable.eventos h3 {
  font-family: 'Comfortaa', cursive;
  color: #0979C3;
  font-size: 4rem;
  font-weight: 100;
  text-align: center;
  margin-top: 46px;
  position: relative;
  margin-bottom: 60px;
}
.section.page-four .moduletable.eventos h3:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: #0979C3;
  left: 0;
  top: 21px;
}
.section.page-four .moduletable.eventos h3 span {
  display: inline-block;
  text-align: right;
  position: relative;
  background: #FFFFFF;
  z-index: 9;
  width: 251px;
  padding-right: 14px;
}
.section.page-four .moduletable.eventos h3 span:before {
  content: '';
  position: absolute;
  background-image: url(../images/page-four/round-icons.png);
  width: 68px;
  height: 68px;
  left: 11px;
  top: -15px;
  background-position: -8px -93px;
}
.section.page-four .moduletable.eventos h4 {
  float: left;
  font-family: 'Roboto Slab', serif;
  color: #FFFFFF;
  background-color: #0979C3;
  font-size: 2.1rem;
  text-align: center;
  border: 1px solid #0979C3;
  padding: 8px 0px 0 0;
}
.section.page-four .moduletable.eventos h4 span {
  float: left;
  background-color: #FFFFFF;
  width: 100%;
  color: #0979C3;
  padding: 8px 0;
  font-family: 'Comfortaa', cursive;
  font-size: 3.4rem;
}
.section.page-four .moduletable.eventos h5 {
  color: #0979C3;
  font-size: 2.1rem;
  font-family: 'Roboto Slab', serif;
  float: right;
  width: 75%;
  margin-right: 11px;
  margin-bottom: 6px;
}
.section.page-four .moduletable.eventos p {
  float: right;
  font-family: 'Arimo', sans-serif;
  font-size: 1.3rem;
  width: 75%;
  margin-right: 11px;
}
.section.page-four .moduletable.eventos a {
  font-family: 'Montserrat';
  color: #00B4DF;
  font-size: 1.3rem;
  position: relative;
  width: 63px;
  height: 35px;
  float: left;
  margin-left: 40px;
  margin-top: 28px;
}
.section.page-four .moduletable.eventos a:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 5px;
  border-right: 1px solid #00B4DF;
  border-bottom: 1px solid #00B4DF;
  bottom: 16px;
  right: 0;
}
.section.page-four .moduletable.eventos a:before {
  content: '+';
  position: absolute;
  background: #00B4DF;
  color: #FFFFFF;
  left: -27px;
  top: -2px;
  background-position: -145px -6px;
  padding: 0px 5px;
  border-radius: 50%;
  font-size: 24px;
}
.section.page-five {
  background-image: url(../images/page-five/BG-redes.jpg);
  width: 100%;
  float: left;
  position: relative;
  padding: 20px 0;
}
.section.page-five .col6 {
  text-align: center;
}
.section.page-five .col6 .moduletable.red {
  background-color: #00B4DF;
  padding-bottom: 25px;
}
.section.page-five .col6 .moduletable.red h3 {
  font-family: 'Roboto Slab', serif;
  font-size: 2.2rem;
  color: #FFFFFF;
  float: left;
  padding: 23px 0;
  margin-left: 27px;
  background-image: url(../images/page-five/Icon-Twitter.png);
  width: 44%;
  background-repeat: no-repeat;
  background-position: center left;
}
.section.page-five .col6 .moduletable.face {
  background-color: #0979C3;
  padding-bottom: 25px;
}
.section.page-five .col6 .moduletable.face h3 {
  font-family: 'Roboto Slab', serif;
  font-size: 2.2rem;
  color: #FFFFFF;
  float: left;
  padding: 23px 0;
  margin-left: 27px;
  background-image: url(../images/page-five/Icon-Face.png);
  width: 49%;
  background-repeat: no-repeat;
  background-position: center left;
}
.section.page-five .col6 .moduletable.face iframe {
  background-color: #FFFFFF;
}
.section.page-six {
  background-color: #FFFFFF;
  padding: 20px 0;
}
.section.page-six .wrapper {
  width: 100%;
  float: left;
  background-image: url(../images/page-six/bg-enlaces.jpg);
}
.section.page-six .wrapper .menu-inferior {
  margin: 30px 0;
}
.section.page-six .wrapper .menu-inferior nav span {
  background: url(../images/page-two/Flechas.png);
  border-radius: 0;
  display: block !important;
  width: 28px;
  height: 42px;
  top: 44%;
}
.section.page-six .wrapper .menu-inferior nav .elastislide-prev {
  background-position: -62px 0;
}
.section.page-six .wrapper .menu-inferior nav .elastislide-next {
  background-position: -109px 0;
}
.section.page-seven {
  background-color: #FFFFFF;
  padding: 40px 0;
}
.section.page-seven .moduletable.texto-virtual {
  width: 100%;
  margin: 0 auto;
  position: relative;
  text-align: center;
}
.section.page-seven .moduletable.texto-virtual .custom.texto-virtual {
  display: inline-block;
  position: relative;
}
.section.page-seven .moduletable.texto-virtual img {
  width: 100%;
}
.section.page-seven .moduletable.texto-virtual h2 {
  font-family: 'Comfortaa', cursive;
  font-size: 4rem;
  position: absolute;
  top: 33%;
  left: 0;
  width: 100%;
  text-align: center;
}
.section.page-seven .moduletable.texto-virtual h2 a {
  color: #FFFFFF;
  width: 60%;
  display: inline-block;
  text-align: left;
}
.section.page-seven .moduletable.texto-virtual h2 span {
  font-size: 3rem;
}
.section.page-seven .moduletable.campus-mapa,
.section.page-seven .video {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.section.page-seven .moduletable.campus-mapa .efecto,
.section.page-seven .video .efecto {
  display: inline-block;
  position: relative;
  text-align: center;
}
.section.page-seven .moduletable.campus-mapa .efecto img,
.section.page-seven .video .efecto img {
  width: 100%;
}
.section.page-seven .moduletable.campus-mapa .efecto a,
.section.page-seven .video .efecto a {
  position: absolute;
  visibility: hidden;
  top: 0;
  left: 0;
  height: 0;
  width: 100%;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s;
  text-align: center;
}
.section.page-seven .moduletable.campus-mapa .efecto a span,
.section.page-seven .video .efecto a span {
  position: absolute;
  background-color: #8AC934;
  bottom: 0;
  font-family: 'Comfortaa', cursive;
  font-size: 1.9rem;
  color: #FFFFFF;
  display: inline-block;
  left: 0;
  width: 100%;
  padding: 16px 0;
}
.section.page-seven .moduletable.campus-mapa .efecto:hover a,
.section.page-seven .video .efecto:hover a {
  visibility: visible;
  height: 100%;
  background: -moz-linear-gradient(top,rgba(255,255,255,0.34) 0%,rgba(138,201,52,0.77) 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(255,255,255,0.34)),color-stop(100%,rgba(138,201,52,0.77)));
  background: -webkit-linear-gradient(top,rgba(255,255,255,0.34) 0%,rgba(138,201,52,0.77) 100%);
  background: -o-linear-gradient(top,rgba(255,255,255,0.34) 0%,rgba(138,201,52,0.77) 100%);
  background: -ms-linear-gradient(top,rgba(255,255,255,0.34) 0%,rgba(138,201,52,0.77) 100%);
  background: linear-gradient(to bottom,rgba(255,255,255,0.34) 0%,rgba(138,201,52,0.77) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#57ffffff',endColorstr='#c48ac934',GradientType=0);
  text-align: center;
}
.section.page-seven .moduletable.video {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.section.page-seven .moduletable.video .efecto {
  display: inline-block;
  position: relative;
  text-align: center;
}
.section.page-seven .moduletable.video .efecto img {
  width: 100%;
}
.section.page-seven .moduletable.video .efecto a {
  position: absolute;
  visibility: hidden;
  top: 0;
  left: 0;
  height: 0;
  width: 100%;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s;
  text-align: center;
}
.section.page-seven .moduletable.video .efecto a span {
  position: absolute;
  background-color: #FA9101;
  bottom: 0;
  font-family: 'Comfortaa', cursive;
  font-size: 1.9rem;
  color: #FFFFFF;
  display: inline-block;
  left: 0;
  width: 100%;
  padding: 16px 0;
}
.section.page-seven .moduletable.video .efecto:hover a {
  visibility: visible;
  height: 100%;
  background: -moz-linear-gradient(top,rgba(255,255,255,0.34) 0%,rgba(250,145,1,0.77) 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(255,255,255,0.34)),color-stop(100%,rgba(250,145,1,0.77)));
  background: -webkit-linear-gradient(top,rgba(255,255,255,0.34) 0%,rgba(250,145,1,0.77) 100%);
  background: -o-linear-gradient(top,rgba(255,255,255,0.34) 0%,rgba(250,145,1,0.77) 100%);
  background: -ms-linear-gradient(top,rgba(255,255,255,0.34) 0%,rgba(250,145,1,0.77) 100%);
  background: linear-gradient(to bottom,rgba(255,255,255,0.34) 0%,rgba(250,145,1,0.77) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#57ffffff',endColorstr='#c4fa9101',GradientType=0);
  text-align: center;
}
.section.page-seven .jvotesystem.jvs-module {
  border: 1px solid #CCC;
  padding: 8px;
}
.section.page-seven .jvotesystem.jvs-module .topbox .title {
  display: none;
}
.section.page-seven .jvotesystem.jvs-module .topbox p.question {
  font-family: 'Roboto Slab', serif;
  font-size: 1.8rem;
  display: block;
  color: #00B4DF;
  margin-bottom: 8px;
}
.section.page-seven .jvotesystem.jvs-module .pagebox p {
  font-family: 'Arimo', sans-serif;
  font-size: 1.3rem;
  color: #848484;
}
.section.page-seven .jvotesystem.jvs-module .pagebox .barholder {
  padding: 0;
  border: 2px solid #00B4DF;
  border-radius: 6px;
}
.section.page-seven .jvotesystem.jvs-module .pagebox .barholder a {
  height: auto;
  padding: 2px 0;
  background: #00B4DF !important;
}
.section.page-seven .jvotesystem.jvs-module .pagebox .navi a {
  font-family: 'Arimo', sans-serif;
  font-size: 1.5rem;
  padding: 5px;
  margin-top: 5px;
}
.section.page-seven .jvotesystem.jvs-module .pagebox a.comment {
  display: none;
}
.section.page-seven .jvotesystem.jvs-module .pagebox .answer {
  line-height: 18px;
}
.section.page-seven .jvotesystem.jvs-module .makenew {
  display: none !important;
}
.section.page-seven .jvotesystem.jvs-module .endbox {
  line-height: 0;
}
.section.page-seven .jvotesystem.jvs-module .endbox a.link {
  display: none;
}
.section.page-seven .jvotesystem.jvs-module .endbox .leftMessage {
  font-family: 'Roboto Slab', serif;
  font-size: 1.5rem;
  margin-top: 10px;
}
.section.page-seven > div p:last-child {
  display: none;
}
.section.page-eight {
  background-image: url(../images/page-eight/bg-enlaces.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  position: relative;
}
.section.page-eight:before {
  content: '';
  position: absolute;
  background-image: url(../images/page-eight/Logo-Footer.png);
  width: 100%;
  height: 88px;
  text-align: center;
  left: 0;
  bottom: -47px;
  background-repeat: no-repeat;
  background-position: center bottom;
  z-index: 99;
}
.section.page-eight .moduletable.redes-down {
  float: right;
  width: 100%;
  margin: 33px 0;
}
.section.page-eight .moduletable.redes-down h3 {
  float: left;
  font-family: 'Roboto Slab', serif;
  font-size: 1.8rem;
  color: #FFFFFF;
  margin-right: 7px;
  margin-top: 10px;
}
.section.page-eight .moduletable.redes-down li {
  display: inline-block;
  text-align: center;
}
.section.page-eight .moduletable.redes-down li img {
  display: inline-block;
  margin-right: 5px;
  width: auto;
}
.section.page-eight .moduletable.redes-down li img:hover {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.section.page-eight .me-gusta {
  text-align: center;
}
.section.page-eight .me-gusta iframe {
  margin-top: 40px;
  float: right;
  width: 150px;
}
.section.page-nine {
  background-color: #0979C3;
  text-align: center;
  padding: 60px 0;
  position: relative;
}
.section.page-nine p {
  font-family: 'Arimo', sans-serif;
  font-size: 1.3rem;
  line-height: 20px;
  color: #FFFFFF;
}
.section.page-nine .down {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
}
#copy {
  float: left;
  width: 100%;
  text-align: right;
  background-color: #002E56;
  padding: 5px 0;
}
#copy span {
  font-family: 'Roboto Slab', serif;
  font-size: 1.5rem;
  float: left;
  margin-left: 5%;
  color: #FFFFFF;
}
#copy a {
  background-image: url(../images/page-eight/logo-sainet.png);
  width: 68px;
  height: 20px;
  display: inline-block;
  float: left;
  margin-left: 6px;
}
.rssearch_box {
  width: 100%;
}
form.rsf_form {
  width: 24%;
}
@media only screen and (max-width: 1500px) and (min-width: 1201px) {
  .section.page-one main .slider-home {
    width: 60%;
  }
}
@media only screen and (max-width: 1200px) and (min-width: 1024px) {
  .section.page-one header .search #mod-search-searchword {
    width: 70%;
  }
  .section.page-one header .menu-up ul.menu li {
    margin-left: 10px;
  }
  .section.page-one header .moduletablechat li:last-child {
    margin-left: 0;
  }
  .section.page-one header .moduletable.redes-up li img {
    margin-right: 0;
  }
  .section.page-one nav .menu-inicio #flyout_menu_92 li a {
    font-size: 1.3rem;
  }
  .section.page-one main .slider-home {
    width: 70%;
  }
  .section.page-two .content-slider-programas .moduletable .themestrip-container {
    width: 76% !important;
  }
  .section.page-three .moduletable.noticias .nspMain .nspArt h4,
  .section.page-three .investigacion .nspMain .nspArt h4 {
    margin-left: 10px;
    width: 40%;
  }
  .section.page-three .moduletable.noticias .nspMain .nspArt p.nspText,
  .section.page-three .investigacion .nspMain .nspArt p.nspText {
    margin-left: 10px;
    width: 36%;
    margin-right: 10px;
  }
  .section.page-four .moduletable.eventos h5 {
    width: 70%;
  }
  .section.page-four .moduletable.eventos p {
    width: 70%;
  }
  main .category-view .row .category {
    margin-right: 10px !important;
  }
  main .category-view .row .category h2 p {
    width: 46% !important;
    font-size: 1.4rem !important;
    padding-left: 7px !important;
    height: 62px !important;
  }
  main .category-view .row .category h2 span {
    right: 8px !important;
    bottom: 14px !important;
    font-size: 1.3rem !important;
  }
  main .browse-view h1 span {
    padding-left: 30px;
  }
}
@media only screen and (max-width: 1023px) and (min-width: 961px) {
  .section.page-one header .search #mod-search-searchword {
    width: 76%;
  }
  .section.page-one header .moduletablebuscar input[type="text"] {
    width: 76%;
  }
  .section.page-one header #trigger {
    display: block;
  }
  .section.page-one header .menu-up {
    display: none;
  }
  .section.page-one header .menu-up ul.menu {
    width: 100%;
    background: #002E56;
    border-radius: 0px 0px 9px 9px;
    margin-bottom: 6px;
  }
  .section.page-one header .menu-up ul.menu li {
    margin-left: 0 !important;
    display: block;
    width: 100%;
    position: inherit;
    text-align: center;
    padding: 4px 0;
  }
  .section.page-one header .menu-up ul.menu li a {
    font-size: 1.8rem;
  }
  .section.page-one header .moduletablechat li {
    width: 49%;
  }
  .section.page-one header .moduletablechat li:last-child {
    margin-left: 0;
  }
  .section.page-one header .moduletable.redes-up {
    margin: 20px 0;
  }
  .section.page-one header .moduletable.redes-up ul {
    text-align: center;
  }
  .section.page-one header .moduletable.redes-up li img {
    margin-right: 0;
  }
  .section.page-one nav #trigger-2 {
    display: block;
  }
  .section.page-one nav .menu-inicio {
    background-color: #00A3CF;
  }
  .section.page-one nav .menu-inicio #flyout_menu_92 {
    width: 100%;
    display: none;
  }
  .section.page-one nav .menu-inicio #flyout_menu_92 .opened {
    background: #FFFFFF !important;
  }
  .section.page-one nav .menu-inicio #flyout_menu_92 .opened ul {
    border: none;
    box-shadow: none;
  }
  .section.page-one nav .menu-inicio #flyout_menu_92 .opened ul li {
    border-bottom: 1px solid rgba(0,180,223,0.38);
    padding: 10px 0 !important;
    position: relative;
  }
  .section.page-one nav .menu-inicio #flyout_menu_92 .opened ul li:after {
    content: '';
    position: absolute;
    background-image: url(../images/page-two/);
  }
  .section.page-one nav .menu-inicio #flyout_menu_92 .opened ul li a {
    font-size: 1.5rem;
  }
  .section.page-one nav .menu-inicio #flyout_menu_92 .opened ul li:hover {
    background: #00B4DF !important;
  }
  .section.page-one nav .menu-inicio #flyout_menu_92 .opened ul li:hover a {
    color: #FFFFFF !important;
  }
  .section.page-one nav .menu-inicio #flyout_menu_92 .opened ul li:hover ul li a {
    color: #00B4DF !important;
  }
  .section.page-one nav .menu-inicio #flyout_menu_92 .opened ul li:hover ul li:hover a {
    color: #FFFFFF !important;
  }
  .section.page-one nav .menu-inicio #flyout_menu_92 .opened ul li:last-child {
    border: none;
  }
  .section.page-one nav .menu-inicio #flyout_menu_92 .opened a {
    color: #00B4DF !important;
  }
  .section.page-one nav .menu-inicio #flyout_menu_92 li {
    padding: 1.5% 0% !important;
    border: none;
    border-bottom: 1px solid #00B4DF;
  }
  .section.page-one nav .menu-inicio #flyout_menu_92 li a {
    font-family: 'Roboto Slab', serif;
    font-size: 1.6rem;
    line-height: 20px;
    font-weight: 400;
  }
  .section.page-one main .slider-home {
    width: 70%;
  }
  .section.page-two .content-slider-programas .moduletable .themestrip-container {
    width: 100% !important;
  }
  .section.page-three .moduletable.noticias .nspMain .nspArt h4,
  .section.page-three .investigacion .nspMain .nspArt h4 {
    margin-left: 2px;
    margin-top: 6px;
  }
  .section.page-three .moduletable.noticias .nspMain .nspArt a img,
  .section.page-three .investigacion .nspMain .nspArt a img {
    width: 193px !important;
    height: 183px !important;
  }
  .section.page-three .moduletable.noticias .nspMain .nspArt p.nspText,
  .section.page-three .investigacion .nspMain .nspArt p.nspText {
    margin-left: 2px;
  }
  .section.page-three .moduletable.noticias .nspMain .nspArt a.readon,
  .section.page-three .investigacion .nspMain .nspArt a.readon {
    margin-top: 12px;
  }
  .section.page-four .moduletable.eventos h5 {
    width: 70%;
  }
  .section.page-four .moduletable.eventos p {
    width: 70%;
  }
  .section.page-seven .moduletable.campus-mapa .efecto a,
  .section.page-seven .video .efecto a {
    visibility: visible;
    height: 100%;
  }
  .section.page-seven .moduletable.video .efecto a {
    visibility: visible;
    height: 100%;
  }
  .section.page-eight .moduletable.redes-down {
    text-align: center;
    margin: 15px 0;
  }
  .section.page-eight .moduletable.redes-down h3 {
    float: none;
    margin: 0;
    margin-bottom: 10px;
  }
  main .category-view .row .category {
    margin-right: 10px !important;
  }
  main .category-view .row .category h2 p {
    width: 46% !important;
    font-size: 1.4rem !important;
    padding-left: 7px !important;
    height: 62px !important;
  }
  main .category-view .row .category h2 span {
    right: 8px !important;
    bottom: 14px !important;
    font-size: 1.3rem !important;
  }
  main .browse-view h1 span {
    padding-left: 30px;
  }
  main .category_description h1 span {
    width: 90% !important;
    margin: 34px 0 !important;
  }
  main .productdetails-view h1 span {
    width: auto !important;
    font-size: 3rem !important;
  }
}
@media only screen and (max-width: 1024px) and (min-width: 961px) {
  .section.page-one.home {
    height: 93vh;
  }
  .section.page-one header .moduletablebuscar input[type="text"] {
    width: 70% !important;
  }
  .menu-lateral .moduletable #jj_sl_navigation {
    opacity: 0.7;
  }
  .tabla-publicaciones td {
    padding: 20px;
  }
  .tabla-publicaciones td img {
    margin: 0 auto;
    width: 95%;
  }
  .tabla-publicaciones td:last-child {
    padding-top: 40px;
    padding-left: 10px;
  }
  .tabla-acordeon td {
    padding: 20px;
  }
  .tabla-acordeon td img {
    margin: 0 auto;
    width: 95%;
  }
  .tabla-acordeon td:last-child {
    padding-top: 40px;
    padding-left: 10px;
  }
  div.nn_sliders_content_wrapper div.nn_sliders_content {
    border: 0 !important;
    padding-bottom: 30px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
    padding-top: 10px !important;
    border-radius: 0;
    background: ;
    font-family:  !important;
    margin-bottom: 0px;
    color: #B3B3B3;
  }
  div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li > span > a {
    font-size: 12px;
  }
  .tabla-valores {
    width: 85% !important;
  }
  .tabla-servicio-admin tr:first-child td:nth-child(1) {
    background: #E9F5FA;
    border-right: 0 !important;
  }
  .tabla-servicio-admin tr:first-child td:nth-child(2) {
    border-left: 0 !important;
  }
  .tabla-servicio-admin tr:first-child td:nth-child(3) {
    background: #CFEBF4;
  }
  .tabla-servicio-admin tr:nth-child(2) td:nth-child(1) {
    background: #CFEBF4;
  }
  .tabla-servicio-admin tr:nth-child(2) td:nth-child(2) {
    background: #E9F5FA;
    border-right: 0 !important;
  }
  .tabla-servicio-admin tr:nth-child(2) td:nth-child(3) {
    border-left: 0 !important;
  }
  .tabla-servicio-admin tr:nth-child(3) td:nth-child(1) {
    background: #E9F5FA;
    border-right: 0 !important;
  }
  .tabla-servicio-admin tr:nth-child(3) td:nth-child(2) {
    border-left: 0 !important;
  }
  .tabla-servicio-admin tr:nth-child(3) td:nth-child(3) {
    background: #CFEBF4;
  }
  .tabla-servicio-admin tr td {
    border: 10px solid #FFFFFF;
    vertical-align: top;
    min-width: 317px;
  }
  .tabla-servicio-admin tr td div {
    width: 68%;
    height: auto;
    margin: 12% 7% 0 25%;
  }
  .tabla-servicio-admin tr td div h3 {
    font-family: 'Comfortaa', cursive;
    color: #0060A7;
    font-size: 17px;
    line-height: 20px;
    width: 100%;
  }
  .tabla-servicio-admin tr td div p {
    color: #0060A7;
    font-size: 14px;
    line-height: 16px;
  }
  .moduletablenoticias .nspArt h4.nspHeader {
    width: 72%;
  }
  .item-pageelectivas div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li > span > a {
    font-size: 12px;
  }
  .blog-lista li h3,
  ..blog-lista-azul li h3 {
    font-size: 1.4rem;
  }
  #jcemediabox-popup-body {
    width: 600px !important;
  }
  #jcemediabox-popup-body #jcemediabox-popup-content {
    width: 580px !important;
  }
  .themestrip-container .elastislide-horizontal {
    padding: 10px 90px;
  }
}
@media only screen and (max-width: 960px) and (min-width: 769px) {
  .section.page-one header .search #mod-search-searchword {
    width: 70%;
  }
  .section.page-one header .moduletablebuscar input[type="text"] {
    width: 76%;
  }
  .section.page-one header #trigger {
    display: block;
  }
  .section.page-one header .menu-up {
    display: none;
  }
  .section.page-one header .menu-up ul.menu {
    width: 100%;
    background: #002E56;
    border-radius: 0px 0px 9px 9px;
    margin-bottom: 6px;
  }
  .section.page-one header .menu-up ul.menu li {
    margin-left: 0 !important;
    display: block;
    width: 100%;
    position: inherit;
    text-align: center;
    padding: 4px 0;
  }
  .section.page-one header .menu-up ul.menu li a {
    font-size: 1.8rem;
  }
  .section.page-one header .moduletablechat {
    text-align: center;
    margin: 13px 0;
  }
  .section.page-one header .moduletablechat li {
    width: 50%;
  }
  .section.page-one header .moduletablechat li:last-child {
    margin-left: 0;
  }
  .section.page-one header .moduletable.redes-up {
    margin: 20px 0;
  }
  .section.page-one header .moduletable.redes-up ul {
    text-align: center;
  }
  .section.page-one header .moduletable.redes-up li img {
    margin-right: 0;
  }
  .section.page-one nav #trigger-2 {
    display: block;
  }
  .section.page-one nav .menu-inicio {
    background-color: #00A3CF;
  }
  .section.page-one nav .menu-inicio #flyout_menu_92 {
    width: 100%;
    display: none;
  }
  .section.page-one nav .menu-inicio #flyout_menu_92 .opened {
    background: #FFFFFF !important;
  }
  .section.page-one nav .menu-inicio #flyout_menu_92 .opened ul {
    border: none;
    box-shadow: none;
  }
  .section.page-one nav .menu-inicio #flyout_menu_92 .opened ul li {
    border-bottom: 1px solid rgba(0,180,223,0.38);
    padding: 10px 0 !important;
    position: relative;
  }
  .section.page-one nav .menu-inicio #flyout_menu_92 .opened ul li:after {
    content: '';
    position: absolute;
    background-image: url(../images/page-two/);
  }
  .section.page-one nav .menu-inicio #flyout_menu_92 .opened ul li a {
    font-size: 1.5rem;
  }
  .section.page-one nav .menu-inicio #flyout_menu_92 .opened ul li:hover {
    background: #00B4DF !important;
  }
  .section.page-one nav .menu-inicio #flyout_menu_92 .opened ul li:hover a {
    color: #FFFFFF !important;
  }
  .section.page-one nav .menu-inicio #flyout_menu_92 .opened ul li:hover ul li a {
    color: #00B4DF !important;
  }
  .section.page-one nav .menu-inicio #flyout_menu_92 .opened ul li:hover ul li:hover a {
    color: #FFFFFF !important;
  }
  .section.page-one nav .menu-inicio #flyout_menu_92 .opened ul li:last-child {
    border: none;
  }
  .section.page-one nav .menu-inicio #flyout_menu_92 .opened a {
    color: #00B4DF !important;
  }
  .section.page-one nav .menu-inicio #flyout_menu_92 li {
    padding: 1.5% 0% !important;
    border: none;
    border-bottom: 1px solid #00B4DF;
  }
  .section.page-one nav .menu-inicio #flyout_menu_92 li a {
    font-family: 'Roboto Slab', serif;
    font-size: 1.6rem;
    line-height: 20px;
    font-weight: 400;
  }
  .section.page-one main .slider-home {
    width: 70%;
  }
  .section.page-two .content-slider-programas .moduletable .themestrip-container {
    width: 100% !important;
  }
  .section.page-three .moduletable.noticias h3,
  .section.page-three .investigacion h3 {
    width: 100%;
    padding: 2% 0 2%;
  }
  .section.page-three .moduletable.noticias h3:before,
  .section.page-three .investigacion h3:before {
    display: none;
  }
  .section.page-three .moduletable.noticias .nspMain,
  .section.page-three .investigacion .nspMain {
    width: 100% !important;
  }
  .section.page-three .moduletable.noticias .nspMain .nspArt,
  .section.page-three .investigacion .nspMain .nspArt {
    width: 100% !important;
    margin-bottom: 10px;
  }
  .section.page-three .moduletable.noticias .nspMain .nspArt h4,
  .section.page-three .investigacion .nspMain .nspArt h4 {
    width: 50%;
  }
  .section.page-three .moduletable.noticias .nspMain .nspArt p,
  .section.page-three .investigacion .nspMain .nspArt p {
    width: 50%;
  }
  .section.page-four .moduletable.eventos h5 {
    width: 100%;
    text-align: center;
    margin: 0;
  }
  .section.page-four .moduletable.eventos h4 {
    float: none;
  }
  .section.page-four .moduletable.eventos p {
    width: 90%;
    margin-top: 9px;
  }
  .section.page-seven .moduletable.campus-mapa .efecto a,
  .section.page-seven .video .efecto a {
    visibility: visible;
    height: 100%;
  }
  .section.page-seven .moduletable.video .efecto a {
    visibility: visible;
    height: 100%;
  }
  .section.page-eight .moduletable.redes-down {
    text-align: center;
    margin: 15px 0;
  }
  .section.page-eight .moduletable.redes-down h3 {
    float: none;
    margin: 0;
    margin-bottom: 10px;
  }
  .section.page-eight .me-gusta iframe {
    margin-top: 20px;
  }
  main .category-view .row {
    text-align: center;
  }
  main .category-view .row .category {
    margin-right: 10px !important;
    width: 41% !important;
    display: inline-block !important;
    float: none;
  }
  main .category-view .row .category h2 p {
    width: 46% !important;
    font-size: 1.4rem !important;
    padding-left: 7px !important;
    height: 62px !important;
  }
  main .category-view .row .category h2 span {
    right: 8px !important;
    bottom: 14px !important;
    font-size: 1.3rem !important;
  }
  main .browse-view .row .width30 {
    width: 40% !important;
  }
  main .browse-view .row .width70 {
    width: 60% !important;
  }
  main .browse-view h1 span {
    padding-left: 30px;
  }
  main .productdetails-view .product-description {
    width: 100% !important;
  }
  main .productdetails-view .formulario-catalogo {
    width: 100% !important;
    text-align: center !important;
  }
  main .productdetails-view .product-description table {
    width: 66%;
    margin: 0 auto;
  }
  main .productdetails-view .product-description .spacer-buy-area {
    text-align: center;
    width: 100% !important;
  }
  main .productdetails-view .product-description .spacer-buy-area .product-price .PricesalesPrice {
    float: none !important;
  }
  main .category_description h1 span {
    width: 90% !important;
    margin: 34px 0 !important;
  }
  main .productdetails-view h1 span {
    width: auto !important;
    font-size: 3rem !important;
  }
  .tabla-publicaciones .borde {
    padding: 10px;
    background: #f3f3f3;
  }
  .tabla-publicaciones td {
    width: 50%;
    vertical-align: top;
    text-align: center;
    padding: 10px;
  }
  .tabla-publicaciones td img {
    margin: 0 auto;
    width: 90%;
  }
  .tabla-publicaciones td p {
    text-align: center;
    font-family: 'Comfortaa', cursive;
    font-weight: lighter;
    font-size: 1.9rem;
  }
  .tabla-publicaciones td:last-child {
    padding-top: 40px;
    padding-left: 10px;
  }
  .tabla-acordeon .borde {
    padding: 10px;
    background: #f3f3f3;
  }
  .tabla-acordeon td {
    width: 50%;
    vertical-align: top;
    text-align: center;
    padding: 10px;
  }
  .tabla-acordeon td img {
    margin: 0 auto;
    width: 90%;
  }
  .tabla-acordeon td p {
    text-align: center;
    font-family: 'Comfortaa', cursive;
    font-weight: lighter;
    font-size: 1.9rem;
  }
  .tabla-acordeon td:last-child {
    padding-top: 40px;
    padding-left: 10px;
  }
}
@media only screen and (max-width: 768px) and (min-width: 481px) {
  .section.page-one.home {
    height: 95vh;
  }
  .section.page-one header .search #mod-search-searchword {
    width: 88%;
  }
  .section.page-one header .moduletablebuscar {
    margin-bottom: 8px;
  }
  .section.page-one header .moduletablebuscar input[type="text"] {
    width: 93% !important;
    padding: 7px 0 7px 10px !important;
    height: 11px;
  }
  .section.page-one header #trigger {
    display: block;
  }
  .section.page-one header .menu-up {
    display: none;
  }
  .section.page-one header .menu-up ul.menu {
    width: 100%;
    background: #002E56;
    border-radius: 0px 0px 9px 9px;
    margin-bottom: 6px;
  }
  .section.page-one header .menu-up ul.menu li {
    margin-left: 0 !important;
    display: block;
    width: 100%;
    position: inherit;
    text-align: center;
    padding: 4px 0;
  }
  .section.page-one header .menu-up ul.menu li a {
    font-size: 1.8rem;
  }
  .section.page-one header .moduletablelogo {
    float: none;
    margin: 12px 0;
    text-align: center;
  }
  .section.page-one header .moduletablelogo img {
    width: auto;
    float: none !important;
    display: inline-block;
  }
  .section.page-one header .moduletablechat {
    text-align: center;
    margin: 13px 0;
    width: 100%;
  }
  .section.page-one header .moduletablechat li:last-child {
    margin-left: 0;
  }
  .section.page-one header .moduletable.redes-up {
    margin: 3px 0;
    text-align: center;
    width: 100%;
  }
  .section.page-one header .moduletable.redes-up ul {
    text-align: center;
  }
  .section.page-one header .moduletable.redes-up li img {
    margin-right: 0;
  }
  .section.page-one nav #trigger-2 {
    display: block;
  }
  .section.page-one nav .menu-inicio {
    background-color: #00A3CF;
  }
  .section.page-one nav .menu-inicio #flyout_menu_92 {
    width: 100%;
    display: none;
  }
  .section.page-one nav .menu-inicio #flyout_menu_92 .opened {
    background: #FFFFFF !important;
  }
  .section.page-one nav .menu-inicio #flyout_menu_92 .opened ul {
    border: none;
    box-shadow: none;
  }
  .section.page-one nav .menu-inicio #flyout_menu_92 .opened ul li {
    border-bottom: 1px solid rgba(0,180,223,0.38);
    padding: 10px 0 !important;
    position: relative;
  }
  .section.page-one nav .menu-inicio #flyout_menu_92 .opened ul li:after {
    content: '';
    position: absolute;
    background-image: url(../images/page-two/);
  }
  .section.page-one nav .menu-inicio #flyout_menu_92 .opened ul li a {
    font-size: 1.5rem;
  }
  .section.page-one nav .menu-inicio #flyout_menu_92 .opened ul li:hover {
    background: #00B4DF !important;
  }
  .section.page-one nav .menu-inicio #flyout_menu_92 .opened ul li:hover a {
    color: #FFFFFF !important;
  }
  .section.page-one nav .menu-inicio #flyout_menu_92 .opened ul li:hover ul li a {
    color: #00B4DF !important;
  }
  .section.page-one nav .menu-inicio #flyout_menu_92 .opened ul li:hover ul li:hover a {
    color: #FFFFFF !important;
  }
  .section.page-one nav .menu-inicio #flyout_menu_92 .opened ul li:last-child {
    border: none;
  }
  .section.page-one nav .menu-inicio #flyout_menu_92 .opened a {
    color: #00B4DF !important;
  }
  .section.page-one nav .menu-inicio #flyout_menu_92 li {
    padding: 1.5% 0% !important;
    border: none;
    border-bottom: 1px solid #00B4DF;
  }
  .section.page-one nav .menu-inicio #flyout_menu_92 li a {
    font-family: 'Roboto Slab', serif;
    font-size: 1.6rem;
    line-height: 20px;
    font-weight: 400;
  }
  .section.page-one main .slider-home {
    width: 100%;
  }
  .section.page-one main .slider-home .nspArt h4 {
    font-size: 3rem;
  }
  .section.page-two .moduletable.programas ul {
    margin-bottom: 17px;
  }
  .section.page-two .moduletable.item-menus ul {
    width: 90%;
  }
  .section.page-two .content-slider-programas .moduletable .themestrip-container {
    width: 98% !important;
  }
  .section.page-three .moduletable.noticias h3,
  .section.page-three .investigacion h3 {
    width: 100%;
    padding: 2% 0 2%;
  }
  .section.page-three .moduletable.noticias h3:before,
  .section.page-three .investigacion h3:before {
    display: none;
  }
  .section.page-three .moduletable.noticias .nspMain,
  .section.page-three .investigacion .nspMain {
    width: 100% !important;
  }
  .section.page-three .moduletable.noticias .nspMain .nspArt,
  .section.page-three .investigacion .nspMain .nspArt {
    width: 100% !important;
    margin-bottom: 10px;
  }
  .section.page-three .moduletable.noticias .nspMain .nspArt h4,
  .section.page-three .investigacion .nspMain .nspArt h4 {
    width: 45%;
  }
  .section.page-three .moduletable.noticias .nspMain .nspArt p,
  .section.page-three .investigacion .nspMain .nspArt p {
    width: 50%;
  }
  .section.page-four .moduletable.eventos table td {
    display: inline-block;
    margin-bottom: 15px;
  }
  .section.page-four .moduletable.eventos table td h4 {
    margin-left: 5%;
    margin-bottom: 10px;
  }
  .section.page-four .moduletable.eventos table td h5 {
    float: left;
    margin-left: 11px;
  }
  .section.page-four .moduletable.eventos table td p {
    float: left;
    margin-left: 11px;
  }
  .section.page-four .moduletable.eventos a {
    margin-top: 18px;
  }
  .section.page-five .col6 .moduletable {
    margin-bottom: 10px;
  }
  .section.page-five .col6 .moduletable iframe {
    width: 100% !important;
  }
  .section.page-five .col6 .moduletable h3 {
    width: 94% !important;
  }
  .section.page-seven .moduletable.campus-mapa .efecto a,
  .section.page-seven .video .efecto a {
    visibility: visible;
    height: 100%;
  }
  .section.page-seven .moduletable.video .efecto a {
    visibility: visible;
    height: 100%;
  }
  .section.page-seven .col3 {
    width: 46% !important;
    float: left !important;
    margin-bottom: 15px;
  }
  .section.page-eight:before {
    display: none;
  }
  .section.page-eight .moduletable.redes-down {
    text-align: center;
    margin: 15px 0;
  }
  .section.page-eight .moduletable.redes-down h3 {
    float: none;
    margin: 0;
    margin-bottom: 10px;
  }
  .section.page-eight .col6.last.like {
    text-align: center;
  }
  .section.page-eight .me-gusta {
    text-align: center;
    display: inline-block;
    margin: 0 auto;
  }
  .section.page-eight .me-gusta iframe {
    margin: 12px 0;
  }
  main .category-view .row {
    text-align: center;
  }
  main .category-view .row .category {
    margin-right: 10px !important;
    width: 50% !important;
    display: inline-block !important;
    float: none;
    margin-bottom: 31px !important;
  }
  main .category-view .row .category h2 p {
    width: 46% !important;
    font-size: 1.4rem !important;
    padding-left: 7px !important;
    height: 62px !important;
  }
  main .category-view .row .category h2 span {
    right: 8px !important;
    bottom: 14px !important;
    font-size: 1.3rem !important;
  }
  main .browse-view .row .width30 {
    width: 40% !important;
  }
  main .browse-view .row .width70 {
    width: 60% !important;
  }
  main .browse-view h1 span {
    padding-left: 30px;
  }
  main .browse-view {
    margin-top: 183px !important;
  }
  main .category-view {
    margin-bottom: 0 !important;
  }
  main .productdetails-view .product-description {
    width: 100% !important;
  }
  main .productdetails-view .formulario-catalogo {
    width: 100% !important;
    text-align: center !important;
  }
  main .img-top .product-fields .img-detalle-catalogo img {
    width: 100% !important;
    margin-top: 0px !important;
  }
  main .img-top .product-fields .img-detalle-catalogo {
    margin-left: 0 !important;
  }
  main .img-top {
    height: 123px !important;
  }
  main .productdetails-view .product-description table {
    width: 66%;
    margin: 0 auto;
  }
  main .productdetails-view .product-description .spacer-buy-area {
    text-align: center;
    width: 100% !important;
  }
  main .productdetails-view .product-description .spacer-buy-area .product-price .PricesalesPrice {
    float: none !important;
  }
  main .category_description h1 span {
    width: 90% !important;
    margin: 34px 0 !important;
  }
  main .productdetails-view h1 {
    font-size: 3rem !important;
  }
  main .productdetails-view h1 span {
    width: auto !important;
    font-size: 3rem !important;
  }
  .item-page h2 {
    font-size: 3rem;
    margin-top: 50px;
  }
  .item-page h2 span {
    text-align: center;
  }
  .item-pageque-es-ibero p {
    padding: 0 40px;
  }
  .menu-lateral .moduletable #jj_sl_navigation {
    opacity: 0.7;
  }
  .tabla-col2 td {
    width: 100%;
    display: inline-block;
  }
  .tabla-col2 td img {
    margin: 20px auto 0 !important;
    float: none !important;
  }
  div.nn_sliders_content_wrapper div.nn_sliders_content {
    border: 0 !important;
    padding-bottom: 30px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
    padding-top: 10px !important;
    border-radius: 0;
    background: ;
    font-family:  !important;
    margin-bottom: 0px;
    color: #B3B3B3;
  }
  .tabla-publicaciones .borde {
    padding: 10px;
    background: #f3f3f3;
  }
  .tabla-publicaciones td {
    width: 50%;
    padding: 10px;
  }
  .tabla-publicaciones td img {
    margin: 0 auto;
  }
  .tabla-publicaciones td:last-child {
    padding-top: 15px;
  }
  .tabla-acordeon .borde {
    padding: 10px;
    background: #f3f3f3;
  }
  .tabla-acordeon td {
    width: 50%;
    padding: 10px;
  }
  .tabla-acordeon td img {
    margin: 0 auto;
  }
  .tabla-acordeon td:last-child {
    padding-top: 15px;
  }
  .boton-descargar {
    margin-top: 10px;
  }
  div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li {
    width: 100%;
    display: inline-block;
    float: left;
  }
  .tabla-convenios td {
    width: 100%;
    padding: 0;
    vertical-align: middle;
    display: inline-block;
  }
  .tabla-convenios td img {
    margin: 20px auto 0;
  }
  .tabla-tabs td {
    width: 100%;
    padding: 0;
    vertical-align: middle;
    display: inline-block;
  }
  .tabla-tabs td img {
    margin: 20px auto 0;
  }
  .tabla-base {
    width: 90% !important;
  }
  .tabla-base td {
    padding: 30px 10px;
    font-size: 16px;
  }
  .tabla-valores {
    width: 80% !important;
    margin: 8px auto 30px !important;
  }
  .tabla-valores:after {
    position: absolute;
    content: "";
    bottom: -230px;
    right: -405px;
    width: 444px;
    height: 359px;
    background: url("../images/hand.jpg");
    z-index: -1;
  }
  .tabla-valores td {
    width: 100%;
    display: inline-block;
  }
  .tabla-valores td p {
    margin-right: 50px;
  }
  .tabla-servicio-admin {
    width: 55% !important;
    margin: 0 auto;
  }
  .tabla-servicio-admin tr:first-child td:nth-child(1) {
    background: #E9F5FA;
    border-right: 0 !important;
  }
  .tabla-servicio-admin tr:first-child td:nth-child(2) {
    border-left: 0 !important;
  }
  .tabla-servicio-admin tr:first-child td:nth-child(3) {
    background: #CFEBF4;
  }
  .tabla-servicio-admin tr:nth-child(2) td:nth-child(1) {
    background: #CFEBF4;
  }
  .tabla-servicio-admin tr:nth-child(2) td:nth-child(2) {
    background: #E9F5FA;
    border-right: 0 !important;
  }
  .tabla-servicio-admin tr:nth-child(2) td:nth-child(3) {
    border-left: 0 !important;
  }
  .tabla-servicio-admin tr:nth-child(3) td:nth-child(1) {
    background: #E9F5FA;
    border-right: 0 !important;
  }
  .tabla-servicio-admin tr:nth-child(3) td:nth-child(2) {
    border-left: 0 !important;
  }
  .tabla-servicio-admin tr:nth-child(3) td:nth-child(3) {
    background: #CFEBF4;
  }
  .tabla-servicio-admin tr td {
    border-bottom: 10px solid #fff !important;
    border-left: 0 !important;
    border-top: 0 !important;
    border-right: 0 !important;
    vertical-align: top;
    min-width: 317px;
    width: 100%;
    display: inline-block;
  }
  .tabla-servicio-admin tr td div {
    width: 68%;
    height: auto;
    margin: 12% 7% 10% 25%;
  }
  .tabla-servicio-admin tr td div h3 {
    font-family: 'Comfortaa', cursive;
    color: #0060A7;
    font-size: 17px;
    line-height: 20px;
    width: 100%;
  }
  .tabla-servicio-admin tr td div p {
    color: #0060A7;
    font-size: 14px;
    line-height: 16px;
  }
  .tabla-financiacion {
    width: 99% !important;
    margin: 0 auto;
  }
  .tabla-financiacion td {
    border: 1px solid #cdcdcd;
    padding: 40px 30px;
    position: relative;
  }
  .tabla-financiacion td img {
    position: relative;
    z-index: 9999;
  }
  .tabla-financiacion td:hover:before {
    opacity: 1;
  }
  .tabla-financiacion td:before {
    position: absolute;
    content: "";
    top: -2px;
    left: -2px;
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid #00B4DF;
    opacity: 0;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
  }
  .tabla-icfes {
    border-spacing: 12px;
    border-collapse: separate;
  }
  .tabla-icfes td {
    border: 1px solid #d9d9d9;
    padding: 15px 40px;
    vertical-align: middle;
    height: auto;
    position: relative;
    width: 80%;
    display: inline-block;
  }
  .tabla-icfes td:before {
    position: absolute;
    content: "";
    width: 12px;
    height: 101%;
    top: -1px;
    left: -1px;
    background-size: cover;
  }
  .tabla-icfes td h3 {
    width: 50%;
    float: left;
    font-family: 'Comfortaa', cursive;
    font-size: 2.4rem;
  }
  .tabla-icfes td ul {
    width: 50%;
    float: left;
    margin: 0;
  }
  .tabla-icfes td ul li {
    margin-bottom: 0;
  }
  .tabla-icfes td ul li:before {
    display: none;
  }
  .moduletablenoticias .nspImageWrapper {
    overflow: hidden;
    display: inline-block;
    width: 34% !important;
  }
  .moduletablenoticias .nspImageWrapper img {
    width: 100% !important;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
  }
  .moduletablenoticias .nspImageWrapper img:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }
  .moduletablenoticias .nspArt h4.nspHeader {
    width: 59%;
  }
  .moduletablenoticias .nspArt p.nspText {
    font-size: 14px;
  }
  #k2Container .itemListCategory h2 {
    margin-top: 40px;
  }
  .catItemBody .catItemIntroText img {
    margin-right: 10px;
  }
  .catItemBody .catItemIntroText .content-rigth .catItemTitle {
    margin-top: 0;
    font-size: 20px;
  }
  .catItemBody .catItemIntroText .content-rigth .catItemReadMore a {
    margin-top: 14px;
  }
  .moduletablecol2 .nspArtPage .nspArt {
    width: 90% !important;
    padding: 20px !important;
    position: relative;
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
    border-bottom: 1px solid #B3B3B3 !important;
  }
  .blog-lista li,
  .blog-lista-azul li {
    width: 48%;
  }
  .blog-lista li h3,
  .blog-lista-azul li h3 {
    font-size: 1.6rem;
  }
  #jcemediabox-popup-body {
    width: 500px !important;
  }
  #jcemediabox-popup-body #jcemediabox-popup-content {
    width: 480px !important;
  }
  form.rsf_form {
    width: 95%;
  }
  .tabla-formuario .rsform-submit-button {
    width: 23%;
  }
  .themestrip-container .elastislide-horizontal {
    padding: 10px 99px;
  }
}
@media only screen and (max-width: 480px) and (min-width: 0px) {
  .matriculate {
    display: none;
  }
  .section.page-one header .search label {
    margin-right: 5px;
  }
  .section.page-one header .search #mod-search-searchword {
    width: 81%;
  }
  .section.page-one header .moduletablebuscar {
    margin-bottom: 7px;
  }
  .section.page-one header .moduletablebuscar input[type="text"] {
    width: 79% !important;
    padding: 5px 0 5px 10px !important;
  }
  .section.page-one header #trigger {
    display: block;
  }
  .section.page-one header .menu-up {
    display: none;
  }
  .section.page-one header .menu-up ul.menu {
    width: 100%;
    background: #002E56;
    border-radius: 0px 0px 9px 9px;
    margin-bottom: 6px;
  }
  .section.page-one header .menu-up ul.menu li {
    margin-left: 0 !important;
    display: block;
    width: 100%;
    position: inherit;
    text-align: center;
    padding: 4px 0;
  }
  .section.page-one header .menu-up ul.menu li a {
    font-size: 1.8rem;
  }
  .section.page-one header .moduletablelogo {
    float: none;
    margin: 12px 0;
    text-align: center;
  }
  .section.page-one header .moduletablelogo img {
    width: 100%;
    float: none !important;
    display: inline-block;
  }
  .section.page-one header .moduletablechat {
    text-align: center;
    margin: 13px 0;
    width: 100%;
  }
  .section.page-one header .moduletablechat li {
    width: 41%;
  }
  .section.page-one header .moduletablechat li:last-child {
    margin-left: 0;
  }
  .section.page-one header .moduletable.redes-up {
    margin: 3px 0;
    text-align: center;
    width: 100%;
  }
  .section.page-one header .moduletable.redes-up ul {
    text-align: center;
  }
  .section.page-one header .moduletable.redes-up li img {
    margin-right: 0;
  }
  .section.page-one nav {
    position: relative;
    z-index: 999;
  }
  .section.page-one nav #trigger-2 {
    display: block;
  }
  .section.page-one nav .menu-inicio {
    background-color: #00A3CF;
  }
  .section.page-one nav .menu-inicio #flyout_menu_92 {
    width: 100%;
    display: none;
  }
  .section.page-one nav .menu-inicio #flyout_menu_92 .opened {
    background: #FFFFFF !important;
  }
  .section.page-one nav .menu-inicio #flyout_menu_92 .opened ul {
    border: none;
    box-shadow: none;
  }
  .section.page-one nav .menu-inicio #flyout_menu_92 .opened ul li {
    border-bottom: 1px solid rgba(0,180,223,0.38);
    padding: 10px 0 !important;
    position: relative;
  }
  .section.page-one nav .menu-inicio #flyout_menu_92 .opened ul li:after {
    content: '';
    position: absolute;
    background-image: url(../images/page-two/);
  }
  .section.page-one nav .menu-inicio #flyout_menu_92 .opened ul li a {
    font-size: 1.5rem;
  }
  .section.page-one nav .menu-inicio #flyout_menu_92 .opened ul li:hover {
    background: #00B4DF !important;
  }
  .section.page-one nav .menu-inicio #flyout_menu_92 .opened ul li:hover a {
    color: #FFFFFF !important;
  }
  .section.page-one nav .menu-inicio #flyout_menu_92 .opened ul li:hover ul li a {
    color: #00B4DF !important;
  }
  .section.page-one nav .menu-inicio #flyout_menu_92 .opened ul li:hover ul li:hover a {
    color: #FFFFFF !important;
  }
  .section.page-one nav .menu-inicio #flyout_menu_92 .opened ul li:last-child {
    border: none;
  }
  .section.page-one nav .menu-inicio #flyout_menu_92 .opened a {
    color: #00B4DF !important;
  }
  .section.page-one nav .menu-inicio #flyout_menu_92 li {
    padding: 1.5% 0% !important;
    border: none;
    border-bottom: 1px solid #00B4DF;
  }
  .section.page-one nav .menu-inicio #flyout_menu_92 li a {
    font-family: 'Roboto Slab', serif;
    font-size: 1.6rem;
    line-height: 20px;
    font-weight: 400;
  }
  .section.page-one main .slider-home {
    display: none;
  }
  .section.page-one main .slider-home .nspArt h4 {
    font-size: 3rem;
  }
  .section.page-one .down {
    display: none;
  }
  .section.page-two .moduletable.programas ul {
    margin-bottom: 17px;
  }
  .section.page-two .moduletable.item-menus ul {
    width: 82%;
  }
  .section.page-two .content-slider-programas .moduletable .themestrip-container {
    width: 100% !important;
  }
  .section.page-two .content-slider-programas .moduletable .elastislide-carousel li {
    width: 100% !important;
    height: auto !important;
  }
  .section.page-two .content-slider-programas .moduletable .elastislide-carousel li img {
    height: auto;
  }
  .section.page-three .moduletable.noticias h3,
  .section.page-three .investigacion h3 {
    width: 100%;
    padding: 2% 0 2%;
  }
  .section.page-three .moduletable.noticias h3:before,
  .section.page-three .investigacion h3:before {
    display: none;
  }
  .section.page-three .moduletable.noticias .nspMain,
  .section.page-three .investigacion .nspMain {
    width: 100% !important;
  }
  .section.page-three .moduletable.noticias .nspMain .nspArt,
  .section.page-three .investigacion .nspMain .nspArt {
    width: 100% !important;
    margin-bottom: 10px;
  }
  .section.page-three .moduletable.noticias .nspMain .nspArt h4,
  .section.page-three .investigacion .nspMain .nspArt h4 {
    width: 90%;
    margin: 12px auto;
    float: none;
  }
  .section.page-three .moduletable.noticias .nspMain .nspArt a,
  .section.page-three .investigacion .nspMain .nspArt a {
    text-align: center;
    width: 100%;
  }
  .section.page-three .moduletable.noticias .nspMain .nspArt a img,
  .section.page-three .investigacion .nspMain .nspArt a img {
    float: none;
    display: inline-block;
  }
  .section.page-three .moduletable.noticias .nspMain .nspArt p.nspText,
  .section.page-three .investigacion .nspMain .nspArt p.nspText {
    width: 90%;
    margin: 12px auto;
    text-align: center;
  }
  .section.page-three .moduletable.noticias .nspMain .nspArt a.readon,
  .section.page-three .investigacion .nspMain .nspArt a.readon {
    margin-top: 0;
  }
  .section.page-three .content-acceso {
    width: 96%;
  }
  .section.page-four .moduletable.eventos table td {
    display: inline-block;
    margin-bottom: 15px;
  }
  .section.page-four .moduletable.eventos h5 {
    width: 67%;
  }
  .section.page-four .moduletable.eventos p {
    width: 67%;
  }
  .section.page-four .moduletable.eventos a {
    margin-top: 18px;
  }
  .section.page-five .col6 .moduletable {
    margin-bottom: 10px;
  }
  .section.page-five .col6 .moduletable h3 {
    width: 94% !important;
  }
  .section.page-six .menu-inferior .elastislide-carousel li {
    width: 100% !important;
  }
  .section.page-seven .moduletable.campus-mapa .efecto a,
  .section.page-seven .video .efecto a {
    visibility: visible;
    height: 100%;
  }
  .section.page-seven .moduletable.video .efecto a {
    visibility: visible;
    height: 100%;
  }
  .section.page-seven .col3 {
    margin-bottom: 15px;
  }
  .section.page-eight:before {
    display: none;
  }
  .section.page-eight .moduletable.redes-down {
    text-align: center;
    margin: 15px 0;
  }
  .section.page-eight .moduletable.redes-down h3 {
    float: none;
    margin: 0;
    margin-bottom: 10px;
  }
  .section.page-eight .col6.last.like {
    text-align: center;
  }
  .section.page-eight .me-gusta {
    text-align: center;
    display: inline-block;
    margin: 0 auto;
  }
  .section.page-eight .me-gusta iframe {
    margin: 12px 0;
    width: 130px;
  }
  main .category-view .row {
    text-align: center;
  }
  main .category-view .row .category {
    margin-right: 10px !important;
    width: 100% !important;
    display: inline-block !important;
    float: none;
    margin-bottom: 31px !important;
  }
  main .category-view .row .category h2 p {
    width: 46% !important;
    font-size: 1.4rem !important;
    padding-left: 7px !important;
    height: 62px !important;
  }
  main .category-view .row .category h2 span {
    right: 17px !important;
    bottom: 22px !important;
    font-size: 1.3rem !important;
  }
  main .browse-view .row .width30 {
    width: 70% !important;
    text-align: center;
    margin: 0 auto;
    float: none;
  }
  main .category_description h1 span {
    width: auto !important;
    margin: 37px 0 !important;
    font-size: 30px;
  }
  main .productdetails-view h1 {
    font-size: 3.5rem !important;
    margin: 34px 0 !important;
  }
  main .browse-view .row .width70 {
    width: 100% !important;
  }
  main .browse-view h1 span {
    padding-left: 30px;
  }
  main .browse-view {
    margin-top: 183px !important;
  }
  main .category-view {
    margin-bottom: 0 !important;
  }
  main .productdetails-view .product-description {
    width: 100% !important;
  }
  main .productdetails-view .formulario-catalogo {
    width: 100% !important;
    text-align: center !important;
  }
  main .productdetails-view .formulario-catalogo iframe {
    width: 327px !important;
  }
  main .img-top .product-fields .img-detalle-catalogo img {
    width: 130% !important;
    margin-top: 0px !important;
  }
  main .img-top .product-fields .img-detalle-catalogo {
    margin-left: 0 !important;
  }
  main .img-top {
    height: 78px !important;
  }
  .tabla-responsive td {
    padding: 10px 2px;
    width: 100%;
    display: inline-block;
  }
  .item-pageque-es-ibero h2 {
    font-size: 3rem;
    margin-top: 50px;
  }
  .item-pageque-es-ibero p {
    padding: 0 5px;
  }
  .tabla-col2 td {
    vertical-align: top;
    width: 100%;
    display: inline-block;
  }
  .tabla-col2 td img {
    float: none !important;
    margin: 20px auto 0 !important;
  }
  .item-page h2 {
    font-size: 3rem;
    margin-top: 50px;
  }
  .item-page h2 span {
    text-align: center;
  }
  .menu-lateral .moduletable #jj_sl_navigation {
    top: 30%;
    opacity: 0.7;
  }
  .tabla-publicaciones .borde {
    padding: 10px;
    background: #f3f3f3;
  }
  .tabla-publicaciones td {
    width: 100%;
    vertical-align: top;
    display: inline-block;
    text-align: center;
  }
  .tabla-publicaciones td img {
    margin: 0 auto;
  }
  .tabla-publicaciones td p {
    text-align: center;
    font-family: 'Comfortaa', cursive;
    font-weight: lighter;
    font-size: 1.9rem;
  }
  .tabla-publicaciones td:last-child {
    padding-top: 30px;
  }
  .tabla-acordeon .borde {
    padding: 10px;
    background: #f3f3f3;
  }
  .tabla-acordeon td {
    width: 100%;
    vertical-align: top;
    display: inline-block;
    text-align: center;
  }
  .tabla-acordeon td img {
    margin: 0 auto;
  }
  .tabla-acordeon td p {
    text-align: center;
    font-family: 'Comfortaa', cursive;
    font-weight: lighter;
    font-size: 1.9rem;
  }
  .tabla-acordeon td:last-child {
    padding-top: 30px;
  }
  div.nn_sliders_content_wrapper div.nn_sliders_content {
    border: 0 !important;
    padding-bottom: 30px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
    padding-top: 10px !important;
    border-radius: 0;
    background: ;
    font-family:  !important;
    margin-bottom: 0px;
    color: #B3B3B3;
  }
  .boton-descargar {
    margin-top: 15px;
  }
  div.nn_sliders_slider a:after {
    display: none;
  }
  div.nn_sliders_slider a:hover:after {
    display: none;
  }
  div.nn_sliders_slider.active a:after,
  div.nn_sliders_slider.active a:hover:after {
    display: none;
  }
  div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li {
    width: 100%;
    display: inline-block;
    float: left;
  }
  .tabla-convenios td {
    width: 100%;
    vertical-align: middle;
    display: inline-block;
    padding: 0;
  }
  .tabla-convenios td img {
    margin: 10px auto 0;
  }
  .tabla-tabs td {
    width: 100%;
    vertical-align: middle;
    display: inline-block;
    padding: 0;
  }
  .tabla-tabs td img {
    margin: 10px auto 0;
  }
  div.nn_tabs_container > div.nn_tabs_content {
    border: 0;
    background: ;
    padding: 30px 5px 10px 5px;
    margin-bottom: 0;
  }
  .tabla-gestion tr td {
    vertical-align: top;
    padding: 30px 1%;
    border-bottom: 1px solid #e6e6e6;
    width: 100% !important;
    display: inline-block;
  }
  .tabla-base {
    width: 100% !important;
  }
  .tabla-base td {
    padding: 15px 1px;
    font-size: 12px;
  }
  .tabla-base.movil {
    width: 100% !important;
  }
  .tabla-base.movil tbody {
    display: block;
    overflow-x: auto;
    width: 60%;
  }
  .tabla-base.movil td {
    padding: 15px 1px;
    font-size: 12px;
  }
  .tabla-valores {
    width: 80% !important;
    margin: 8px auto 30px !important;
  }
  .tabla-valores:after {
    position: absolute;
    content: "";
    bottom: -230px;
    right: -400px;
    width: 444px;
    height: 359px;
    background: url("../images/hand.jpg");
    z-index: -1;
  }
  .tabla-valores td {
    width: 100%;
    display: inline-block;
  }
  .tabla-valores td p {
    margin-right: 50px;
  }
  .tabla-servicio-admin {
    width: 85% !important;
    margin: 0 auto;
  }
  .tabla-servicio-admin tr:first-child td:nth-child(1) {
    background: #E9F5FA;
    border-right: 0 !important;
  }
  .tabla-servicio-admin tr:first-child td:nth-child(1) h3:before {
    background-position: 6px 10px;
  }
  .tabla-servicio-admin tr:first-child td:nth-child(2) {
    border-left: 0 !important;
  }
  .tabla-servicio-admin tr:first-child td:nth-child(3) {
    background: #CFEBF4;
  }
  .tabla-servicio-admin tr:first-child td:nth-child(3) h3:before {
    background-position: 5px -38px;
  }
  .tabla-servicio-admin tr:nth-child(2) td:nth-child(1) {
    background: #CFEBF4;
  }
  .tabla-servicio-admin tr:nth-child(2) td:nth-child(1) h3:before {
    background-position: 7px -86px;
  }
  .tabla-servicio-admin tr:nth-child(2) td:nth-child(2) {
    background: #E9F5FA;
    border-right: 0 !important;
  }
  .tabla-servicio-admin tr:nth-child(2) td:nth-child(2) h3:before {
    background-position: 6px -135px;
  }
  .tabla-servicio-admin tr:nth-child(2) td:nth-child(3) {
    border-left: 0 !important;
  }
  .tabla-servicio-admin tr:nth-child(3) td:nth-child(1) {
    background: #E9F5FA;
    border-right: 0 !important;
  }
  .tabla-servicio-admin tr:nth-child(3) td:nth-child(1) h3:before {
    background-position: 5px -175px;
  }
  .tabla-servicio-admin tr:nth-child(3) td:nth-child(2) {
    border-left: 0 !important;
  }
  .tabla-servicio-admin tr:nth-child(3) td:nth-child(3) {
    background: #CFEBF4;
  }
  .tabla-servicio-admin tr:nth-child(3) td:nth-child(3) h3:before {
    background-position: 5px -230px;
  }
  .tabla-servicio-admin tr td {
    border-bottom: 10px solid #fff !important;
    border-left: 0 !important;
    border-top: 0 !important;
    border-right: 0 !important;
    vertical-align: top;
    min-width: 0;
    width: 100%;
    display: inline-block;
  }
  .tabla-servicio-admin tr td div {
    width: 68%;
    height: auto;
    margin: 12% 7% 10% 25%;
  }
  .tabla-servicio-admin tr td div h3 {
    font-family: 'Comfortaa', cursive;
    color: #0060A7;
    font-size: 17px;
    line-height: 20px;
    width: 100%;
  }
  .tabla-servicio-admin tr td div h3:before {
    background-size: 65%;
    width: 45px;
    height: 45px;
    left: -50px;
  }
  .tabla-servicio-admin tr td div p {
    color: #0060A7;
    font-size: 14px;
    line-height: 16px;
  }
  .tabla-financiacion {
    width: 80% !important;
    margin: 0 auto;
  }
  .tabla-financiacion td {
    border: 1px solid #cdcdcd;
    padding: 30px 5px;
    position: relative;
    width: 100%;
    display: inline-block;
  }
  .tabla-financiacion td img {
    position: relative;
    z-index: 9999;
    margin: 0 auto;
  }
  .tabla-financiacion td:hover:before {
    opacity: 1;
  }
  .tabla-financiacion td:before {
    position: absolute;
    content: "";
    top: -2px;
    left: -2px;
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid #00B4DF;
    opacity: 0;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
  }
  .tabla-puntajes tr td {
    width: 100%;
    display: inline-block;
  }
  .tabla-puntajes tr td p {
    padding: 0 0 20px 0 !important;
  }
  .tabla-icfes {
    border-spacing: 12px;
    border-collapse: separate;
    width: 80% !important;
    margin: 0 auto;
  }
  .tabla-icfes td {
    border: 1px solid #d9d9d9;
    padding: 15px 40px;
    vertical-align: middle;
    height: auto;
    position: relative;
    width: 64%;
    display: inline-block;
  }
  .tabla-icfes td:before {
    position: absolute;
    content: "";
    width: 12px;
    height: 101%;
    top: -1px;
    left: -1px;
    background-size: cover;
  }
  .tabla-icfes td h3 {
    width: 100%;
    float: left;
    font-family: 'Comfortaa', cursive;
    font-size: 2.4rem;
  }
  .tabla-icfes td ul {
    width: 100%;
    float: left;
    margin: 0;
  }
  .tabla-icfes td ul li {
    margin-bottom: 0;
  }
  .tabla-icfes td ul li:before {
    display: none;
  }
  .borde {
    width: 97%;
  }
  .tabla-center {
    width: 95% !important;
  }
  .moduletablenoticias .nspImageWrapper {
    margin: 0 !important;
    width: 100%;
  }
  .moduletablenoticias .nspImageWrapper img {
    margin: 0 auto !important;
    float: none;
  }
  .moduletablenoticias .nspArt {
    margin-bottom: 30px;
  }
  .moduletablenoticias .nspArt > div {
    padding-top: 0 !important;
  }
  .moduletablenoticias .nspArt h4.nspHeader {
    width: 100%;
  }
  #k2Container .itemListCategory h2 {
    margin-top: 40px;
  }
  #k2Container .itemComments .itemCommentsForm input[type="text"] {
    width: 98%;
  }
  #k2Container .itemSocialSharing .volver-blog {
    clear: both;
  }
  #k2Container .itemSocialSharing .itemTwitterButton,
  #k2Container .itemSocialSharing .itemFacebookButton {
    clear: both;
    float: left;
  }
  #k2Container .itemSocialSharing .itemTwitterButton {
    margin-top: 20px;
  }
  .catItemBody .catItemIntroText img {
    margin: 0 auto;
    width: 100%;
  }
  .catItemBody .catItemIntroText .content-rigth {
    width: 100%;
  }
  .catItemBody .catItemIntroText .content-rigth .catItemTitle {
    margin: 20px 0;
    font-size: 20px;
  }
  .catItemBody .catItemIntroText .content-rigth .catItemReadMore a {
    margin-top: 14px;
  }
  .catItemBody .catItemIntroText .content-rigth .redes-browse {
    width: 100%;
    height: auto;
    margin-top: 10px;
    display: inline-block;
  }
  .catItemBody .catItemIntroText .content-rigth .redes-browse .itemTwitterButton,
  .catItemBody .catItemIntroText .content-rigth .redes-browse .itemFacebookButton {
    float: left;
    clear: both;
  }
  .catItemBody .catItemIntroText .content-rigth .redes-browse .itemTwitterButton {
    margin: 2px 0 0;
    width: 90px;
  }
  .catItemBody .catItemIntroText .content-rigth .redes-browse .itemFacebookButton {
    margin-top: 3px;
    width: 120px;
  }
  .moduletablecol2 .nspArtPage .nspArt {
    width: 99% !important;
    padding: 20px !important;
    position: relative;
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
    border-bottom: 1px solid #B3B3B3 !important;
  }
  .moduletablecol2 .nspArtPage .nspArt h4.nspHeader {
    width: 100%;
  }
  .item-pageciencias-salud h2 span {
    width: 90% !important;
    font-size: 30px;
  }
  .blog-lista,
  .blog-lista-azul {
    text-align: center;
  }
  .blog-lista li,
  .blog-lista-azul li {
    width: 98%;
  }
  .blog-lista li > *,
  .blog-lista-azul li > * {
    width: 100%;
  }
  .blog-lista li img,
  .blog-lista-azul li img {
    margin: 0 auto;
  }
  .blog-lista li h3,
  .blog-lista-azul li h3 {
    text-align: center;
  }
  #k2Container .itemLinks .itemCategory {
    margin-top: 40px;
  }
  #k2Container .itemLinks .itemCategory:after {
    display: none;
  }
  #k2Container .itemLinks .itemCategory a {
    text-align: center;
    font-size: 3rem;
  }
  .formTableLayout {
    width: 99%;
    margin: 0 auto;
    text-align: left;
  }
  .formTableLayout td {
    width: 100%;
    display: inline-block;
  }
  .rsform-submit-button {
    padding: 10px 0;
    width: 99%;
  }
  .formTableLeft .rsform-input-box,
  .formTableRight .rsform-input-box {
    width: 95%;
  }
  .formTableRight .rsform-text-box {
    width: 95%;
  }
  .datos-contacto {
    margin-top: 50px;
  }
  .datos-contacto td {
    width: 100%;
    display: inline-block;
    padding-bottom: 25px;
  }
  #jcemediabox-popup-body {
    width: 300px !important;
  }
  #jcemediabox-popup-body #jcemediabox-popup-content {
    width: 280px !important;
  }
  .k2Pagination {
    color: transparent !important;
  }
  .k2Pagination ul li {
    float: left;
    margin-bottom: 15px;
  }
  #jcl_component .weekdaytopclr,
  #jcl_component .sundaytopclr {
    font-size: 1rem !important;
    padding: 13px 0 !important;
  }
  #jcl_component .jcl_current {
    width: 100%;
  }
  #jcl_component .jcl_navbar {
    height: auto;
    padding: 8px 0;
  }
  #jcl_component .jcl_nav {
    width: 100%;
    padding: 6px 0px;
  }
  #jcl_component .jcal_category {
    width: 90%;
  }
  #jcl_component .jcl_month_table .jcl_month_row td.jcl_month_cell {
    height: auto;
  }
  .jcl_month {
    margin-top: 40px;
  }
  h2.componentheading {
    margin-top: 40px;
  }
  h2.componentheading span {
    text-align: center;
  }
  .jcl_table {
    width: 100% !important;
    display: inline-block;
  }
  .jcl_table thead tr {
    width: 93% !important;
    display: inline-block;
    float: left;
  }
  .jcl_table tr {
    width: 100% !important;
    display: inline-block;
    float: left;
  }
  .jcl_table tr td {
    width: 94% !important;
    display: inline-block;
    word-wrap: break-word !important;
    white-space: normal !important;
  }
  .jcl_table tr th {
    width: 100% !important;
    display: inline-block;
  }
  .eventdesclarge img {
    float: none !important;
    margin: 10px 0 !important;
  }
  .virtuemart_search {
    margin-bottom: 30px;
  }
  .virtuemart_search .inputbox {
    width: 94%;
    padding: 9px;
    background: #ebebeb;
    border: 0;
    border-radius: 0;
    font-family: 'Arimo', sans-serif;
    font-size: 1.5rem;
    color: #8d8d8d;
  }
  .virtuemart_search .button {
    background: #00B4DF;
    color: #FFFFFF;
    border: 0;
    padding: 6px 20px;
    font-family: 'Roboto Slab', serif;
    font-size: 1.6rem;
    display: inline-block;
    cursor: pointer;
    -webkit-appearance: none;
    border-radius: 0;
    position: relative;
    top: 5px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
  }
  .virtuemart_search .button:hover {
    background: #0979C3;
  }
  form.rsf_form {
    width: 95%;
  }
  .tabla-formuario .rsform-text-box {
    width: 100% !important;
  }
  .tabla-formuario .rsform-block.rsform-block-email,
  .tabla-formuario .rsform-block.rsform-block-tel,
  .tabla-formuario .rsform-block.rsform-block-ciudad,
  .tabla-formuario .rsform-block.rsform-block-nombre {
    width: 100%;
  }
  .tabla-formuario .rsform-submit-button {
    width: 32%;
  }
}
@media only screen and (max-width: 570px) and (min-width: 480px) {
  .section.page-one header .moduletablebuscar input[type="text"] {
    width: 88% !important;
    padding: 7px 0 7px 10px !important;
  }
  main .browse-view .row .width70 {
    width: 100% !important;
  }
  main .browse-view h1 span {
    padding-left: 30px;
  }
  main .browse-view {
    margin-top: 183px !important;
  }
  main .category-view {
    margin-bottom: 0 !important;
  }
  main .productdetails-view .product-description {
    width: 100% !important;
  }
  main .productdetails-view .formulario-catalogo {
    width: 100% !important;
    text-align: center !important;
  }
  main .productdetails-view .formulario-catalogo iframe {
    width: 327px !important;
  }
  main .img-top .product-fields .img-detalle-catalogo img {
    width: 100% !important;
    margin-top: 0px !important;
  }
  main .img-top .product-fields .img-detalle-catalogo {
    margin-left: 0 !important;
  }
  main .img-top {
    height: 78px !important;
  }
  main .productdetails-view h1 span {
    width: auto !important;
    font-size: 3rem !important;
  }
  .item-pageque-es-ibero h2 {
    margin-top: 50px;
  }
  .item-pageque-es-ibero p {
    padding: 0 10px;
  }
  .item-page h2 {
    margin-top: 50px;
  }
  .tabla-responsive td {
    padding: 10px 2px;
    width: 100%;
    display: inline-block;
  }
  .menu-lateral .moduletable #jj_sl_navigation {
    top: 25%;
    opacity: 0.7;
  }
  .tabla-publicaciones .borde {
    padding: 10px;
    background: #f3f3f3;
  }
  .tabla-publicaciones td {
    width: 100%;
    vertical-align: top;
    display: inline-block;
    text-align: center;
  }
  .tabla-publicaciones td img {
    margin: 0 auto;
  }
  .tabla-publicaciones td p {
    text-align: center;
    font-family: 'Comfortaa', cursive;
    font-weight: lighter;
    font-size: 1.9rem;
  }
  .tabla-publicaciones td:last-child {
    padding-top: 40px;
  }
  .tabla-acordeon .borde {
    padding: 10px;
    background: #f3f3f3;
  }
  .tabla-acordeon td {
    width: 100%;
    vertical-align: top;
    display: inline-block;
    text-align: center;
  }
  .tabla-acordeon td img {
    margin: 0 auto;
  }
  .tabla-acordeon td p {
    text-align: center;
    font-family: 'Comfortaa', cursive;
    font-weight: lighter;
    font-size: 1.9rem;
  }
  .tabla-acordeon td:last-child {
    padding-top: 40px;
  }
  div.nn_sliders_content_wrapper div.nn_sliders_content {
    border: 0 !important;
    padding-bottom: 30px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
    padding-top: 10px !important;
    border-radius: 0;
    background: ;
    font-family:  !important;
    margin-bottom: 0px;
    color: #B3B3B3;
  }
  div.nn_sliders_slider a:after {
    display: none;
  }
  div.nn_sliders_slider a:hover:after {
    display: none;
  }
  div.nn_sliders_slider.active a:after,
  div.nn_sliders_slider.active a:hover:after {
    display: none;
  }
  div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li {
    width: 100%;
    display: inline-block;
    float: left;
  }
  .tabla-convenios td {
    width: 100%;
    padding: 0;
    vertical-align: middle;
    display: inline-block;
  }
  .tabla-convenios td img {
    margin: 0 auto;
  }
  .tabla-tabs td {
    width: 100%;
    padding: 0;
    vertical-align: middle;
    display: inline-block;
  }
  .tabla-tabs td img {
    margin: 20px auto 0;
  }
  div.nn_tabs_container > div.nn_tabs_content {
    border: 0;
    background: ;
    padding: 30px 5px 10px 5px;
  }
  .tabla-base.movil {
    width: 100% !important;
  }
  .tabla-base.movil tbody {
    display: block;
    overflow-x: auto;
    width: 95%;
  }
  .tabla-base.movil td {
    padding: 15px 1px;
    font-size: 12px;
  }
  .tabla-formuario .rsform-text-box {
    width: 100% !important;
  }
  .tabla-formuario .rsform-block.rsform-block-email,
  .tabla-formuario .rsform-block.rsform-block-tel,
  .tabla-formuario .rsform-block.rsform-block-ciudad,
  .tabla-formuario .rsform-block.rsform-block-nombre {
    width: 100%;
  }
}
