.fondo-rosado{}
.fondo-verde{}
.fondo-naranja{}
.img-detalle-catalogo{}
p {margin: 0;}
.texto-azul {color: #00B4DF;}
h3, h4 {margin: 0;}
.columna-gris {
	background:#ccc;
}
.columna-azul {
	background: #003B5D;
	color: #fff;
}