/**
 * NoNumber Framework status bar stylesheet
 *
 * @package         NoNumber Framework
 * @version         14.4.4
 *
 * @author          Peter van Westen <peter@nonumber.nl>
 * @link            http://www.nonumber.nl
 * @copyright       Copyright © 2014 NoNumber All Rights Reserved
 * @license         http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL
 */
/* fix for J1.7 tooltips */
div.tip-wrap {
  z-index: 150;
}
/* status bar links */
span.nn_status,
#module-status span.nn_status {
  position: relative;
  padding: 0;
  margin: 0;
  margin-right: 10px;
}
#module-status span.nn_status [class^="nnicon-"],
#module-status span.nn_status [class*=" nnicon-"] {
  width: 10px;
  height: 10px;
  line-height: 10px;
  font-size: 12px;
}
#module-status span.nn_status a,
#module-status span.nn_status a:hover {
  text-decoration: none;
}
#module-status span.nn_status a.nn_status_link {
  padding: 0;
  margin: 0;
}
span.nn_status a.nn_status_link span,
#module-status span.nn_status a.nn_status_link span.nn_status_text {
  min-height: 16px;
  cursor: pointer;
}
#module-status span.nn_status a.nn_status_link span {
  display: block;
  float: left;
  line-height: 16px;
  margin-bottom: 5px;
  padding: 4px 0 0 22px;
}
span.nn_status a.nn_status_link span.nn_status_text {
  background: transparent url(../images/status.png) no-repeat 3px 3px;
}
span.nn_status.no_icon a.nn_status_link span,
#module-status span.nn_status.no_icon a.nn_status_link span.nn_status_text {
  background: none !important;
  padding-left: 0;
}
span.nn_status.no_text a.nn_status_link,
#module-status span.nn_status.no_text a.nn_status_link {
  text-decoration: none;
}
span.nn_status.no_text a.nn_status_link span,
#module-status span.nn_status.no_text a.nn_status_link span.nn_status_text {
  padding-left: 0;
  width: 22px;
}
/* submenu */
span.nn_status div.nn_status_submenu {
  position: absolute;
  display: none;
  left: 12px;
  top: 20px;
  margin: 0;
  padding: 0;
  border: 1px solid #999999;
  background-color: #F6F6F6;
  overflow: hidden;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  z-index: 49;
}
span.nn_status:hover div.nn_status_submenu {
  display: block;
}
span.nn_status.no_icon div.nn_status_submenu,
span.nn_status.no_text div.nn_status_submenu {
  left: -10px;
}
span.nn_status div.nn_status_submenu ul,
span.nn_status div.nn_status_submenu li,
span.nn_status div.nn_status_submenu a,
span.nn_status div.nn_status_submenu span,
#module-status span.nn_status div.nn_status_submenu span {
  margin-bottom: 0 !important;
  margin: 0;
  padding: 0;
  float: none !important;
  display: block;
}
span.nn_status div.nn_status_submenu ul {
  float: left;
  overflow: hidden;
}
span.nn_status div.nn_status_submenu li {
  position: relative;
  list-style: none;
  border-top: 1px solid #CCCCCC;
  clear: both;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
span.nn_status div.nn_status_submenu li:first-child {
  border-top: none;
}
span.nn_status div.nn_status_submenu li > a,
span.nn_status div.nn_status_submenu li > span,
#module-status span.nn_status div.nn_status_submenu li > a,
#module-status span.nn_status div.nn_status_submenu li > span {
  white-space: nowrap;
  color: #333333;
  font-weight: normal;
  padding: 4px 10px 2px 10px;
  min-height: 18px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
span.nn_status div.nn_status_submenu li:first-child > a,
#module-status span.nn_status div.nn_status_submenu li:first-child > a {
  border-top: none;
  -webkit-border-top-left-radius: 8px;
  -moz-border-radius-topleft: 8px;
  border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  -moz-border-radius-topright: 8px;
  border-top-right-radius: 8px;
}
span.nn_status div.nn_status_submenu li:last-child > a,
#module-status span.nn_status div.nn_status_submenu li:last-child > a {
  -webkit-border-bottom-left-radius: 8px;
  -moz-border-radius-bottomleft: 8px;
  border-bottom-left-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  border-bottom-right-radius: 8px;
}
span.nn_status div.nn_status_submenu li > a:hover {
  background-color: #DDDDDD;
  color: #000000;
}
span.nn_status div.nn_status_submenu span.nn_status_textlinks {
  padding: 2px 5px !important;
  position: absolute;
  top: 0;
  right: 0;
}
span.nn_status div.nn_status_submenu a.nn_status_textlink,
span.nn_status div.nn_status_submenu a.nn_status_textlink span {
  float: none !important;
  display: inline !important;
  padding: 0 !important;
  margin: 0 !important;
}
span.nn_status div.nn_status_submenu a.nn_status_textlink {
  padding: 2px !important;
}
span.nn_status div.nn_status_submenu .nn_status_listitem span {
  float: none !important;
  display: inline !important;
}
/* APLite template */
#module-status.ap-status {
  overflow: visible;
}
#module-status.ap-status span.nn_status {
  float: none;
  margin-right: 0;
}
#module-status.ap-status span.nn_status a.nn_status_link span.nn_status_text {
  float: none;
  display: inline-block;
  background-position: 0 0;
  margin-bottom: 0;
  padding: 0 0 0 18px;
}
#module-status.ap-status span.nn_status span#no_text a.nn_status_link span.nn_status_text {
  width: 16px;
}
#module-status.ap-status span.nn_status div.nn_status_submenu {
  top: 16px;
  text-align: left;
}
/* Mission Control template */
#mc-status span.nn_status {
  display: block;
  margin-right: 0;
}
#mc-status span.nn_status a.nn_status_link span.nn_status_text {
  padding-left: 22px;
}
#mc-status span.nn_status a.nn_status_link span.nn_status_text {
  background-position: 0 0;
  background-image: url(../images/status2.png);
}
#mc-status span.nn_status.no_icon a.nn_status_link span.nn_status_text {
  padding-left: 0;
}
#mc-status span.nn_status.no_text a.nn_status_link span.nn_status_text {
  width: 16px;
  padding-left: 0;
}
