/**
 * @package		JCalPro
 * @subpackage	mod_jcalpro_calendar

**********************************************
JCal Pro
Copyright (c) 2006-2012 Anything-Digital.com
**********************************************
JCalPro is a native Joomla! calendar component for Joomla!

JCal Pro was once a fork of the existing Extcalendar component for Joomla!
(com_extcal_0_9_2_RC4.zip from mamboguru.com).
Extcal (http://sourceforge.net/projects/extcal) was renamed
and adapted to become a Mambo/Joomla! component by
Matthew Friedman, and further modified by David McKinnis
(mamboguru.com) to repair some security holes.

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This header must not be removed. Additional contributions/changes
may be added to this header as long as no information is deleted.
**********************************************
Get the latest version of JCal Pro at:
http://anything-digital.com/
**********************************************

 */
.jcalpro_calendar_table {
  table-layout: fixed;
  text-align: center;
  width: 100%;
}
.jcalpro_calendar_table td {
  vertical-align: top;
}
.jcalpro_calendar_month {
	text-align: center;
	font-weight: bold;
}
/* horizontal */
.jcalpro_calendar_horizontal .jcalpro_calendar_list li {
	float: left;
	display: block;
	width: 20px;
	text-align: center;
}
.jcalpro_calendar_horizontal .jcalpro_calendar_list a,
.jcalpro_calendar_horizontal .jcalpro_calendar_list a:link,
.jcalpro_calendar_horizontal .jcalpro_calendar_list a:visited,
.jcalpro_calendar_horizontal .jcalpro_calendar_list a:hover,
.jcalpro_calendar_horizontal .jcalpro_calendar_list a:active {
	text-align: center;
	padding: 0px;
	margin: 0px;
}
.jcalpro_calendar_horizontal .jcalpro_calendar_month {
	float: right;
	display: block;
}
.jcalpro_calendar_nav_prev {
	float: left;
}
.jcalpro_calendar_nav_next {
	float: right;
}
.jcalpro_calendar {
	position: relative;
}
.jcalpro_calendar .jcalpro_calendar_loader {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}