/**
 * @package		JCalPro
 * @subpackage	com_jcalpro
Copyright (c) 2006-2012 Anything-Digital.com
 */

#jcl_component #map_canvas_container {
	min-width: 200px;
	width: 100%;
	height: 300px;
	position: relative;
	display: block;
}

#jcl_component #map_canvas {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 300px;
}

fieldset.adminform textarea {
	width: auto !important;
}