/**
 * @package		JCalPro
 * @subpackage	com_jcalpro
Copyright (c) 2006-2012 Anything-Digital.com
 */

fieldset {
	border: 1px solid #CCCCCC !important;
	margin-bottom: 10px !important;
	padding: 5px !important;
	text-align: left;
}

legend {
	color: #146295;
	font-size: 1.182em;
	font-weight: bold;
}

fieldset.adminform legend {
	margin: 0;
	padding: 0;
}

.modal-header {
	height: 30px;
	line-height: 30px;
	background: #c9c9c9;
	vertical-align: center;
}

.modal-header button {
	float: right;
	text-align: center;
}

.modal-title {
	font-size: 18px;
	font-weight: bold;
	color: #ffffff;
}

.jcl_bootstrap .modal-header {
	height: 22px;
	line-height: 22px;
}

#jcl_component .catselectForm fieldset {
	margin: 0px !important;
	padding: 0px !important;
}

#jcl_component .catselectForm {
	margin: 0px !important;
}

#jcl_component .catselectForm select {
	width: 100% !important;
	height: 200px !important;
	margin: 0px !important;
	font-size: 1.1em;
}

#jcl_component .catselectForm option {
	padding: 1px 3px;
}

body.contentpane {
	margin: 0px !important;
	padding: 0px !important;
}

#main {
	min-height: 190px !important;
	padding: 0px !important;
}

#system-debug {
	display: none;
}

#adminForm table.adminlist .pointer {
	text-decoration: underline;
	cursor: pointer;
}

#adminForm .filter {
	text-align: left;
}

#adminForm .left {
	float: left;
	width: auto;
}

#adminForm .right {
	float: right;
}

#adminForm fieldset {
	text-align: left;
}

.icon-32-new {
	background-image: url(../images/icon-32-new.png);
}

.icon-32-apply {
	background-image: url(../images/icon-32-apply.png);
}

.icon-32-save {
	background-image: url(../images/icon-32-save.png);
}

.icon-32-cancel {
	background-image: url(../images/icon-32-cancel.png);
}

.clearfix {clear:both}

div.toolbar-list .button {
	background-color: transparent !important;
	background-image: none !important;
	border: 0px solid #fff !important;
}

div.toolbar-list span {
	display: block;
	float: none;
	height: 32px;
	margin: 0 auto;
	width: 32px;
}

div.toolbar-list ul {
	margin: 0;
	padding: 0;
	float: right;
}

div.toolbar-list li {
	color: #666666;
	display: inline-block;
	height: 48px;
	list-style: none outside none;
	padding: 1px 1px 3px 4px;
	text-align: center;
}

div.toolbar-list a {
	border: 1px solid #F4F4F4;
	cursor: pointer;
	display: block;
/*	float: left;*/
	padding: 1px 5px;
	white-space: nowrap;
}

div.width-40 {width: 40%}
div.width-60 {width: 60%}
.fltlft {float:left}

table.adminlist {
	background-color: #F3F3F3;
	border-spacing: 1px;
	color: #666666;
	width: 100%;
}

table.adminlist td, table.adminlist th {
	padding: 4px;
}

table.adminlist td {
	padding-left: 8px;
}

table.adminlist thead th {
	background: none repeat scroll 0 0 #F7F7F7;
	border-bottom: 1px solid #CCCCCC;
	border-left: 1px solid #FFFFFF;
	color: #666666;
	text-align: center;
}

table.adminlist tbody tr {
	background-color: #FFFFFF;
	text-align: left;
}

table.adminlist tbody tr td {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #FFFFFF;
}

tr.row1 {
	background-color: #F0F0EE;
}

table.adminlist tbody tr.row1 td {
	background: none repeat scroll 0 0 #F0F0F0;
	border-top: 1px solid #FFFFFF;
}

ul.adminformlist, ul.adminformlist li {
	list-style: none outside none;
	margin: 0;
	padding: 0;
}

fieldset.adminform label, fieldset.adminform span.faux-label {
	min-width: 80px;
	clear: left;
	display: block;
	float: left;
	margin: 5px 0;
}

fieldset label {
	float: left;
}

fieldset input, fieldset textarea, fieldset select, fieldset img, fieldset button {
	float: left;
	margin: 5px 0 !important;
	width: auto;
}

div.width-20 fieldset, div.width-30 fieldset, div.width-35 fieldset, div.width-40 fieldset, div.width-45 fieldset, div.width-50 fieldset, div.width-55 fieldset, div.width-60 fieldset, div.width-65 fieldset, div.width-70 fieldset, div.width-80 fieldset, div.width-100 fieldset {
	background-color: #FFFFFF;
	padding: 5px 17px 17px !important;
}

.container {
	clear: both;
	text-align: center;
	text-decoration: none;
}

table.adminlist .list-footer {
	margin: 0 auto;
	padding: 0;
}

table.adminlist .list-footer div.limit {
	float: left;
	height: 22px;
	line-height: 22px;
	margin: 0 10px;
}

table.adminlist .list-footer div.counter {
	float: right;
	height: 22px;
	line-height: 22px;
	margin: 0 10px;
}

table.adminlist .list-footer ul,
table.adminlist .list-footer ul li {
	list-style-type: none;
}

table.adminlist .list-footer ul li {
	float: left;
	margin: 0 5px !important;
}

#all {
	padding-top: 0px;
	padding-top: 0px !important;
}

@media (max-width: 360px) {
	.modal-title {
		font-size: 12px;
	}
}