/**
* @package		JJ Social Slider
* @author		JoomJunk
* @copyright	Copyright (C) 2011 - 2014 JoomJunk. All Rights Reserved
* @license		http://www.gnu.org/licenses/gpl-3.0.html
*/

ul#jj_sl_navigation {
    position: fixed;
    margin: 0px;
    padding: 0px;
    list-style: none;
    z-index:9999;
	font-family: Arial,Helvetica,sans-serif;
}
ul#jj_sl_navigation li {
	padding: 1px 0px 1px 0px;
    overflow:hidden;
	direction: ltr;
	border: 0;
}

ul#jj_sl_navigation li a {
    display: block;
    width: 170px;  
    background-repeat:no-repeat;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
ul.jj_sl_navigation li a:focus {
	outline: 0;
}
ul#jj_sl_navigation li a .jj_social_text {
	display: inline-block;
	width: 130px;
	text-transform: inherit;
}
ul#jj_sl_navigation .jj_sl_facebook a:hover{ background-color: #3B5998; }
ul#jj_sl_navigation .jj_sl_twitter a:hover{ background-color: #62BDB2; }
ul#jj_sl_navigation .jj_sl_google a:hover{ background-color: #DB4A39; }
ul#jj_sl_navigation .jj_sl_myspace a:hover{ background-color: #3B64B3; }
ul#jj_sl_navigation .jj_sl_youtube a:hover{ background-color: #CC252C; }
ul#jj_sl_navigation .jj_sl_linkedin a:hover{ background-color: #4F93B3; }
ul#jj_sl_navigation .jj_sl_steam a:hover{ background-color: #111111; }
ul#jj_sl_navigation .jj_sl_lastfm a:hover{ background-color: #bf0d1c; }
ul#jj_sl_navigation .jj_sl_pinterest a:hover{ background-color: #b61d23; }
ul#jj_sl_navigation .jj_sl_soundcloud a:hover{ background-color: #ff5419; }
ul#jj_sl_navigation .jj_sl_tumblr a:hover{ background-color: #304e6c; }
ul#jj_sl_navigation .jj_sl_github a:hover{ background-color: #222222; }
ul#jj_sl_navigation .jj_sl_flickr a:hover{ background-color: #ff0084; }
ul#jj_sl_navigation .jj_sl_rss a:hover{ background-color: #FF6600; }
ul#jj_sl_navigation .jj_sl_vimeo a:hover{ background-color: #1BB7EA; }

ul#jj_sl_navigation .jj_sl_facebook a:hover, 
ul#jj_sl_navigation .jj_sl_twitter a:hover, 
ul#jj_sl_navigation .jj_sl_google a:hover, 
ul#jj_sl_navigation .jj_sl_myspace a:hover,
ul#jj_sl_navigation .jj_sl_youtube a:hover,
ul#jj_sl_navigation .jj_sl_linkedin a:hover,
ul#jj_sl_navigation .jj_sl_steam a:hover,
ul#jj_sl_navigation .jj_sl_lastfm a:hover,
ul#jj_sl_navigation .jj_sl_pinterest a:hover,
ul#jj_sl_navigation .jj_sl_soundcloud a:hover,
ul#jj_sl_navigation .jj_sl_tumblr a:hover,
ul#jj_sl_navigation .jj_sl_github a:hover,
ul#jj_sl_navigation .jj_sl_flickr a:hover,
ul#jj_sl_navigation .jj_sl_rss a:hover,
ul#jj_sl_navigation .jj_sl_vimeo a:hover,
ul#jj_sl_navigation .jj_sl_custom1 a:hover,
ul#jj_sl_navigation .jj_sl_custom2 a:hover,
ul#jj_sl_navigation .jj_sl_custom3 a:hover,
ul#jj_sl_navigation .jj_sl_custom4 a:hover,
ul#jj_sl_navigation .jj_sl_custom5 a:hover{
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
