/* eXtro BGS CSS file */

body { margin:0 !important; padding: 0 !important; }
.extrobgs > ul, .extrobgs > ul:after { height: 100%; list-style: none outside none; margin: 0 auto; max-width: 100%; padding: 0; position: relative; width: 100%; }
.extrobgs-fullwidth > ul { overflow: hidden; }
.extrobgs li { height: 100%; left: 0; opacity: 0; pointer-events: none; position: absolute; top: 0; width: 100%; z-index: 999; }
.extrobgs-fullwidth li { overflow: hidden; }
.extrobgs .current { opacity: 1; pointer-events: auto; z-index: 1000; }
.extrobgs > ul { list-style: none outside none; }
.extrobgs { margin: 0; max-width: 100%; position: fixed; top: 0; }
.extrobgs-fullwidth { background: none repeat scroll 0 0 transparent; height: 100%; margin-bottom: 0; width: 100%; z-index: -1; }
.extrobgs ul li img { height: 100%; width: 100%; }
div.extrobgs.extrobgs-fullwidth ul.itemwrap li div { z-index: 1000; position: absolute; bottom: 50px; left: 0px; width: 100%; text-align: center; opacity: 0; }
div.extrobgs.extrobgs-fullwidth ul.itemwrap li span { width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; color: transparent; background-size: cover; background-position: 50% 50%; background-repeat: none; }
div.extrobgs.extrobgs-fullwidth ul.itemwrap li div h3 { padding: 0 30px; opacity: 0.8; }

